@model WillAssure.Models.LoginModel
@{
    ViewBag.Title = "DashBoardPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">

            <div class="col-sm-4">
                <div class="card gradient-blooker">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Distributor Admin</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalDistributorAdmin</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card gradient-bloody">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Will Employee</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalWillEmployee</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card gradient-ohhappiness">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Distributor Employee</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalDistributorEmployee</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-sm-4">
                <div class="card gradient-scooter">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Testator</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalTestator</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card gradient-bloody">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Number Of Family</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalFamily</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card gradient-blooker">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total AssetInformation Added</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalAssetInformation</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-sm-4">
                <div class="card gradient-bloody">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Beneficiary</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalBeneficiary</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card gradient-blooker">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Nominee</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalNominee</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card gradient-bloody">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <p class="text-white">Total Appointees</p>
                                <h4 class="text-white line-height-5">@ViewBag.TotalAppointees</h4>
                            </div>
                            <div class="w-circle-icon rounded-circle border border-white">
                                <i class="fa fa-users text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <button type="button" id="btnOTPCheckFAILED" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button style="display:none;" class="btn btn-outline-primary btn-block m-1" id="btnotp" data-toggle="modal" data-target="#primarymodal">Primary</button>

        <button style="display:none;" class="btn btn-outline-primary btn-block m-1" id="btnpay" data-toggle="modal" data-target="#primarymodal2">Primary</button>
    </div>


</div>
@*end*@


@*otp screen*@



<!--Primary Modal -->

<div class="modal fade" id="primarymodal">
    <div class="modal-dialog">
        <div class="modal-content border-primary">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Please Enter OTP For Login</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {


                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="input-1">Enter OTP:</label>

                                @Html.TextBoxFor(m => m.OTP, new { @class = "form-control validate[required,custom[characteronly]] text-input", @id = "txtRole", @placeholder = "Enter OTP Number", @style = "width:241px;", @autocomplete = "off", alert = "LabourCost is requried" })
                                <span style="color:red;" id="lblerror">@Html.ValidationMessageFor(m => m.OTP)</span>
                            </div>
                        </div>




                    </div>



                    <div class="form-group">
                        <input type="submit" formaction="@Url.Action("VerifyOTP","DashBoard")" name="name" class="btn btn-success" value="Verify OTP" />

                    </div>

                }

            </div>

        </div>
    </div>
</div><!--End Modal -->
@*payment popup*@
<div class="modal fade" id="primarymodal2">
    <div class="modal-dialog">
        <div class="modal-content border-primary">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white"> Payment</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="input-1" style="white-space: nowrap;">Click On The Below Link For Payment :</label>
                            <a href="https://razorpay.com/">Make A Payment</a>

                        </div>




                    </div>







                </div>

            </div>
        </div>
    </div>
</div>



@*end*@



@*end*@



@if (ViewBag.Testatorpopup == "true")
{
    <script>

        $(document).ready(function () {
            $("#btnotp").on("click", function () { });

            $("#btnotp").click(); //trigger event after listening to it.

        });
    </script>
    
}


@if (ViewBag.PaymentLink == "true")
{
    <script>

        $(document).ready(function () {
            $("#btnpay").on("click", function () { });

            $("#btnpay").click(); //trigger event after listening to it.
            getmenufortestator();
        });


        function getmenufortestator() {
            var url = "/DashBoard/DashBoardIndex/";
            window.location.href = url;
        }


    </script>
   
}



@if (ViewBag.Message == "Failed")
{
    <script>

        $(document).ready(function () {
            $("#lblerror").html("Invalid OTP Number");

        });
    </script>

}