@model WillAssure.Models.LoginModel
@{
    /**/

    ViewBag.Title = "DashBoardPageContent";
}

@if (Session["documentamount"] == null || Session["documentamount"].ToString() == "")
{
    <script>
        var NestId = data
        var url = "/LoginPage/ViewLogout/";
        window.location.href = url;
    </script>

}

@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <center>
            <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "Will" })" id="documentbtn1" style="display:none;"><button type="button" class="btn btn-primary btn-round waves-effect waves-light m-1">Will</button></a>
            <a href="@Url.Action("CodocilIndex","Codocil")" id="documentbtn2" style="display:none;"> <button type="button" class="btn btn-success btn-round waves-effect waves-light m-1">Codocil</button></a>
            <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "POA" } )" id="documentbtn3" style="display:none;"><button type="button" class="btn btn-info btn-round waves-effect waves-light m-1">POA</button></a>
            <a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "GiftDeeds" })" id="documentbtn4" style="display:none;"><button type="button" class="btn btn-danger btn-round waves-effect waves-light m-1">Gift Deeds</button></a>
            <a href="@Url.Action("LivingWillIndex","LivingWill", new { doctype = "LivingWill" })" id="documentbtn5" style="display:none;"><button type="button" class="btn btn-warning btn-round waves-effect waves-light m-1">Living Will</button></a>
        </center>
        <br />
        <br />
        <input type="hidden" name="name" id="test" value="@Session["documentamount"]" />

        @*@if (Session["Type"] == null)
            {
                <script>
                    var url = "/LoginPage/LoginPageIndex/";
                    window.location.href = url;
                </script>

            }*@



        @if (Session["Type"].ToString() != "Testator")
        {
            <div class="row">



                @if (Session["Type"].ToString() != "DistributorAdmin")
                {
                    <div class="col-sm-4">
                        <div class="card gradient-blooker">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="text-white">Total Distributor Register</p>
                                        <h4 class="text-white line-height-5">@ViewBag.TotalDistributorAdmin</h4>
                                    </div>
                                    <div class="w-circle-icon rounded-circle border border-white">
                                        <i class="fa fa-users text-white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                <div class="col-sm-4">
                    <div class="card gradient-scooter">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <p class="text-white">Total Testator Register</p>
                                    <h4 class="text-white line-height-5">@ViewBag.TotalTestator</h4>
                                </div>
                                <div class="w-circle-icon rounded-circle border border-white">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                @if (Session["Type"].ToString() == "SuperAdmin")
                {
                    <div class="col-sm-4">
                        <div class="card gradient-bloody">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <p class="text-white">Total Visitor Register</p>
                                        <h4 class="text-white line-height-5">@ViewBag.TotalVisitor</h4>
                                    </div>
                                    <div class="w-circle-icon rounded-circle border border-white">
                                        <i class="fa fa-users text-white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-sm-3">
                    <div class="card gradient-ohhappiness">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <p class="text-white">Total Will</p>
                                    <h4 class="text-white line-height-5">@ViewBag.Will</h4>
                                </div>
                                <div class="w-circle-icon rounded-circle border border-white">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-sm-3">
                    <div class="card gradient-blooker">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <p class="text-white">Total Codocil </p>
                                    <h4 class="text-white line-height-5">@ViewBag.Codocil</h4>
                                </div>
                                <div class="w-circle-icon rounded-circle border border-white">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class="card gradient-bloody">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <p class="text-white">Total POA </p>
                                    <h4 class="text-white line-height-5">@ViewBag.POA</h4>
                                </div>
                                <div class="w-circle-icon rounded-circle border border-white">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class="card gradient-blooker">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <p class="text-white">Total GiftDeeds </p>
                                    <h4 class="text-white line-height-5">@ViewBag.GiftDeeds</h4>
                                </div>
                                <div class="w-circle-icon rounded-circle border border-white">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        }


        <button type="button" id="btnOTPCheckFAILED" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button style="display:none;" class="btn btn-outline-primary btn-block m-1" id="btnotp" data-toggle="modal" data-target="#primarymodal">Primary</button>

        <button style="display:none;" class="btn btn-outline-primary btn-block m-1" id="btnpay" data-toggle="modal" data-target="#primarymodal2">Primary</button>
    </div>


</div>
@*end*@


@*otp screen*@



<!--Primary Modal -->

<div class="modal fade" id="primarymodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content border-primary">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Please Enter OTP For Login</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {


                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="input-1">Enter OTP:</label>

                                @Html.TextBoxFor(m => m.OTP, new { @class = "form-control input-shadow validate[required,custom[characteronly]] text-input", @id = "txtRole", @placeholder = "Enter OTP Number", @style = "width:241px;", @autocomplete = "off", alert = "LabourCost is requried" })
                                <span style="color:red; white-space:nowrap;" id="lblerror">@Html.ValidationMessageFor(m => m.OTP)</span>
                            </div>
                        </div>




                    </div>



                    <div class="form-group">
                        <input type="submit" formaction="@Url.Action("VerifyOTP","DashBoard")" name="name" class="btn btn-success" value="Verify OTP" />
                        <a href="@Url.Action("Logout", "LoginPage")"> <button type="button" class="btn btn-danger"> Cancel</button></a>
                    </div>

                }

            </div>

        </div>
    </div>
</div><!--End Modal -->
@*payment popup*@
<div class="modal fade" id="primarymodal2">
    <div class="modal-dialog">
        <div class="modal-content border-primary">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Payment</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="input-1" style="white-space: nowrap;">Click On The Below Button For Payment :</label>
                            <button id="rzp-button1" class="btn btn-danger">Pay</button>

                        </div>




                    </div>







                </div>

            </div>
        </div>
    </div>
</div>



@*end*@











@*end*@
@if (ViewBag.documentbtn1 == "true")
{

    <script>

        $("#documentbtn1").removeAttr("style");

    </script>

}
@if (ViewBag.documentbtn2 == "true")
{

    <script>

        $("#documentbtn2").removeAttr("style");

    </script>

}
@if (ViewBag.documentbtn3 == "true")
{

    <script>

        $("#documentbtn3").removeAttr("style");

    </script>

}
@if (ViewBag.documentbtn4 == "true")
{

    <script>

        $("#documentbtn4").removeAttr("style");

    </script>

}

@if (ViewBag.documentbtn5 == "true")
{

    <script>

        $("#documentbtn5").removeAttr("style");

    </script>

}


@if (ViewBag.Testatorpopup == "true")
{
    <script>

        $(document).ready(function () {
            $("#btnotp").on("click", function () { });

            $("#btnotp").click(); //trigger event after listening to it.

        });
    </script>


}






@if (ViewBag.Message == "Failed")
{
    <script>

        $(document).ready(function () {
            $("#lblerror").html("Invalid OTP Number");

        });
    </script>

}





@*payment integration script*@

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var v = parseInt($("#test").val()) * 100;

    var options = {
        "key": "rzp_test_GMBr5S3CwTimPr",
        "amount": "" + v + "", /// The amount is shown in currency subunits. Actual amount is ₹599.
        "name": "WillAssure",
        "order_id": "", // Pass the order ID if you are using Razorpay Orders.
        "currency": "INR", // Optional. Same as the Order currency
        "description": "Purchase Description",
        "image": "/assets/images/logo-icon.png",
        "handler": function (response) {
            //alert(response.razorpay_payment_id);

            var url = "/DashBoard/EnableDocumentLinks";
            window.location.href = url;
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "test@test.com"
        },
        "notes": {
            "address": "Hello World"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);

    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();


    }


    $("#btnpay").click(function () {

        $('#btnpay').dialog('close');
        return false;

    });

</script>



@if (ViewBag.PaymentLink == "true")
{
    <script>

        $(document).one('ready', function () {

            $("#btnpay").on("click", function () { });

            $("#btnpay").click(); //trigger event after listening to it.
        })















    </script>

    ViewBag.PaymentLink = "false";

}


@*end*@