@model WillAssure.Models.TemplateMasterModel
@{
    ViewBag.Title = "AddTemplateMasterContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">



                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "TemplateMasterForm" }))
                        {

                        <div class="row">
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label for="input-1">Template Type</label>

                                    @Html.DropDownListFor(x => x.templatetxt, new SelectListItem[]{
                                        new SelectListItem() {Text = "--Select Identity Proof--", Value="0"},
                                        new SelectListItem() {Text = "Will", Value="1"},
                                        new SelectListItem() {Text = "POA", Value="2"},
                                        new SelectListItem() {Text = "Gift Deed", Value="3"}} , new { @class="form-control" , @id= "ddltemplate" })

                                    @Html.HiddenFor(m => m.templateid, new { id = "templateid" })
                                    @Html.HiddenFor(m => m.templatetxt, new { id = "templatetxt" })
                                </div>



                            </div>





                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label for="input-1">Testator Type</label>

                                    @Html.DropDownListFor(x => x.testator_typetxt, new SelectListItem[]{
                          new SelectListItem() {Text = "--Select Identity Proof--", Value="0"},
                          new SelectListItem() {Text = "Will Testator", Value="1"},
                          new SelectListItem() {Text = "POA Principal", Value="2"},
                          new SelectListItem() {Text = "POA Revocation Principal", Value="2"},
                          new SelectListItem() {Text = "Gift Deed Donor", Value="3"},
                          new SelectListItem() {Text = "Living Will Testator", Value="1"},
                          new SelectListItem() {Text = "POA Health Care Principal", Value="2"}} , new { @class="form-control" , @id= "ddltestatortype" })

                           @Html.HiddenFor(m => m.testator_typeid, new { id = "testator_typeid" })
                           @Html.HiddenFor(m => m.testator_typetxt, new { id = "testator_typetxt" })

                                </div>



                            </div>



                            <div class="col-sm-4">     

                                <div class="form-group">
                                    <label for="input-1">Value</label>

                          @Html.DropDownListFor(x => x.testator_typetxt, new SelectListItem[]{
                          new SelectListItem() {Text = "WillTestator.rpt", Value="1"},
                          new SelectListItem() {Text = "POAPrincipal.rpt", Value="2"},
                          new SelectListItem() {Text = "POARevocationPrincipal.rpt", Value="2"},
                          new SelectListItem() {Text = "GiftDeedDonor.rpt", Value="3"},
                          new SelectListItem() {Text = "LivingWillTestator.rpt", Value="1"},
                          new SelectListItem() {Text = "POAHealthCarePrincipal.rpt", Value="2"}}, new { @class="form-control" , @id= "ddltestatortype" })
                                </div>


                                    
                            </div>


                        </div>



                           
                            <div class="form-group">

                                <button type="submit" id="btnTemplateformsubmit" formaction="InsertTemplateData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Generate Template</button>
                                <button type="button" id="btnRoleformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>

                            </div>

                        }
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>
@*end*@

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->


<script>
    $("#ddltemplate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddltemplate option:selected").html();

        $("#templatetxt").val(text);
        $("#templateid").val(value);


        $.ajax({

            type: "POST",
            url: " @Url.Action("onchangeddltestatortype", "AddTemplateMaster")",
            data: { "send" : ""+value+"" },
            success: function (data) {
                alert(data)
            }


        });


    });



    $("#ddltestatortype").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddltemplate option:selected").html();

        $("#testator_typetxt").val(text);
        $("#testator_typeid").val(value);
    });
</script>


