@model WillAssure.Models.LiabilitiesModel
@{
    ViewBag.Title = "AddLiabilitiesPageContent";
}


<style>
    ul#menu li {
        display: inline;
    }
</style>
@if (Session["Type"] == null || Session["Type"].ToString() == "")
{
    <script>
        var NestId = data
        var url = "/LoginPage/ViewLogout/";
        window.location.href = url;
    </script>

}
@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            <ul id="menu" style="font-weight:bold;">

                                <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:black;">Testator></li></a>
                                <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li style="color:black;">AssetInformation ></li></a>
                                <a href="@Url.Action("AddLiabilitiesIndex","AddLiabilities")"><li>Liabilites></li></a>
                                <li style="color:#e1e1e1">PetCare ></li>
                                <li style="color:#e1e1e1">Mapping ></li>
                                <li style="color:#e1e1e1">Nominee ></li>
                                <li style="color:#e1e1e1">Appointees > </li>
                                <li style="color:#e1e1e1">Document</li>

                            </ul>
                        </h5>
                        <div class="col-12 12">
                            <div class="card bg-transparent shadow-none border border-light-3">
                                <div class="card-header text-white border-light-3" style="background: #199d4b">
                                    Instructions

                                </div>
                                <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-title text-primary">Add Liabilities</div>

                        <hr class="div_rd">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RoleForm" }))
                        {
                            <div class="row">
                                <div class='col-sm-1'><label for='input-1' style="line-height:40px;"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Testator</label></div>
                                <div class="col-sm-3">

                                    @if (Session["Type"] != null)
                                    {
                                        if (Session["Type"].ToString() == "DistributorAdmin" || Session["Type"].ToString() == "SuperAdmin")
                                        {
                                            if (Session["disttestator"] != null || Session["distid"] != null)
                                            {
                                                <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                                <input type="hidden" name="ddltid" value="@Session["distid"].ToString()" />

                                            }
                                            else
                                            {
                                                <script>
                                                    var NestId = data
                                                    var url = "/LoginPage/LoginPageIndex/";
                                                    window.location.href = url;
                                                </script>
                                            }
                                        }
                                        else
                                        {
                                            <select id='DDLTestator' onchange="getDDLTestator(value)" name="contentList" class='form-control input-shadow validate[required]'></select>
                                            @Html.HiddenFor(m => m.ddltid, new { id = "ddltid", @name = "ddlTid" })
                                            @Html.HiddenFor(m => m.ddltestatorname, new { id = "ddltestatorname" })
                                        }
                                    }
                                    else
                                    {
                                        <script>
                                            var NestId = data
                                            var url = "/LoginPage/LoginPageIndex/";
                                            window.location.href = url;
                                        </script>
                                    }










                                </div>

                            </div>
                            <hr class="div_rd">
                            <input type="hidden" id="txtcheck" value="" name="name" />



                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Amount</label>

                                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-shadow validate[required,custom[number]] text-input", @id = "txtAmount", @placeholder = "Enter Amount", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>






                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Name</label>

                                        @Html.TextBoxFor(m => m.Name1, new { @class = "form-control input-shadow validate[required,custom[characteronly]] text-input", @id = "txtName", @placeholder = "Enter Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address</label>

                                        @Html.TextAreaFor(m => m.address, new { @class = "form-control input-shadow validate[required,custom[characteronly]] text-input", @id = "txtAddress", @placeholder = "Enter Address", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">State</label>

                                        <select id="ddlstate" class="form-control input-shadow validate[required]">
                                            <option value="">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                        @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" onchange="ddlcity(value)" class="form-control input-shadow validate[required]">
                                            <option value="">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                        @Html.HiddenFor(m => m.citytext, new { id = "citytext" })

                                    </div>

                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Pin</label>

                                        @Html.TextBoxFor(m => m.pin, new { @class = "form-control input-shadow validate[required,custom[PinCode]] text-input", @id = "txtRole", @placeholder = "Enter Pin", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Mobile</label>

                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-shadow validate[required,custom[Mobile]] text-input", @id = "txtRole", @placeholder = "Enter Mobile", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Details</label>

                                        @Html.TextAreaFor(m => m.Details, new { @class = "form-control input-shadow validate[required,custom[characteronly]] text-input", @id = "txtDetails", @placeholder = "Enter Details", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <hr />





                            </div>

                            <hr />
                            <center> <h5>Mapping</h5></center>
                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Financial Assets</label>



                                        <select id="ddlAssetType" class="form-control input-shadow validate[required]">
                                            <option value="">--Select--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.assettypeid, new { id = "assettypeid" })
                                        @Html.HiddenFor(m => m.assettypetext, new { id = "assettypetext" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Non Financial Asset</label>

                                        <select id="ddlAssetCategory" class="form-control input-shadow validate[required]">
                                            <option value="">--Select--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.assetCategoryid, new { id = "assetCategoryid" })
                                        @Html.HiddenFor(m => m.assetCategorytext, new { id = "assetCategorytext" })
                                        @Html.HiddenFor(m => m.amId, new { id = "amid" })
                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Proportion</label>

                                        @Html.TextBoxFor(m => m.Proportion, new { @class = "form-control input-shadow  text-input", @id = "txtDetails", @placeholder = "Enter Proportion", @onblur = "validateproportion(this.value)", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                            </div>


                            <div class="form-group" style="float:right">

                                <button type="submit" id="btnRoleformsubmit" formaction="InsertLiabilitiesDetails" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Add Liabilities</button>
                                <a href="@Url.Action("AddPetCareIndex","AddPetCare")"><button type="button" id="btnnext" style="display:" class="btn btn-danger shadow-primary px-5">Skip&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <button type="button" id="btnRoleformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btncheckliabilities" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>

        </div>


    </div>


</div>
@*end*@

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->

<script>
    $(document).ready(function () {

         $.ajax({

            type: "POST",
            url: "@Url.Action("BindAssetTypeDDL", "AddLiabilities")",
            success: function (data) {

                $('#ddlAssetType').empty().append('<option value="">--Select--</option>'+data);
            }



        });

    });

          $("#ddlAssetType").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlAssetType option:selected").html();

        $("#assettypetext").val(text);
        $("#assettypeid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("BindAssetCategoryDDL", "AddLiabilities")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlAssetCategory').empty().append('<option value="0">--Select--</option>'+data);
            }



        });








    });



</script>


<script>
    $(document).ready(function () {
        $("#RoleForm").validationEngine();
    });


</script>





@if (ViewBag.Message == "Duplicate")
{
    <script>

        $(document).ready(function () {


            $("#btnRoleformsubmitCHECK").on("click", function () { });

            $("#btnRoleformsubmitCHECK").click(); //trigger event after listening to it.




        });
    </script>

}


@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btnRoleformsubmitSUCCESS").on("click", function () { });

            $("#btnRoleformsubmitSUCCESS").click(); //trigger event after listening to it.

            $("#txtRole").val("");


        });
    </script>

}





<script>

  $(document).ready(function () {

            $.ajax({

                type: "POST",
                url:"@Url.Action("BindStateDDL", "AddLiabilities")",
                success: function (data) {
                    $('#ddlstate').empty().append(data);
                }
              });







    });


    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);



        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddLiabilities")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });





    });
</script>


<script>
    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);
    });
</script>


<script>

     $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddLiabilities")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          $("#confirmtestatorfamily").on("click", function () { });

                          $("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }



            }
          });


      function getDDLTestator(value) {
        //var value = $(this).children(":selected").attr("value");
        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddLiabilities")",
                 data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#btncheckExists").on("click", function () { });

                    $("#btncheckExists").click(); //trigger event after listening to it.




                    setTimeout(function () {
                        var url = "/AddAppointees/AddAppointeesIndex/";
                        window.location.href = url;
                    }, 2000);
                }







            }
        });





    };




    $("#ddlAssetCategory").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlAssetCategory option:selected").html();

        $("#assetCategorytext").val(text);
        $("#assetCategoryid").val(value);
        $("#amid").val(value);



  });
</script>



<script>

    function validateproportion(value) {


        $.ajax({

            type: "POST",
            url: "@Url.Action("FilterProporion", "AddPetCare")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                if (data == "true") {
                    $("#btncheckpetcare").on("click", function () { });

                    $("#btncheckpetcare").click(); //trigger event after listening to it.
                }


            }



        });



    }


</script>

