@model WillAssure.Models.BeneficiaryModel
@{
    ViewBag.Title = "AddBeneficiaryPageContent";
}

<style>
    ul#menu li {
        display: inline;
    }
</style>




<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <h5>
                                    <ul id="menu" style="font-weight:bold;">

                                        <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:black;">Donor ></li></a>
                                        <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:">Donee ></li></a>
                                        <li style="color:#e1e1e1">Gift ></li>
                                        <li style="color:#e1e1e1">Asset Mapping ></li>
                                        <li style="color:#e1e1e1">Witness Appointment ></li>
                                        <li style="color:#e1e1e1">Document</li>



                                    </ul>
                                </h5>
                            }
                            else
                            {
                                if (Session["Type"].ToString() != "Testator")
                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">

                                            <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:;">Beneficiary ></li></a>
                                            <li style="color:#e1e1e1;">AssetInformation ></li>
                                            <li style="color:#e1e1e1;">Liabilites></li>
                                            <li style="color:#e1e1e1;">PetCare ></li>
                                            <li style="color:#e1e1e1">Mapping ></li>
                                            <li style="color:#e1e1e1">Nominee ></li>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>

                                        </ul>
                                    </h5>
                                }
                                else
                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">


                                            <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:;">Beneficiary ></li></a>
                                            <li style="color:#e1e1e1;">AssetInformation ></li>
                                            <li style="color:#e1e1e1;">Liabilites></li>
                                            <li style="color:#e1e1e1;">PetCare ></li>
                                            <li style="color:#e1e1e1">Mapping ></li>
                                            <li style="color:#e1e1e1">Nominee ></li>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>



                                        </ul>
                                    </h5>
                                }

                            }
                        }
                        else
                        {

                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }



                        }


                        <br />
                        <div class="col-12 12">
                            <div class="card bg-transparent shadow-none border border-light-3">
                                <div class="card-header text-white border-light-3" style="background: #199d4b">
                                    Instructions

                                </div>
                                <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <div class="card-title text-primary">Add Donee Details</div>

                            }
                            else
                            {
                                <div class="card-title text-primary">Add Beneficiary Details</div>

                            }
                        }
                        else
                        {
                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }

                        @using (Html.BeginForm("InsertBeneficiaryData", null, FormMethod.Post, new { id = "BeneficiaryForm" }))

                        {
                            <div class="row">
                                <div class="col-sm-1"></div><div class='col-sm-2'><label for='input-1' style="line-height:40px;"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Testator</label></div>
                                                            <div class='col-sm-3'>
                                                           
                                                                            <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                                                            <input type="text" name="ddltid" id="tid" style="display:none;" value="@Session["distid"].ToString()" />
                                                                    





                                                            </div>

                            </div>

                            <hr />
                            @Html.HiddenFor(m => m.check, new { @id = "txtcheck" })





                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Personal Details</label></div>



                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        <input type="hidden" id="txtcheck" value="" name="name" />
                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtFirst_Name", @placeholder = "Enter First Name", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>
                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtMiddle_Name", @placeholder = "Enter Middle Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <label for="input-1">Last Name</label>
                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtLast_Name", @placeholder = "Enter Last Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">Date Of Birth</label>
                                        <div id="datepicker2" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control input-shadow validate[required]" type="text" id="DOB" name="Dob" onchange="validateDOB(this.value)" autocomplete="off" placeholder="Select Date Of Birth" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>

                                        <span style="color:red; display:none;" id="datemsg">Invalid Date Of Birth</span>
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Mobile</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-shadow validate[required,custom[Mobile],maxSize[10]] text-input", @id = "txtMobile", @placeholder = "Enter Mobile", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Relation</label>
                                        <select id="ddlrelation" class="form-control input-shadow validate[required]">
                                            <option value="">--Select--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.RelationshipId, new { id = "relationid" })
                                        @Html.HiddenFor(m => m.RelationshipTxt, new { id = "relationtext" })
                                    </div>
                                </div>


                                @*<div class="col-sm-6">
            <div class="form-group">
                <label for="input-3">Marital Status</label>
                @Html.DropDownListFor(x => x.Marital_Status, new SelectListItem[]{
                new SelectListItem() {Text = "--Select--", Value=""},
                new SelectListItem() {Text = "Married", Value="Married"},
                new SelectListItem() {Text = "UnMarried", Value="UnMarried"}} , new { @class= "form-control input-shadow validate[required]", @id = "ddlMarital_Status" })
                @Html.HiddenFor(m => m.Marital_Status_TXT, new { @id = "Marital_Status_TXT" })
                @Html.HiddenFor(m => m.Marital_Status_ID, new { @id = "Marital_Status_ID" })
            </div>
        </div>



        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-3">Religion</label>
                @Html.DropDownListFor(x => x.Religion, new SelectListItem[]{
         new SelectListItem() {Text = "--Select--", Value=""},
         new SelectListItem() {Text = "Buddhism", Value="Buddhism"},
         new SelectListItem() {Text = "Christians", Value="Christians"},
         new SelectListItem() {Text = "Hinduism", Value="Hinduism"},
         new SelectListItem() {Text = "Islam", Value="Islam"},
         new SelectListItem() {Text = "Jainism", Value="Jainism"},
         new SelectListItem() {Text = "Sikhism", Value="Sikhism"},

         new SelectListItem() {Text = "Zoroastrian", Value="Zoroastrian"}}, new { @class = "form-control input-shadow validate[required]", @id = "ddlReligion" })
                @Html.HiddenFor(m => m.Religion_txt, new { @id = "Religion_txt" })
                @Html.HiddenFor(m => m.Religion_id, new { @id = "Religion_id" })
            </div>
        </div>*@



                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-map-marker" aria-hidden="true"></i>Contact Details</label></div>


                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">State</label>
                                        <select id="ddlstate" class="form-control input-shadow validate[required]">
                                            <option value="">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.State_id, new { id = "stateid" })
                                        @Html.HiddenFor(m => m.State_txt, new { id = "statetext" })
                                    </div>
                                </div>


                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" class="form-control input-shadow validate[required]">
                                            <option value="">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.City_id, new { id = "cityid" })
                                        @Html.HiddenFor(m => m.City_txt, new { id = "citytext" })

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control input-shadow validate[required,custom[PinCode]] text-input", @id = "txtPin", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>


                            </div>








                            <div class="row">


                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtAddress1", @placeholder = "Enter Address 1", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control input-shadow  text-input", @id = "txtAddress2", @placeholder = "Enter Address 2", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="input-1">Address 3</label>
                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control input-shadow  text-input", @id = "txtAddress3", @placeholder = "Enter Address 3", @autocomplete = "off" })
                                    </div>
                                </div>




                            </div>


                            <hr />


                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-id-card-o" aria-hidden="true"></i>Identity Proof</label></div>



                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Identity proof</label>

                                        @Html.DropDownListFor(x => x.Identity_proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}} , new { @class= "form-control input-shadow validate[required]", @id="altddlidentityproof" , @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })


                                    </div>
                                </div>



                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <div id="appendtxt">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>




                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Alt Identity proof</label>
                                        @Html.DropDownListFor(x => x.Alt_Identity_proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow", @id="ddlidentityproof22", @onchange= "AltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @Html.HiddenFor(m => m.Alt_Identity_proof, new { id = "Alt_Identity_proof" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <div id="appendtxt2">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>






                            </div>

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1" style="white-space:nowrap;">Add Alternate Beneficiary</label></div>















                                <div class="col-sm-6" id="showcompany">

                                    <div class="form-group">

                                        <br />
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="Yes" class="radio validate[required]" name="radio1">Yes
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="No" class="radio validate[required]" name="radio1">No
                                        </label>



                                    </div>
                                </div>

















                            </div>




                            <hr style="border:1px solid black; border-color:lightgray">




                            <div class=" altbeneficiaryclass" style="display:none;">


                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2"> <label for="input-1"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Personal Details</label></div>



                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">First Name</label>
                                            @Html.TextBoxFor(m => m.altFirst_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "firstname", @placeholder = "Enter First Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>


                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">Middle Name</label>

                                            @Html.TextBoxFor(m => m.altMiddle_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "middlename", @placeholder = "Enter Middle Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">Last Name</label>

                                            @Html.TextBoxFor(m => m.altLast_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "lastname", @placeholder = "Enter Last Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">Date Of Birth</label>
                                            <div id="datepicker1" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control input-shadow validate[required]" type="text" id="DOB" onchange="validateDOB2(this.value)" name="altDob" autocomplete="off" placeholder="Select Date Of Birth" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>

                                            <span style="color:red; display:none;" id="datemsg2">Invalid Date Of Birth</span>
                                        </div>
                                    </div>


                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">Mobile</label>

                                            @Html.TextBoxFor(m => m.altMobile, new { @class = "form-control input-shadow validate[required] text-input", @id = "mobile", @placeholder = "Enter Mobile", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>



                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="input-1">Relation</label>
                                            <select id="altddlrelation" class="form-control input-shadow validate[required]">
                                                <option value="">--Select--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.altRelationshipId, new { id = "altRelationshipId" })
                                            @Html.HiddenFor(m => m.altRelationshipTxt, new { @id = "altRelationshipTxt", @name = "altRelationshipTxt" })
                                        </div>
                                    </div>
                                </div>


                                <hr />

                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2"> <label for="input-1"><i class="fa fa-map-marker" aria-hidden="true"></i>Contact Details</label></div>

                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">State</label>
                                            <select id="altddlstate" class="form-control input-shadow validate[required]">
                                                <option value="">--Select State--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.altstateid, new { id = "altstateid" })
                                            @Html.HiddenFor(m => m.altstatetext, new { id = "altstatetext" })
                                        </div>
                                    </div>



                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">City</label>
                                            <select id="altddlcity" class="form-control input-shadow validate[required]">
                                                <option value="">--Select City--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.altcityid, new { id = "altcityid" })
                                            @Html.HiddenFor(m => m.altcitytext, new { id = "altcitytext" })

                                        </div>

                                    </div>

                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">Pin</label>
                                            @Html.TextBoxFor(m => m.altPin, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtRole", @placeholder = "Enter Pin", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">

                                        <div class="form-group">

                                            <label for="input-1">Address 1</label>
                                            @Html.TextAreaFor(m => m.altAddress1, new { @class = "form-control input-shadow validate[required] text-input", @id = "address1", @placeholder = "Enter Address 1", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>


                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">

                                        <div class="form-group">

                                            <label for="input-1">Address 2</label>
                                            @Html.TextAreaFor(m => m.altAddress2, new { @class = "form-control input-shadow text-input", @id = "address2", @placeholder = "Enter Address 2", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>


                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">

                                        <div class="form-group">
                                            <label for="input-1">Address 3</label>

                                            @Html.TextAreaFor(m => m.altAddress3, new { @class = "form-control input-shadow  text-input", @id = "address3", @placeholder = "Enter Address 3", @autocomplete = "off", alert = "LabourCost is requried" })
                                        </div>
                                    </div>

                                </div>

                                <hr />


                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2"> <label for="input-1"><i class="fa fa-id-card-o" aria-hidden="true"></i>Identity Proof</label></div>



                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">Identity Proof</label>
                                            @Html.DropDownListFor(x => x.altIdentity_Proof, new SelectListItem[]{
                                       new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                       new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                       new SelectListItem() {Text = "Passport", Value="Passport"},
                                       new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                       new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow validate[required]", @id="seconddl" , @onchange= "altgetIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        </div>
                                    </div>


                                    <div class="col-sm-3">
                                        <div class="form-group">

                                            <div id="altappendtxt">  @*@Html.TextBoxFor(m => m.altIdentity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtidentityproof", @placeholder = "Enter Identity Proof Number", @autocomplete = "off" })*@</div>


                                        </div>
                                    </div>



                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="input-1">Alt Identity Proof</label>
                                            @Html.DropDownListFor(x => x.altAlt_Identity_Proof, new SelectListItem[]{
                                       new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                       new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                       new SelectListItem() {Text = "Passport", Value="Passport"},
                                       new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                       new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow ", @id="altddlidentityproof1" , @onchange= "altgetAltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                            @Html.HiddenFor(m => m.altAlt_Identity_Proof, new { id = "altAlt_Identity_Proof" })
                                        </div>
                                    </div>


                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3">
                                        <div class="form-group">

                                            <div id="altappendtxt2">  </div>

                                            @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                        </div>
                                    </div>

                                </div>












                            </div>













                            if (Session["doctype"] != null)
                            {
                                if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                {
                                    <div class="form-group" style="float:right">
                                        <button type="submit" id="btnBeneficiaryformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Donee</button>
                                        <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group" style="float:right">
                                        <button type="submit" id="btnBeneficiaryformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Beneficiary</button>
                                        <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                            }
                            else
                            {
                                if (!Response.IsRequestBeingRedirected)
                                {
                                    Response.Redirect("/LoginPage/LoginPageIndex");
                                }
                            }





                        }
                    </div>
                </div>
            </div>


        </div>
        <button type="button" id="btnBeneficiarySUCESS" style="display:none;"></button>
        <button type="button" id="Beneficiarylinkcheck" style="display:none;"></button>
        <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" style="display:none;" id="confirmtestatorfamily"></button>

    </div>


</div>
@*end*@




<script>

    function validateDOB2(value) {



        var today = new Date();
        var birthDate = new Date(value);
        var age = today.getFullYear() - birthDate.getFullYear();

        if (age > 18) {
            $("#datemsg2").hide();
        }
        else {
            $("#datemsg2").show();
        }



    }



    function validateDOB(value) {



        var today = new Date();
        var birthDate = new Date(value);
        var age = today.getFullYear() - birthDate.getFullYear();

        if (age > 18) {
            $("#datemsg").hide();
        }
        else {
            $("#datemsg").show();
        }



    }



        $("#ddlMarital_Status").change(function () {
        var value = $(this).children(":selected").attr("value");
            var text = $("#ddlMarital_Status option:selected").html();

            $("#Marital_Status_TXT").val(text);
            $("#Marital_Status_ID").val(value);
    });



    $("#altddlMarital_Status").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlMarital_Status option:selected").html();

        $("#altMarital_Status_TXT").val(text);
        $("#altMarital_Status_ID").val(value);


    });



        $("#ddlReligion").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlReligion option:selected").html();

            $("#Religion_txt").val(text);
            $("#Religion_id").val(value);
    });


    function alternatereligtion(value) {

        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlReligion option:selected").html();

        $("#altReligion_TXT").val(text);
        $("#altReligion_ID").val(value);


    }






        $("#DDLIdentity_proof").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#DDLIdentity_proof option:selected").html();

            $("#Identity_proof_txt").val(text);
            $("#Identity_proof_id").val(value);
        });




    $(document).ready(function () {




         var val = $("#tid").val();
        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddBeneficiary")",
                 data: { value: val, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {

                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click();

                    $("#btnnext").show();

                }







            }
        });







        $.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlstate').append(data);
            }
        });




           $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddBeneficiary")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          $("#confirmtestatorfamily").on("click", function () { });

                          $("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }





            }
          });






    });



    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddBeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').append(data);
            }



        });



    });




    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);


    });

</script>


<script>
    $(document).ready(function () {
        $("#BeneficiaryForm").validationEngine();
    });
</script>



@if (ViewBag.Message == "RecordsInsert")
{
    <script>

        $(document).ready(function () {
            $("#btnBeneficiarySUCESS").on("click", function () { });

            $("#btnBeneficiarySUCESS").click(); //trigger event after listening to it.
            $("#btnnext").show();
        });
    </script>

}



@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {
            $("#Beneficiarylinkcheck").on("click", function () { });

            $("#Beneficiarylinkcheck").click(); //trigger event after listening to it.

        });
    </script>

}

<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlrelation').empty().append(data);
            }
        });


    });


        $("#ddlrelation").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlrelation option:selected").html();

            $("#relationtext").val(text);
            $("#relationid").val(value);


        });

</script>



@*validation script*@
<script>
    function getIdentityselection(id) {

        $("#Identity_Proof_txt").val(id);
        $("#ddlidentityproof22 option:disabled").removeAttr('disabled');

        if (id == "Aadhaar Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[adharCard]] text-input' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[Passport]] text-input' id='Identity_proof_value' name='Identity_proof_value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[carnumber]] text-input' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[pannumber]] text-input' id='Identity_proof_value' name='Identity_proof_value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


        var previousid = id;
       


    
        $("#ddlidentityproof22").find("option[value='" + previousid + "']").attr("disabled", "disabled");


    }
</script>



<script>
    function AltIdentityselection(id) {

        $("#Alt_Identity_proof").val(id);


        if (id == "Aadhaar Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[adharCard]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[Passport]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[carnumber]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[pannumber]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }




    function getDDLTestator(value) {
        //var value = $(this).children(":selected").attr("value");
        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus = $("#txtcheck").val();
             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddBeneficiary")",
                 data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#confirmtestatorfamily").on("click", function () { });
                    $("#confirmtestatorfamily").click(); //trigger event after listening to it.




                }







            }
        });





    };








    $('.radio').on('change', function () {

        $('.radio').not(this).prop('checked', false);
        var val = $("input[name=radio1]:checked").val()

        if (val == "Yes") {

            $("#showcompany").removeAttr("style");
            $(".altbeneficiaryclass").removeAttr("style");
            $("#txtcheck").val("true");

        }

        if (val == "No") {

            $(".altbeneficiaryclass").css("display", "none");
            $("#txtcheck").val("false");

        }


    });

</script>


@*end*@






@*script for alternate beneficiary*@



<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddBeneficiary")",
            success: function (data) {
                $('#altddlrelation').empty().append(data);
            }
        });



          $.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddBeneficiary")",
            success: function (data) {
                $('#altddlstate').append(data);
            }
        });






    });









    $("#altddlrelation").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlrelation option:selected").html();

        $("#altRelationshipTxt").val(text);
        $("#altRelationshipId").val(value);


    });








    $("#altddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlstate option:selected").html();

        $("#altstatetext").val(text);
        $("#altstateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddBeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#altddlcity').append(data);
            }



        });



    });




    $("#altddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#altddlcity option:selected").html();

        $("#altcitytext").val(text);
        $("#altcityid").val(value);


    });




     $("#confirmtestatorfamily").click(function () {
         $("#btnnext").show();
        swal({

            text: 'Your Beneficiary Data Submitted Successfully Do You Want To Add More ?',
            icon: 'warning',
            buttons: true,
            dangerMode: true,
            buttons: ['No', 'Yes']
        })
            .then((willDelete) => {
                if (willDelete) {



                } else {





                    var url = "/AddMainAssets/AddMainAssetsIndex/";
                        window.location.href = url;




                }
            });

    });


</script>




















<script>
    function altgetIdentityselection(id) {

        $("#altddlidentityproof1 option:disabled").removeAttr('disabled');

        if (id == "Aadhaar Card") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[adharCard]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[Passport]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[carnumber]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#altappendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[pannumber]] text-input' id='altIdentity_Proof_Value' name='altIdentity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }



        var previousid = id;



      
        $("#altddlidentityproof1").find("option[value='" + previousid + "']").attr("disabled", "disabled");


    }
</script>



<script>
    function altgetAltIdentityselection(id) {

        $("#altAlt_Identity_Proof").val(id);


        if (id == "Aadhaar Card") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[adharCard]] text-input' id='altAlt_Identity_Proof_Value' name='altAlt_Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[Passport]] text-input' id='altAlt_Identity_Proof_Value' name='altAlt_Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[carnumber]] text-input' id='altAlt_Identity_Proof_Value' name='altAlt_Identity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#altappendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[pannumber]] text-input' id='altAlt_Identity_Proof_Value' name='altAlt_Identity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>



<script>
    $(function () {
        $("#datepicker1").datepicker({
            dateFormat: "dd/MM/yy",

            endDate: '+0d',


        });
    });

    $(function () {
        $("#datepicker2").datepicker({
            dateFormat: "dd/MM/yy",

            endDate: '+0d',


        });
    });



    $('.radio1').on('change', function () {
        if (!$(this).is(':checked')) {
            $('.radio1').prop('checked', false);
            $("#txtcheck").val("false");

        } else {
            $('.radio1').prop('checked', true);
            $("#txtcheck").val("true");
        }
    });
</script>

@*end*@