@model WillAssure.Models.DistributorFormModel
@{
    /**/
    ViewBag.Title = "UpdateDistributorPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DistributorForm" }))
                        {
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Company Name</label>

                                        @Html.TextBoxFor(m => m.companyName, new { @class = "form-control validate[required,alert['field is missing']] text-input", @id = "txtComanyName", @placeholder = "Enter Company Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Owner Name</label>

                                        @Html.TextBoxFor(m => m.ownerName, new { @class = "form-control validate[required] text-input", @id = "txtownerName", @placeholder = "Enter Owner Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Owner Mobile No</label>
                                        @Html.TextBoxFor(m => m.ownerMobileNo, new { @class = "form-control validate[required] text-input", @id = "txtownerMobileNo", @placeholder = "Enter Owner Mobile No", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-5">Address 1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @type = "date", @class = "form-control validate[required] text-input", @id = "txtAddress1", @placeholder = "Enter Address 1", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address 2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control validate[required] text-input", @id = "txtAddress2", @placeholder = "Enter Address2", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">City</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control validate[required] text-input", @id = "txtCity", @placeholder = "Enter Your City", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">State</label>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control validate[required] text-input", @id = "txtState", @placeholder = "Enter State", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control validate[required] text-input", @id = "txtPin", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-3">GstNO</label>
                                        @Html.TextBoxFor(m => m.GST_NO, new { @class = "form-control validate[required] text-input", @id = "txtGstNO", @placeholder = "Enter GstNO", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value="0"},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="1"},
                                   new SelectListItem() {Text = "Passport", Value="2"},
                                   new SelectListItem() {Text = "Driving Licences", Value="3"},
                                   new SelectListItem() {Text = "Pan Card", Value="4"}} , new { @class="form-control" })

                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof Number</label>
                                        @Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alternate Identity Proof</label>
                                        @Html.TextBoxFor(m => m.Alt_Identity_Proof, new { @class = "form-control validate[required] text-input", @id = "txtAlt_Identity_Proof", @placeholder = "Enter Alt Identity Proof", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alternate Identity Proof Number</label>
                                        @Html.TextBoxFor(m => m.Alt_Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtAlt_Identity_Proof_Value", @placeholder = "Enter Your Alt Identity Proof Value", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Contact Person</label>
                                        @Html.TextBoxFor(m => m.contactPerson, new { @class = "form-control", @id = "txtcontactPerson", @placeholder = "Enter contactPerson", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Contact Mobile No</label>
                                        @Html.TextBoxFor(m => m.contactMobileNo, new { @class = "form-control validate[required] text-input", @id = "txtcontactMobileNo", @placeholder = "Enter Your Mobile No", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Contact Mail Id</label>
                                        @Html.TextBoxFor(m => m.contactMailId, new { @class = "form-control validate[required] text-input", @id = "txtcontactMailId", @placeholder = "Enter contact Mail Id ", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Bank Name</label>
                                        @Html.TextBoxFor(m => m.bankName, new { @class = "form-control validate[required] text-input", @id = "txtbankName", @placeholder = "Enter Your bank Name", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Branch</label>
                                        @Html.TextBoxFor(m => m.Branch, new { @class = "form-control validate[required] text-input", @id = "txtBranch", @placeholder = "Enter Branch", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Account Number</label>
                                        @Html.TextBoxFor(m => m.accountNumber, new { @class = "form-control validate[required] text-input", @id = "txtaccountNumber", @placeholder = "Enter accountNumber", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">IFSC Code</label>
                                        @Html.TextBoxFor(m => m.IFSC_Code, new { @class = "form-control validate[required] text-input", @id = "txtIFSC_Code", @placeholder = "Enter IFSC Code", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Account Name</label>
                                        @Html.TextBoxFor(m => m.accountName, new { @class = "form-control validate[required] text-input", @id = "txtaccountName", @placeholder = "Enter Your accountName", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Referred By</label>
                                        @Html.TextBoxFor(m => m.Referred_By, new { @class = "form-control validate[required] text-input", @id = "txtReferred_By", @placeholder = "Enter Referred By", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Lead Generated By</label>
                                        @Html.TextBoxFor(m => m.leadgeneratedBy, new { @class = "form-control validate[required] text-input", @id = "txtleadgeneratedBy", @placeholder = "Enter lead generated By", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Lead Converted By</label>
                                        @Html.TextBoxFor(m => m.leadconvertedBy, new { @class = "form-control validate[required] text-input", @id = "txtCompId", @placeholder = "Enter lead converted By", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Relationship Manager</label>
                                        @Html.TextBoxFor(m => m.relationshipManager, new { @class = "form-control validate[required] text-input", @id = "txtrelationshipManager", @placeholder = "Enter relationship Manager", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Lead Status</label>
                                        @Html.TextBoxFor(m => m.leadStatus, new { @class = "form-control validate[required] text-input", @id = "txtleadStatus", @placeholder = "Enter lead Status", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Lead Remark</label>
                                        @Html.TextBoxFor(m => m.leadRemark, new { @class = "form-control validate[required] text-input", @id = "txtleadRemark", @placeholder = "Enter lead Remark", @autocomplete = "off" })
                                    </div>
                                </div>


                            </div>














                            <div class="form-group py-2">
                                <div class="icheck-material-primary">
                                    <input type="checkbox" id="user-checkbox1" checked="" />
                                    <label for="user-checkbox1">I Agree Terms & Conditions</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnDistributorformsubmit" formaction="UpdatingDistributorData" class="btn btn-success shadow-success px-5"><i class="icon-lock"></i>Update Company</button>

                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>
@*end*@

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->




<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindDesignationDDL", "UsersForm")",
            success: function (data) {
                $('#ddldesignation').append(data);
            }
        });


    });


</script>

<script>
    $("#ddldesignation").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddldesignation option:selected").html();

        $("#designationtxt").val(text);
        $("#designationid").val(value);
    });
</script>


<script>
    $(document).ready(function () {
      
        $("#DistributorForm").validationEngine();
    });
</script>