@model WillAssure.Models.MainAssetsModel
@{
    /**/

    ViewBag.Title = "AddMainAssetsPageContent";
}

<style>
    ul#menu li {
        display: inline;
    }
</style>
@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        <h5>
                            <ul id="menu" style="font-weight:bold;">

                                <li>Testator ></li>
                                <li>Testator Family ></li>
                                <li>Beneficiary ></li>
                                <li style="color:#5e72e4">AssetInformation ></li>
                                <li style="color:#e1e1e1">Mapping ></li>
                                <li style="color:#e1e1e1">Nominee ></li>
                                <li style="color:#e1e1e1">Appointees </li>


                            </ul>
                        </h5>


                        <div class="card-title text-primary">Add Assets</div>


                        @using (Html.BeginForm("InsertMainAsset", null, FormMethod.Post, new { id = "mainassetinfo" }))
                        {

                            @Html.HiddenFor(m => m.ddltid, new { id = "ddltid", @name = "ddlTid" })
                            @Html.HiddenFor(m => m.ddltestatorname, new { id = "ddltestatorname" })
                            <div class="row">
                                <div class='col-sm-1'><label for='input-1' style="line-height:40px;">Testator</label></div>
                                <div class="col-sm-3">
                                    <select id='DDLTestator' onchange="getDDLTestator(this.value)" name="contentList" class='form-control validate[required]'></select>



                                </div>
                                <div class="col-sm-2">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="Yes" class="radio" name="radio">Add Multiple
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <input type="hidden" id="txtcheck" value="" name="name" />

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Asset Type</label>

                                        <select id="ddlasset" onChange='getassetcolumntext(this.options[this.selectedIndex].innerHTML)' class="form-control validate[required]">
                                            <option value="">--Select--</option>
                                        </select>

                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Asset Category</label>

                                        <select id="ddlassetcat" onChange='getassetcat(this.options[this.selectedIndex].innerHTML)' class="form-control validate[required]">
                                            <option value="">--Select--</option>
                                        </select>

                                    </div>
                                </div>









                            </div>

                            <div class="row" id="binddata">

                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <textarea id="column" style="display:none" name="column" class="form-control">
 
                                    </textarea>
                                    </div>
                                </div>


                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <textarea id="text" style="display:none" name="text" class="form-control">
 
                                    </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @*<button type="button" id="btnadd" class="btn btn-danger shadow-primary px-5"><i class="icon-plus"></i>Add</button>*@
                                <button type="submit" name="Submit Asset Info" value="Submit Asset Info" id="btnmainassetsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit Asset Info</button>

                            </div>

                        }
                    </div>
                </div>
            </div>
            <button type="button" id="btnassetinfosuccess" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="mainassetlinkcheck" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" style="display:none" id="confirmtestatorfamily"></button>

        </div>


    </div>


</div>
@*end*@

<script>
       $("#ddlassetcat").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlassetcat option:selected").html();
           $("#assetcattxt").val(text);
           $("#assetcatid").val(value);
              $.ajax({
            type: "POST",
            url: "@Url.Action("OnChangeDDLCat", "AddMainAssets")",
            data: { "send": "" + value+""},
            success: function (data) {
                $('#binddata').empty().append(data);
            }
         });

    });
    $("#ddlasset").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlasset option:selected").html();
        $("#assettext").val(text);
        $("#assetid").val(value);

          $.ajax({
            type: "POST",
            url: "@Url.Action("BindAssetCategoryDDL", "AddMainAssets")",
            data: { "send": "" + value+""},
            success: function (data) {
                $('#ddlassetcat').empty().append(data);
            }
         });
    });

     $(document).ready(function () {
         var r1 = $("input[name='optradio']:checked").val();


           $.ajax({
            type: "POST",
            url:"@Url.Action("BindAssetTypeDDL", "AddMainAssets")",
            success: function (data) {
                $('#ddlasset').empty().append(data);
            }
         });




                  $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddMainAssets")",
                  success: function (data) {

                      $('#DDLTestator').append(data);





            }
        });


    });
    $("#btnadd").click(function () {
          $.ajax({
            type: "POST",
            url:"@Url.Action("GenerateColumns", "AddMainAssets")",
            success: function (data) {
                $('#binddata').append(data);
            }
        });
    });
    function getassetcolumntext(text) {

        $("#column").append("" + text + ",");
    }
    function bar2(text) {

        $("#text").append("" + text + ",");
    }






</script>



<script>
    $(document).ready(function () {
        $("#mainassetinfo").validationEngine();
    });
</script>


@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btnassetinfosuccess").on("click", function () { });

            $("#btnassetinfosuccess").click(); //trigger event after listening to it.




        });
    </script>

}



@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {


            $("#mainassetlinkcheck").on("click", function () { });

            $("#mainassetlinkcheck").click(); //trigger event after listening to it.




        });

    </script>

}

<script>



    function getDDLTestator(value) {

        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus = $("#txtcheck").val();


              $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddMainAssets")",
                  data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#btncheckExists").on("click", function () { });

                    $("#btncheckExists").click(); //trigger event after listening to it.



                    setTimeout(function () {
                        var url = "/AddAssetMapping/AddAssetMappingIndex/";
                        window.location.href = url;
                    }, 2000);
                }







            }
        });




    };


     $("#confirmtestatorfamily").click(function () {

        swal({

            text: 'Testator Data Already Exists Do You Want To Add More!',
            icon: 'warning',
            buttons: true,
            dangerMode: true,
            buttons: ['No', 'Yes']
        })
            .then((willDelete) => {
                if (willDelete) {



                } else {





                    var url = "/AddAssetMapping/AddAssetMappingIndex/";
                    window.location.href = url;




                }
            });

    });


</script>




@if (ViewBag.popup == "true")
{
    <script>

        $(document).ready(function () {


            $("#confirmtestatorfamily").on("click", function () { });

            $("#confirmtestatorfamily").click(); //trigger event after listening to it.




        });
    </script>


}




    $('.radio').on('change', function () {
        if (!$(this).is(':checked')) {
            $('.radio').prop('checked', false);
            $("#txtcheck").val("false");

        } else {
            $('.radio').prop('checked', true);
            $("#txtcheck").val("true");
        }
    });

</script>