@model WillAssure.Models.MainAssetsModel
@{
    /**/

    ViewBag.Title = "AddMainAssetsPageContent";
}

<style>
    ul#menu li {
        display: inline;
    }
</style>


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        @if (Session["doctype"] != null || Session["Type"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <h5>
                                    <ul id="menu" style="font-weight:bold;">

                                        <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:black;">Donor ></li></a>
                                        <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black">Donee ></li></a>
                                        <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li style="color:">Gift  ></li></a>
                                        <li style="color:#e1e1e1">Asset Mapping ></li>
                                        <li style="color:#e1e1e1">Witness Appointment ></li>
                                        <li style="color:#e1e1e1">Document</li>



                                    </ul>
                                </h5>
                            }
                            else
                            {

                                if (Session["Type"].ToString() != "Testator")
                                {

                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">

                                            <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                            <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li>AssetInformation ></li></a>
                                            <li style="color:#e1e1e1">Liabilites></li>
                                            <li style="color:#e1e1e1">PetCare ></li>
                                            <li style="color:#e1e1e1">Mapping ></li>
                                            <li style="color:#e1e1e1">Nominee ></li>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>

                                        </ul>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">

                                            <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                            <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li>AssetInformation ></li></a>
                                            <li style="color:#e1e1e1">Liabilites></li>
                                            <li style="color:#e1e1e1">PetCare ></li>
                                            <li style="color:#e1e1e1">Mapping ></li>
                                            <li style="color:#e1e1e1">Nominee ></li>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>

                                        </ul>
                                    </h5>
                                }



                            }
                        }
                        else
                        {
                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }


                        <div class="col-12 12">
                            <div class="card bg-transparent shadow-none border border-light-3">
                                <div class="card-header text-white border-light-3" style="background: #199d4b">
                                    Instructions

                                </div>
                                <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <div class="card-title text-primary">Add Gift</div>
                            }
                            else
                            {
                                <div class="card-title text-primary">Add Assets Information</div>
                            }
                        }
                        else
                        {
                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }


                        @using (Html.BeginForm("InsertMainAsset", null, FormMethod.Post, new { id = "mainassetinfo" }))
                        {


                            <div class="row">
                                <div class='col-sm-1'><label for='input-1' style="line-height:40px;"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Testator</label></div>
                                <div class="col-sm-3">
                                    @if (Session["Type"] != null)
                                    {

                                        if (Session["Type"].ToString() == "DistributorAdmin" || Session["Type"].ToString() == "SuperAdmin")
                                        {
                                            if (Session["disttestator"] != null || Session["distid"] != null)
                                            {
                                                <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                                <input type="hidden" name="ddltid" id="tid" value="@Session["distid"].ToString()" />

                                            }
                                        }
                                        else
                                        {
                                            <select id='DDLTestator' onchange="getDDLTestator(value)" name="contentList" class='form-control input-shadow validate[required]'></select>
                                            @Html.HiddenFor(m => m.ddltid, new { id = "ddltid", @name = "ddlTid" })
                                            @Html.HiddenFor(m => m.ddltestatorname, new { id = "ddltestatorname" })
                                        }



                                    }
                                    else
                                    {
                                        if (!Response.IsRequestBeingRedirected)
                                        {
                                            Response.Redirect("/LoginPage/LoginPageIndex");
                                        }

                                    }




                                </div>

                            </div>
                            <hr class="div_rd">
                            <input type="hidden" id="txtcheck" value="" name="name" />

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Asset Type</label>

                                        <select id="ddlasset" onChange='getassetcolumntext(this.options[this.selectedIndex].innerHTML)' class="form-control input-shadow validate[required]">
                                            <option value="">--Select--</option>
                                        </select>

                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Asset Category</label>

                                        <select id="ddlassetcat" onChange='getassetcat(this.options[this.selectedIndex].innerHTML)' class="form-control input-shadow validate[required]">
                                            <option value="">--Select--</option>
                                        </select>

                                    </div>
                                </div>









                            </div>

                            <div class="row" id="binddata">

                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <textarea id="column" style="display:none" name="column" class="form-control input-shadow">
 
                                    </textarea>
                                    </div>
                                </div>


                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <textarea id="text" style="display:none" name="text" class="form-control input-shadow">
 
                                    </textarea>
                                    </div>
                                </div>
                            </div>

                            if (Session["doctype"] != null)
                            {
                                if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                {
                                    <div class="form-group" style="float:right">
                                        @*<button type="button" id="btnadd" class="btn btn-danger shadow-primary px-5"><i class="icon-plus"></i>Add</button>*@
                                        <button type="submit" name="Submit Asset Info" value="Submit Asset Info" id="btnmainassetsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit Gift </button>
                                        <a href="@Url.Action("AddAssetMappingIndex","AddAssetMapping")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group" style="float:right">
                                        @*<button type="button" id="btnadd" class="btn btn-danger shadow-primary px-5"><i class="icon-plus"></i>Add</button>*@
                                        <button type="submit" name="Submit Asset Info" value="Submit Asset Info" id="btnmainassetsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit Asset Info</button>
                                        <a href="@Url.Action("AddLiabilitiesIndex","AddLiabilities")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                            }
                            else
                            {
                                if (!Response.IsRequestBeingRedirected)
                                {
                                    Response.Redirect("/LoginPage/LoginPageIndex");
                                }
                            }


                        }
                    </div>
                </div>
            </div>
            <button type="button" id="btnassetinfosuccess" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="mainassetlinkcheck" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
            <button type="button" style="display:none" id="confirmtestatorfamily"></button>

        </div>


    </div>


</div>
@*end*@

<script>
       $("#ddlassetcat").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlassetcat option:selected").html();
           $("#assetcattxt").val(text);
           $("#assetcatid").val(value);
              $.ajax({
            type: "POST",
            url: "@Url.Action("OnChangeDDLCat", "AddMainAssets")",
            data: { "send": "" + value+""},
            success: function (data) {
                $('#binddata').empty().append(data);
            }
         });

    });
    $("#ddlasset").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlasset option:selected").html();
        $("#assettext").val(text);
        $("#assetid").val(value);

          $.ajax({
            type: "POST",
            url: "@Url.Action("BindAssetCategoryDDL", "AddMainAssets")",
            data: { "send": "" + value+""},
            success: function (data) {
                $('#ddlassetcat').empty().append(data);
            }
         });
    });

     $(document).ready(function () {
         var r1 = $("input[name='optradio']:checked").val();


           $.ajax({
            type: "POST",
            url:"@Url.Action("BindAssetTypeDDL", "AddMainAssets")",
            success: function (data) {
                $('#ddlasset').empty().append(data);
            }
         });




         $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddMainAssets")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      //$('#DDLTestator').append(data);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          $("#confirmtestatorfamily").on("click", function () { });

                          $("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }




            }
          });


    });
    @*$("#btnadd").click(function () {
          $.ajax({
            type: "POST",
            url:"@Url.Action("GenerateColumns", "AddMainAssets")",
            success: function (data) {
                $('#binddata').append(data);
            }
        });
    });*@
    function getassetcolumntext(text) {

        $("#column").append("" + text + ",");
    }
    function bar2(text) {

        $("#text").append("" + text + ",");
    }






</script>



<script>
    $(document).ready(function () {
        $("#mainassetinfo").validationEngine();



         var val = $("#tid").val();

        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddMainAssets")",
                 data: { value: val, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {

                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click();

                    $("#btnnext").show();

                }







            }
        });



    });
</script>


@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btnassetinfosuccess").on("click", function () { });

            $("#btnassetinfosuccess").click(); //trigger event after listening to it.


            $("#btnnext").show();

        });
    </script>

}



@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {


            $("#mainassetlinkcheck").on("click", function () { });

            $("#mainassetlinkcheck").click(); //trigger event after listening to it.




        });

    </script>

}

<script>



    function getDDLTestator(value) {

        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus = $("#txtcheck").val();


              $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddMainAssets")",
                  data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click(); //trigger event after listening to it.



                }







            }
        });




    };


     $("#confirmtestatorfamily").click(function () {
         $("#btnnext").show();
        swal({

            text: 'Your AssetInformation Data Submitted Successfully Do You Want To Add More ?',
            icon: 'warning',
            buttons: true,
            dangerMode: true,
            buttons: ['No', 'Yes']
        })
            .then((willDelete) => {
                if (willDelete) {



                } else {





                    var url = "/AddLiabilities/AddLiabilitiesIndex/";
                    window.location.href = url;




                }
            });

    });


</script>





<script>

    $('.radio').on('change', function () {
        if (!$(this).is(':checked')) {
            $('.radio').prop('checked', false);
            $("#txtcheck").val("false");

        } else {
            $('.radio').prop('checked', true);
            $("#txtcheck").val("true");
        }
    });




    $('#ddlrole').on('change', function () {
        alert('working');
    });



    function getstatusone(value) {

        $("#txtnominee").show();
    }


    function getstatustwo(value) {

        $("#txtnominee").hide();
    }


</script>