@model WillAssure.Models.NomineeModel
@{
    ViewBag.Title = "UpdateNomineePageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">


        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="card-title text-primary">Update Nominee</div>
                        <hr>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "NomineeForm" }))
                        {

                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        @Html.HiddenFor(m=>m.nId)
                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "First Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Last Name</label>

                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Last Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>

                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Middle Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">DOB</label>

                                        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control validate[required]" type="text" id="DOB" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Mobile</label>

                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control required validate[required,custom[integer],maxSize[10]]", @id = "txtRole", @placeholder = "Mobile", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Relationship</label>

                                        @Html.TextBoxFor(m => m.Relationship, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Relationship", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Marital Status</label>

                                        @Html.DropDownListFor(x => x.Marital_Status, new SelectListItem[]{
                                            new SelectListItem() {Text = "--Select--", Value="0"},
                                           new SelectListItem() {Text = "Married", Value="1"},
                                            new SelectListItem() {Text = "UnMarried", Value="2"}}, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Religion</label>

                                        @Html.DropDownListFor(x => x.Religion, new SelectListItem[]{
                                     new SelectListItem() {Text = "--Select--", Value="0"},
                                     new SelectListItem() {Text = "Buddhism", Value="1"},
                                     new SelectListItem() {Text = "Christians", Value="2"},
                                     new SelectListItem() {Text = "Hinduism", Value="3"},
                                     new SelectListItem() {Text = "Islam", Value="4"},
                                     new SelectListItem() {Text = "Jainism", Value="5"},
                                     new SelectListItem() {Text = "Sikhism", Value="6"},
                                     new SelectListItem() {Text = "Zoroastrian", Value="7"},
                                     new SelectListItem() {Text = "Guru Nanak Dev", Value="8"},
                                     new SelectListItem() {Text = "Lord Mahavira", Value="9"},
                                     new SelectListItem() {Text = "Adi Shankaracharya", Value="10"}}, new { @class = "form-control" })

                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value="0"},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="1"},
                                   new SelectListItem() {Text = "Passport", Value="2"},
                                   new SelectListItem() {Text = "Driving Licences", Value="3"},
                                   new SelectListItem() {Text = "Pan Card", Value="4"}} , new { @class="form-control" , @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof Number</label>
                                        <div id="appendtxt">  @Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtAdharCard", @placeholder = "Enter Aadhaar Card", @autocomplete = "off" })</div>


                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Alt IdentityProof</label>

                                        @Html.TextBoxFor(m => m.Alt_Identity_Proof, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Alt IdentityProof", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Alt IdentityProofValue</label>

                                        @Html.TextBoxFor(m => m.Alt_Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Alt IdentityProofValue", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address1</label>

                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Enter Role", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address2</label>

                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Enter Role", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address3</label>

                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Enter Role", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">State</label>

                                        <select id="ddlstate" class="form-control">
                                            <option value="0">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                        @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" class="form-control">
                                            <option value="0">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                        @Html.HiddenFor(m => m.citytext, new { id = "citytext" })
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Pin</label>

                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control required validate[required,custom[integer],maxSize[6]]", @id = "txtRole", @placeholder = "Enter Role", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Description of Assets</label>

                                        @Html.TextAreaFor(m => m.Description_of_Assets, new { @class = "form-control validate[required] text-input", @id = "txtRole", @placeholder = "Enter Role", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>





                            </div>



                            <div class="form-group">

                                <button type="submit" id="btnRoleformsubmit" formaction="UpdatingNominee" class="btn btn-success shadow-primary px-5"><i class="icon-lock"></i> Update Nominee</button>
                                <button type="button" id="btnRoleformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>

                            </div>

                        }
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>






<script>


          $(document).ready(function () {

            $.ajax({

                type: "POST",
                url:"@Url.Action("BindStateDDL", "AddNominee")",
                success: function (data) {
                    $('#ddlstate').append(data);
                }
            });


        });



    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);



        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddNominee")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });





    });
</script>

@*validation script*@
<script>
    function getIdentityselection(id) {
        if (id == "Aadhaar Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[adharCard]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[Passport]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>


<script>
    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();
        alert(text);
        $("#citytext").val(text);
        $("#cityid").val(value);
    });
</script>

<script>
    $(document).ready(function () {
        $("#NomineeForm").validationEngine();
    });
</script>
@*end*@

