@model WillAssure.Models.UserFormModel
@{
    /**/

    ViewBag.Title = "UsersFormPageContent";
}



<style>
    label {
        margin-left: 20px;
    }

    #datepicker {
        width: 180px;
        margin: 0 20px 20px 20px;
    }

        #datepicker > span:hover {
            cursor: pointer;
        }
</style>

@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-primary">Add Distributor</div>
                        <hr>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "UserForm" }))
                        {

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-1">First Name</label>

                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control validate[required] text-input", @id = "txtfirstname", @placeholder = "Enter Your First Name", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-1">Last Name</label>

                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control validate[required] text-input", @id = "txtLastName", @placeholder = "Enter Your Last Name", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-1">Middle Name</label>
                                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control validate[required] text-input", @id = "txtMiddleName", @placeholder = "Enter Your Middle Name", @autocomplete = "off" })
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-5">Date Of Birth</label>
                                    @*@Html.TextBoxFor(m => m.Dob, new { @type = "date", @class = "form-control validate[required] text-input", @id = "txtDob", @placeholder = "Select Your Date Of Birth", @autocomplete = "off" })*@


                                    <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                        <input class="form-control validate[required]" type="text" id="DOB" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Mobile</label>
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control validate[required,custom[Mobile],maxSize[10]] text - input", @id = "txtmobile", @placeholder = "Enter Your Mobile Number", @autocomplete = "off" })
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Email</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control validate[required,custom[email]] text-input", @id = "txtEmail", @placeholder = "Enter Your Email", @autocomplete = "off" })
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Address 1</label>
                                    @Html.TextAreaFor(m => m.Address1, new { @class = "form-control validate[required] text-input", @id = "txtaddress1", @placeholder = "Enter Your Address 1", @autocomplete = "off" })
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Address 2</label>
                                    @Html.TextAreaFor(m => m.Address2, new { @class = "form-control validate[required] text-input", @id = "txtaddress2", @placeholder = "Enter Your Address 2", @autocomplete = "off" })
                                </div>
                            </div>



                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="input-3">Address 3</label>
                                    @Html.TextAreaFor(m => m.Address3, new { @class = "form-control validate[required] text-input", @id = "txtaddress3", @placeholder = "Enter Your Address 3", @autocomplete = "off" })
                                </div>
                            </div>







                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="input-1">State</label>

                                    <select id="ddlstate" class="form-control validate[required]">
                                        <option value="">--Select State--</option>
                                    </select>
                                    @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                    @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                </div>
                            </div>


                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="input-1">City</label>
                                    <select id="ddlcity" class="form-control validate[required]">
                                        <option value=''>--Select City--</option>
                                    </select>
                                    @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                    @Html.HiddenFor(m => m.citytext, new { id = "citytext" })

                                </div>

                            </div>




                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Pin</label>
                                    @Html.TextBoxFor(m => m.Pin, new { @class = "form-control validate[required,custom[PinCode]] text-input", @id = "txtPin", @placeholder = "Enter Your Pin", @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">User Name</label>
                                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control validate[required] text-input", @id = "txtUserId", @placeholder = "Enter Your UserId", @autocomplete = "off" })
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">User Password</label>
                                    @Html.TextBoxFor(m => m.UserPassword, new { @type = "password", @class = "form-control validate[required] text-input", @id = "txtUserPassword", @placeholder = "Enter Your User Password", @autocomplete = "off" })
                                </div>
                            </div>





                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Designation</label>
                                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control validate[required] text-input", @id = "txtDesignation", @placeholder = "Enter Designation", @autocomplete = "off" })
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Distributor</label>
                                    <select id="BindDistributorDDL" class="form-control validate[required]"></select>
                                    @Html.HiddenFor(m => m.distid, new { id = "distid" })
                                    @Html.HiddenFor(m => m.distname, new { id = "distname" })
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Role</label>
                                    <select id="ddlRole" class="form-control validate[required]"><option value="">--Select--</option></select>
                                    @Html.HiddenFor(m => m.rid, new { id = "rid" })
                                    @Html.HiddenFor(m => m.rtext, new { id = "rtext" })
                                </div>
                            </div>








                            <div class="col-sm-6" id="showcompany" style="display:none;">

                                <div class="form-group">
                                    <label for="input-1">Add Company</label>
                                    <br />
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="Yes" class="radio" name="radio">Yes
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="No" class="radio" name="radio">No
                                    </label>


                                    @*<select id="ddlcompany" class="form-control validate[required]">
                    <option value="">--Select--</option>
                </select>
                @Html.HiddenFor(m => m.CompId, new { id = "CompId" })
                @Html.HiddenFor(m => m.CompIdtext, new { id = "CompIdtext" })*@
                                </div>
                            </div>








                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="input-3">Status</label>
                                    @Html.DropDownListFor(x => x.Active, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select--", Value=""},
                                   new SelectListItem() {Text = "Active", Value="1"},
                                   new SelectListItem() {Text = "Inactive", Value="2"}} , new { @class= "form-control validate[required]" })
                                </div>
                            </div>








                        </div>














                            <div class="form-group" id="getbutton">

                                <button type="submit" id="btnUserformsubmit" formaction="GetUserFormData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Users</button>
                                <a href="@Url.Action("AddDistributorIndex","AddDistributor")"><button type="button" class="btn btn-danger" style="display:none;" id="btncompanyadd">Add Company</button></a>
                                <a href="@Url.Action("UpdateDistributorIndex","UpdateDistributor",new { @NestId = Session["compId"]})"><button type="button" class="btn btn-danger" style="display:none;" id="btncompanyupdate">Update Company</button></a>

                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>

        <button type="button" id="btnUserformsubmitSUCCESS" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" id="btncheckuser" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" id="btnuserlink" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
    </div>


</div>
@*end*@

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->



<script>




    @*$(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRoleDDL", "AddDistributorEmployee")",
            success: function (data) {
                $('#ddlRole').empty().append(data);
            }
        });*@




              $.ajax({

            type: "POST",
            url:"@Url.Action("BindCompanyDDL", "AddDistributorEmployee")",
                  success: function (data) {
                 
                      $('#BindDistributorDDL').append(data);
            }
        });




     




    $("#BindDistributorDDL").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#BindDistributorDDL option:selected").html();

        $("#distname").val(text);
        $("#distid").val(value);


            $.ajax({

            type: "POST",
            url: "@Url.Action("BindRoleDDL", "AddDistributorEmployee")",
                data: {"send":""+value+""},
            success: function (data) {
                $('#ddlRole').empty().append(data);
                                     }
               });

    });


</script>

<script>

    $(document).ready(function () {
        $('#ddldesignation').empty();
        $.ajax({

            type: "POST",
            url:"@Url.Action("BindDesignationDDL", "AddDistributorEmployee")",
            success: function (data) {

                $('#ddldesignation').append(data);
            }
        });


    });


</script>




<script>
    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);
    });


    $("#ddlcompany").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcompany option:selected").html();

        $("#CompIdtext").val(text);
        $("#CompId").val(value);


    });
</script>


<script>
    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);
    });
</script>


<script>
    $("#ddlRole").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlRole option:selected").html();

        $("#rtext").val(text);
        $("#rid").val(value);



         




    });
</script>



@*for State dropdown*@




<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddDistributorEmployee")",
            success: function (data) {
                $('#ddlstate').empty().append(data);
            }
        });


    });


</script>

<script>
    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddDistributorEmployee")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });



    });
</script>
@*end*@


<script>
    $(document).ready(function () {
        $("#UserForm").validationEngine();
    });
</script>


@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {


            $("#btnUserformsubmitSUCCESS").on("click", function () { });

            $("#btnUserformsubmitSUCCESS").click(); //trigger event after listening to it.

            @*$("#showcompany").removeAttr('style');

            if (@ViewBag.type == "Update Distributor") {

                $("#btncompanyupdate").removeAttr("style");
            }

            if (@ViewBag.type == "Add Distributor") {

                $("#btncompanyadd").removeAttr("style");
            }*@


        });
    </script>

}



@if (ViewBag.Message == "Duplicate")
{
    <script>

        $(document).ready(function () {


            $("#btncheckuser").on("click", function () { });

            $("#btncheckuser").click(); //trigger event after listening to it.




        });
    </script>

}




@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {


            $("#btnuserlink").on("click", function () { });

            $("#btnuserlink").click(); //trigger event after listening to it.




        });
    </script>

}



