@model WillAssure.Models.NomineeModel
@{
    /**/

    ViewBag.Title = "AddNomineePageContent";
}

<h2>AddNomineePageContent</h2>

<style>
    ul#menu li {
        display: inline;
    }
</style>
@*Main Content*@

<div class="content-wrapper">
    <div class="container-fluid">


        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <h5>
                                    <ul id="menu" style="font-weight:bold;">
                                        <a href="@Url.Action("AddTestatorsFormIndex", "AddTestatorsForm")"><li style="color:black;">Donor ></li></a>
                                        <a href="@Url.Action("AddBeneficiaryIndex", "AddBeneficiary")"><li style="color:black">Donee ></li></a>
                                        <a href="@Url.Action("AddMainAssetsIndex", "AddMainAssets")"><li style="color:black">Gift ></li></a>
                                        <a href="@Url.Action("AddAssetMappingIndex", "AddAssetMapping")">
                                            <li style="color:">Asset Mapping ></li>
                                            <li style="color:#e1e1e1">Witness Appointment ></li>


                                    </ul>
                                </h5>
                            }
                            else
                            {
                                if (Session["Type"].ToString() != "Testator")
                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">


                                            <a href="@Url.Action("AddTestatorsFormIndex", "AddTestatorsForm", new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex", "AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex", "AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                            <a href="@Url.Action("AddMainAssetsIndex", "AddMainAssets")"><li style="color:black">AssetInformation ></li></a>
                                            <a href="@Url.Action("AddLiabilitiesIndex", "AddLiabilities")"><li style="color:black;">Liabilites></li></a>
                                            <a href="@Url.Action("AddPetCareIndex", "AddPetCare")"><li style="color:black">PetCare ></li></a>
                                            <a href="@Url.Action("AddAssetMappingIndex", "AddAssetMapping")"><li style="color:black">Mapping ></li></a>
                                            <a href="@Url.Action("AddNomineeIndex", "AddNominee")"><li style="">Nominee ></li></a>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>


                                        </ul>
                                    </h5>

                                }
                                else

                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">


                                            <a href="@Url.Action("UpdateTestatorsIndex", "UpdateTestators", new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                            <a href="@Url.Action("AddTestatorFamilyIndex", "AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex", "AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                            <a href="@Url.Action("AddMainAssetsIndex", "AddMainAssets")"><li style="color:black">AssetInformation ></li></a>
                                            <a href="@Url.Action("AddLiabilitiesIndex", "AddLiabilities")"><li style="color:black;">Liabilites></li></a>
                                            <a href="@Url.Action("AddPetCareIndex", "AddPetCare")"><li style="color:black">PetCare ></li></a>
                                            <a href="@Url.Action("AddAssetMappingIndex", "AddAssetMapping")"><li style="color:black">Mapping ></li></a>
                                            <a href="@Url.Action("AddNomineeIndex", "AddNominee")"><li style="">Nominee ></li></a>
                                            <li style="color:#e1e1e1">Appointees > </li>
                                            <li style="color:#e1e1e1">Document</li>


                                        </ul>
                                    </h5>
                                }

                            }
                        }
                        else
                        {

                            if (!Response.IsRequestBeingRedirected)
                            {
                                Response.Redirect("/LoginPage/LoginPageIndex");
                            }
                        }
                        <br />
                        <div class="col-12 12">
                            <div class="card bg-transparent shadow-none border border-light-3">
                                <div class="card-header text-white border-light-3" style="background: #199d4b">
                                    Instructions

                                </div>
                                <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-title text-primary">Add Nominee</div>


                        @using (Html.BeginForm("InsertNomineeData", null, FormMethod.Post, new { id = "NomineeForm" }))
                        {


                            <input type="hidden" id="txtcheck" value="" name="name" />
                            <div class="row">
                                <div class="col-sm-1"></div><div class='col-sm-2'><label for='input-1' style="line-height:40px;"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Testator</label></div>
                                <div class='col-sm-3'>
                               
                                                <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                                <input type="hidden" id="tid" name="ddltid" value="@Session["distid"].ToString()" />
                                          




                                </div>

                            </div>

                            <hr class="div_rd">


                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-user-circle-o  " aria-hidden="true"></i>Personal Details</label></div>


                                <div class="col-sm-3">



                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        <input type="hidden" id="txtcheck" value="" name="name" />
                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtfirstname", @placeholder = "First Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>


                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">Middle Name</label>
                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtmiddlename", @placeholder = "Middle Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">Last Name</label>

                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtlastname", @placeholder = "Last Name", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>




                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">


                                    @if (Model.Dob != null)
                                    {
                                        <div class="form-group">

                                            <label for="input-1">Date Of Birth</label>
                                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control input-shadow validate[required]" onchange="validateDOB(this.value)" type="text" id="DOB" value="@Model.Dob" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>

                                            <span style="color:red; display:none;" id="datemsg">Invalid Date Of Birth</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">

                                            <label for="input-1">Date Of Birth</label>
                                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                                <input class="form-control input-shadow validate[required]" onchange="validateDOB(this.value)" type="text" id="DOB" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>

                                            <span style="color:red; display:none;" id="datemsg">Invalid Date Of Birth</span>
                                        </div>
                                    }



                                </div>

                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">Mobile</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-shadow required validate[required,custom[Mobile],maxSize[10]]", @id = "txtmobile", @placeholder = "Enter Mobile", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-3">


                                    @if (Model.RelationshipTxt != null)
                                    {
                                        <div class="form-group">

                                            <label for="input-1">Relation</label>
                                            <select id="ddlrelation" class="form-control input-shadow validate[required]">
                                                <option value="">@Model.RelationshipTxt</option>
                                            </select>
                                            @Html.HiddenFor(m => m.RelationshipId, new { id = "RelationshipId" })
                                            @Html.HiddenFor(m => m.RelationshipTxt, new { id = "RelationshipTxt" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">

                                            <label for="input-1">Relation</label>
                                            <select id="ddlrelation" class="form-control input-shadow validate[required]">
                                                <option value="">--Select--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.RelationshipId, new { id = "RelationshipId" })
                                            @Html.HiddenFor(m => m.RelationshipTxt, new { id = "RelationshipTxt" })
                                        </div>
                                    }





                                </div>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">Marital Status</label>

                                        @Html.DropDownListFor(x => x.Marital_Status, new SelectListItem[]{
                                            new SelectListItem() {Text = "--Select--", Value=""},
                                           new SelectListItem() {Text = "Married", Value="Married"},
                                            new SelectListItem() {Text = "UnMarried", Value="UnMarried"}}, new { @class = "form-control input-shadow validate[required]" })
                                    </div>
                                </div>

                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">Religion</label>

                                        @Html.DropDownListFor(x => x.Religion, new SelectListItem[]{
                                     new SelectListItem() {Text = "--Select--", Value=""},
                                     new SelectListItem() {Text = "Buddhism", Value="Buddhism"},
                                     new SelectListItem() {Text = "Christians", Value="Christians"},
                                     new SelectListItem() {Text = "Hinduism", Value="Hinduism"},
                                     new SelectListItem() {Text = "Islam", Value="Islam"},
                                     new SelectListItem() {Text = "Jainism", Value="Jainism"},
                                     new SelectListItem() {Text = "Sikhism", Value="Sikhism"},

                                     new SelectListItem() {Text = "Zoroastrian", Value="Zoroastrian"}}, new { @class = "form-control input-shadow validate[required]" })

                                    </div>
                                </div>



                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-map-marker" aria-hidden="true"></i>Contact Details</label></div>



                                @if (Model.statetext != null)
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">State</label>
                                            <select id="ddlstate" class="form-control input-shadow validate[required]">
                                                <option value="">@Model.statetext</option>
                                            </select>
                                            @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                            @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">

                                            <label for="input-1">State</label>
                                            <select id="ddlstate" class="form-control input-shadow validate[required]">
                                                <option value="">--Select State--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                            @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                        </div>
                                    </div>
                                }




                                @if (Model.citytext != null)
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">City</label>
                                            <select id="ddlcity" class="form-control input-shadow validate[required]">
                                                <option value="">@Model.citytext</option>
                                            </select>
                                            @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                            @Html.HiddenFor(m => m.citytext, new { id = "citytext" })
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">

                                        <div class="form-group">
                                            <label for="input-1">City</label>
                                            <select id="ddlcity" class="form-control input-shadow validate[required]">
                                                <option value="">--Select City--</option>
                                            </select>
                                            @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                            @Html.HiddenFor(m => m.citytext, new { id = "citytext" })
                                        </div>
                                    </div>
                                }


                                <div class="col-sm-3">

                                    <div class="form-group">

                                        <label for="input-1">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control input-shadow required validate[required,custom[integer],maxSize[6]]", @id = "txtpin", @placeholder = "Enter Pin", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>



                            </div>








                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">

                                    <div class="form-group">

                                        <label for="input-1">Address 1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtaddress1", @placeholder = "Enter Address 1", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">

                                    <div class="form-group">

                                        <label for="input-1">Address 2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control input-shadow  text-input", @id = "txtaddress2", @placeholder = "Enter Address 2", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>

                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">

                                    <div class="form-group">

                                        <label for="input-1">Address 3</label>
                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control input-shadow  text-input", @id = "txtaddress3", @placeholder = "Enter Address 3", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>


                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1"><i class="fa fa-id-card-o" aria-hidden="true"></i>Identity Proof</label></div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}} , new { @class= "form-control input-shadow validate[required]", @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                    </div>
                                </div>



                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <div id="appendtxt">  @Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtidentityproof", @placeholder = "Enter Aadhaar Card", @style="display:none;" , @autocomplete = "off" })</div>


                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="input-1">Alt Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}}, new { @class= "form-control input-shadow ", @id="ddlidentityproof1" , @onchange= "getAltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @Html.HiddenFor(m => m.Alt_Identity_Proof, new { id = "Alt_Identity_Proof" })
                                    </div>
                                </div>


                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <div id="appendtxt2">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>


                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2"> <label for="input-1">Description of Assets</label></div>









                                <div class="col-sm-6">

                                    <div class="form-group">


                                        @Html.TextAreaFor(m => m.Description_of_Assets, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtdescriptionofasset", @placeholder = "Enter Description of Assets", @autocomplete = "off", alert = "LabourCost is requried" })
                                    </div>
                                </div>





                            </div>



                            <div class="form-group" style="float:right">

                                <button type="submit" id="btnRoleformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Add Nominee</button>
                                <a href="@Url.Action("AddAppointeesIndex","AddAppointees")"><button type="button" id="btnnext" style="display:none" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                            </div>

                        }



                    </div>



                    <button type="button" id="btnnomineeinsertsuccess" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                    <button type="button" id="btnnomineelinking" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                    <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                    <button type="button" style="display:none" id="confirmtestatorfamily"></button>


                    <script>


                        function validateDOB(value) {



                            var today = new Date();
                            var birthDate = new Date(value);
                            var age = today.getFullYear() - birthDate.getFullYear();

                            if (age > 18) {
                                $("#datemsg").hide();
                            }
                            else {
                                $("#datemsg").show();
                            }



                        }


          $(document).ready(function () {

            $.ajax({

                type: "POST",
                url:"@Url.Action("BindStateDDL", "AddNominee")",
                success: function (data) {
                    $('#ddlstate').empty().append(data);
                }
              });







        });



    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);



        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddNominee")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });





    });
                    </script>

                    @*validation script*@
                    <script>
                        function getIdentityselection(id) {

                            $("#ddlidentityproof1 option:disabled").removeAttr('disabled');

                            if (id == "Aadhaar Card") {
                                $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[adharCard]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
                            }


                            if (id == "Passport") {
                                $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[Passport]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
                            }



                            if (id == "Driving Licences") {
                                $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[carnumber]]  text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
                            }



                            if (id == "Pan Card") {
                                $("#appendtxt").empty().append("<input type='text' class='form-control input-shadow validate[required,custom[pannumber]]  text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
                            }

                            var previousid = id;



                            $("#ddlidentityproof1").find("option[value='" + previousid + "']").attr("disabled", "disabled");
                        }
                    </script>


                    <script>
                        function getAltIdentityselection(id) {

                            $("#Alt_Identity_Proof").val(id);


                            if (id == "Aadhaar Card") {
                                $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[adharCard]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
                            }


                            if (id == "Passport") {
                                $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[Passport]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
                            }



                            if (id == "Driving Licences") {
                                $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[carnumber]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
                            }



                            if (id == "Pan Card") {
                                $("#appendtxt2").empty().append("<input type='text' class='form-control input-shadow validate[custom[pannumber]]  text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
                            }


                    


                            var previousid = id;
                            $("#ddlidentityproof1").find("option[value='" + previousid + "']").hide();


                        }
                    </script>




                    <script>
                        $("#ddlcity").change(function () {
                            var value = $(this).children(":selected").attr("value");
                            var text = $("#ddlcity option:selected").html();

                            $("#citytext").val(text);
                            $("#cityid").val(value);
                        });
                    </script>

                    <script>
                        $(document).ready(function () {
                            $("#NomineeForm").validationEngine();
                        });
                    </script>
                    @*end*@


                    <script>

    $(document).ready(function () {



              var val = $("#tid").val();

        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddNominee")",
                 data: { value: val, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {

                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click();

                    $("#btnnext").show();

                }







            }
        });






        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddNominee")",
            success: function (data) {
                $('#ddlrelation').empty().append(data);
            }
        });


            $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddNominee")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          $("#confirmtestatorfamily").on("click", function () { });

                          $("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }





            }
          });



    });


        $("#ddlrelation").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlrelation option:selected").html();

            $("#RelationshipTxt").val(text);
            $("#RelationshipId").val(value);


        });

                    </script>






                    @if (ViewBag.Message == "Verified")
                    {
                        <script>

                            $(document).ready(function () {


                                $("#btnnomineeinsertsuccess").on("click", function () { });

                                $("#btnnomineeinsertsuccess").click(); //trigger event after listening to it.

                                $("#btnnext").show();


                            });
                        </script>

                    }



                    @if (ViewBag.Message == "link")
                    {
                        <script>

                            $(document).ready(function () {


                                $("#btnnomineelinking").on("click", function () { });

                                $("#btnnomineelinking").click(); //trigger event after listening to it.




                            });
                        </script>

                    }

                    <script>

      function getDDLTestator(value) {
        //var value = $(this).children(":selected").attr("value");
        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddNominee")",
                 data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click(); //trigger event after listening to it.




                }







            }
        });





    };




    $('.radio').on('change', function () {
        if (!$(this).is(':checked')) {
            $('.radio').prop('checked', false);
            $("#txtcheck").val("false");

        } else {
            $('.radio').prop('checked', true);
            $("#txtcheck").val("true");
        }
    });
                    </script>





                    <script>
                        $("#confirmtestatorfamily").click(function () {
                            $("#btnnext").show();
                            swal({

                                text: 'Your Nominee Data Submitted Successfully Do You Want To Add More ?',
                                icon: 'warning',
                                buttons: true,
                                dangerMode: true,
                                buttons: ['No', 'Yes']
                            })
                                .then((willDelete) => {
                                    if (willDelete) {



                                    } else {





                                        var url = "/AddAppointees/AddAppointeesIndex/";
                                        window.location.href = url;




                                    }
                                });

                        });


                    </script>





