@model WillAssure.Models.UserFormModel
@{
    ViewBag.Title = "UpdateEditFormContent";
}

@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        @if (Session["compId"] == null)
        {
            <script>
                var url = "/LoginPage/LoginPageIndex/";
                window.location.href = url;
            </script>
        }

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-primary">Update Will Employee</div>
                        <hr class="div_rd">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "UserForm" }))
                        {

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        @Html.HiddenFor(m => m.uid)
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtfirstname", @placeholder = "Enter First Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Last Name</label>

                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtLastName", @placeholder = "Enter Last Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>
                                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtMiddleName", @placeholder = "Enter Middle Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-5">Date Of Birth</label>
                                        @Html.TextBoxFor(m => m.Dob, new { @type = "text", @class = "form-control input-shadow validate[required] text-input", @id = "txtDob", @placeholder = "Select Your Date Of Birth", @autocomplete = "off" })


                                        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control input-shadow validate[required]" type="text" id="Dob" style="display:none;" name="Dob" autocomplete="off" placeholder="Select Date Of Birth" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>

                                        <script>
                                            $("#txtDob").focus(function () {
                                                $("#txtDob").hide();
                                                $("#Dob").show();
                                            });
                                        </script>

                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Mobile</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-shadow validate[required,custom[Mobile],maxSize[10]] text - input", @id = "txtmobile", @placeholder = "Enter Mobile Number", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-shadow validate[required,custom[email]] text-input", @id = "txtEmail", @placeholder = "Enter Email", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address 1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtaddress1", @placeholder = "Enter Address 1", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address 2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtaddress2", @placeholder = "Enter Address 2", @autocomplete = "off" })
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-3">Address 3</label>
                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtaddress3", @placeholder = "Enter Address 3", @autocomplete = "off" })
                                    </div>
                                </div>







                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">State</label>

                                        <select id="ddlstate" class="form-control input-shadow validate[required]" style="display:none;">
                                          
                                        </select>
                                        @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                        @Html.TextBoxFor(m => m.statetext, new { id = "statetext", @class = "form-control input-shadow" })
                                        <script>
                                            $("#statetext").focus(function () {
                                                $("#statetext").hide();
                                                $("#ddlstate").show();

                                                   var value = $("#statetext").val();
                                                 $.ajax({

            type: "POST",
            url: "@Url.Action("BindStateDDL", "UpdateTestators")",
            data: { "statename": "" + value+  ""},
            success: function (data) {
                if (data != "") {
                    $('#ddlstate').empty().append(data);
                }
               
            }



        });
                                            });
                                        </script>
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" class="form-control input-shadow validate[required]" style="display:none;">
                                            <option value="">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                        @Html.TextBoxFor(m => m.citytext, new { id = "citytext", @class = "form-control input-shadow" })
                                        <script>
                                            $("#citytext").focus(function () {
                                                $("#citytext").hide();
                                                $("#ddlcity").show();
                                            });
                                        </script>
                                    </div>

                                </div>




                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control input-shadow validate[required,custom[PinCode]] text-input", @id = "txtPin", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Login Id</label>
                                        @Html.TextBoxFor(m => m.UserId, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtUserId", @placeholder = "Enter UserId", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">User Password</label>
                                        @Html.TextBoxFor(m => m.UserPassword, new { @type = "password ", @class = "form-control input-shadow validate[required] text-input", @id = "txtUserPassword", @placeholder = "Enter User Password", @autocomplete = "off" })
                                    </div>
                                </div>





                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Designation</label>
                                        @Html.TextBoxFor(m => m.Designation, new { @class = "form-control input-shadow validate[required] text-input", @id = "txtDesignation", @placeholder = "Enter Designation", @autocomplete = "off" })
                                    </div>
                                </div>*@


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Role</label>
                                        <select id="ddlRole" style="display:none;" class="form-control input-shadow validate[required]"></select>
                                        @Html.HiddenFor(m => m.rid, new { id = "rid" })
                                        @Html.TextBoxFor(m => m.rtext, new { id = "rtext" , @class= "form-control input-shadow " })
                                    </div>
                                    <script>
                                        $("#rtext").focus(function () {
                                            $("#rtext").hide();
                                            $("#ddlRole").show();
                                        });
                                    </script>
                                </div>








                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Status</label>
                                        @Html.DropDownListFor(x => x.Active, new SelectListItem[]{
                                       new SelectListItem() {Text = "--Select--", Value=""},
                                       new SelectListItem() {Text = "Active", Value="Active"},
                                       new SelectListItem() {Text = "Inactive", Value="Inactive"}} , new { @class= "form-control input-shadow validate[required]" })
                                    </div>
                                </div>








                            </div>















                            <div class="form-group">

                                <button type="submit" id="UpdatingUserform" formaction="UpdatingUserform" class="btn btn-success shadow-success px-5"><i class="icon-lock"></i>Update Distributor</button>
                                <button type="button" id="UpdatingUserformUPDATE" style="display:none;" formaction="UpdatingUserform" class="btn btn-success shadow-success px-5"><i class="icon-lock"></i></button>


                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>
@*end*@

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->




<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindDesignationDDL", "UpdateWillEmployee")",
            success: function (data) {
                $('#ddldesignation').append(data);
            }
        });


    });


</script>




<script>
    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);
    });
</script>


<script>
    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);
    });
</script>





@*for State dropdown*@




<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "UpdateWillEmployee")",
            success: function (data) {
                $('#ddlstate').append(data);
            }
        });


    });


</script>

<script>
    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "UpdateWillEmployee")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });



    });
</script>
@*end*@


<script>

        $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRoleDDL", "UpdateWillEmployee")",
            success: function (data) {
                $('#ddlRole').append(data);
            }
        });


    });



  $("#ddlRole").change(function () {
      var value = $(this).children("#ddlRole option:selected").attr("value");
        var text = $("#ddlRole option:selected").html();

        $("#rtext").val(text);
        $("#rid").val(value);

        if (text == "Distributor") {


            $.ajax({

            type: "POST",
            url: "@Url.Action("checktype", "UpdateWillEmployee")",

            success: function (data) {

                if (data =="Update Distributor") {

                    $("#btncompanyupdate").removeAttr("style");

                }

                //if (data == "Add Distributor") {
                //    $("#btncompanyadd").removeAttr("style");
                //}

            }



        });


        }
        else {
            $("#showcompany").css('display', 'none');
            $("#btncompany").css('display', 'none');
        }




    });
</script>




<script>
    $(document).ready(function () {
        $("#UserForm").validationEngine();
    });
</script>



@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {
            $("#UpdatingUserformUPDATE").on("click", function () { });

            $("#UpdatingUserformUPDATE").click(); //trigger event after listening to it.

        });
    </script>

}


