﻿@model WillAssure.Models.WillDetailModel
@{
    ViewBag.Title = "WillDetailsPageContent";
}

@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <div class="col-sm-3">
                <div class="btn-group float-sm-right">
                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        @*<div class="card-title text-primary">Will Details</div>*@




        @Html.HiddenFor(m => m.VerifyId, new { @id = "txtVerifyId" })


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-info nav-justified" style="white-space:nowrap;">
                            <li class="nav-item ">
                                <a class="nav-link active" data-toggle="tab" href="#tabe-1"><i class="icon-user"></i> <span class="hidden-xs">Testator</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-2"><i class="icon-user"></i> <span class="hidden-xs">Testator Family</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-3"><i class="icon-user"></i> <span class="hidden-xs">Beneficiary</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-4"><i class="icon-user"></i> <span class="hidden-xs">Alt Beneficiary</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-5"><i class="icon-user"></i> <span class="hidden-xs">Asset Mapped</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-6"><i class="icon-user"></i> <span class="hidden-xs">Nominee</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-7"><i class="icon-user"></i> <span class="hidden-xs">Appointees</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabe-8"><i class="icon-user"></i> <span class="hidden-xs">Alt Appointees</span></a>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="tabe-1" class="container tab-pane active">
                         
                               <center><a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators", new {NestId=ViewBag.tid})"><input type="button" class="btn btn-primary" name="name" value="Edit TestatorDetails" /></a></center> 
                               <div class="row">
                                   @if (ViewBag.TestatorDetails != null)
                                   {
                                       foreach (var item in ViewBag.TestatorDetails)
                                       {



                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Name : </label>

                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorName" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Last Name : </label>
                                               <div class="form-group">


                                                   <input type="text" readonly="true" name="name" value="@item.TestatorLastName" class="form-control" />
                                               </div>
                                           </div>



                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorMiddleName" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> DOB : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorDOB" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Occupation : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorOccupation" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Mobile : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorMobile" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Email : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorEmail" class="form-control" />
                                               </div>
                                           </div>






                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Marital Status : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorMaritalStatus" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Relationship : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorRelationship" class="form-control" />
                                               </div>
                                           </div>






                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Religion : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorReligion" class="form-control" />
                                               </div>
                                           </div>






                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> IdentityProof : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorIdentityProof" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> ProofValue : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorIdentityProofValue" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> AltIdentity Proof : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorAltIdentityProof" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> ProofValue : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorAltIdentityProofValue" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Gender : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorGender" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Address1 : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorAddress1" class="form-control" />
                                               </div>
                                           </div>





                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Address2 : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorAddress2" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Address3 : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorAddress3" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Country : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorCountry" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> State : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorState" class="form-control" />
                                               </div>
                                           </div>




                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> City : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorCity" class="form-control" />
                                               </div>
                                               <hr style="border-top: 1px dotted black;" />
                                           </div>



                                           <div class="col-sm-6">
                                               <label for="input-1" style="line-height:38px"> Pin : </label>
                                               <div class="form-group">

                                                   <input type="text" readonly="true" name="name" value="@item.TestatorPin" class="form-control" />
                                               </div>
                                               <hr style="border-top: 1px dotted black;" />
                                           </div>
                                        



                                       }
                                   }



                               </div>
                           
                            </div>
                            <div id="tabe-2" class="container tab-pane fade">
                                <center><a href="@Url.Action("EditTestatorFamilyIndex","EditTestatorFamily")"><input type="button" class="btn btn-primary" name="name" value="Edit TestatorFamily" /></a></center>
                                
                                <div class="row">
                                    @if (ViewBag.testatorFamily != null)
                                    {
                                        foreach (var item in ViewBag.testatorFamily)
                                        {


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>

                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tffirstname" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Last Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tflastname" class="form-control" />

                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfmiddlename" class="form-control" />
                                                </div>
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> DOB : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfdob" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Marital Status : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfmaritalstatus" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Religion : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfreligion" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> RelationShip : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfrelationship" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfaddress1" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfaddress2" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfaddress3" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfcity" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfstate" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfpin" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfidentityproof" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identity Proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfaltidentityproof" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identity Proof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.tfaltidentityproofvalue" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> InFormed : </label>
                                                <div class="form-group">


                                                    <input type="text" readonly="true" name="name" value="@item.tfisinformedperson" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>
                                        }

                                    }


                                </div>
                            </div>
                            <div id="tabe-3" class="container tab-pane fade">
                                
                                <center><a href="@Url.Action("EditBeneficiaryIndex","EditBeneficiary")"><input type="button" class="btn btn-primary" name="name" value="Edit Beneficiary" /></a></center>
                                <div class="row">
                                    @if (ViewBag.beneficiary != null)
                                    {
                                        foreach (var item in ViewBag.beneficiary)
                                        {


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>

                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryName" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Last Name : </label>
                                                <div class="form-group">


                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryLastName" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryMiddleName" class="form-control" />
                                                </div>
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> DOB : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryDOB" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Mobile : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryMobile" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> RelationShip : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryRelationship" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Martial Status : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryMartialStatus" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Religion : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryReligion" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryIdentityProof" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryIdentityProofValue" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.BeneficiaryaltidentityProof" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProofValue : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiaryaltidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiaryaddress1" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiaryaddress2" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiaryaddress3" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiarycity" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiarystate" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.beneficiarypin" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>

                                        }

                                    }


                                </div>
                            </div>
                            <div id="tabe-4" class="container tab-pane fade">
                                <center> <a href="@Url.Action("EditAlternateBeneficiaryIndex","EditAlternateBeneficiary")"><input type="button" class="btn btn-primary" name="name" value="Edit Alternate Beneficiary" /></a></center>
                               
                                <div class="row">
                                    @if (ViewBag.altbene != null)
                                    {
                                        foreach (var item in ViewBag.altbene)
                                        {
                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenefirstname" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Last Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenelastname" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenemiddlename" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> DOB : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenedob" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Mobile : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenemobile" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> RelationShip : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenerelationship" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Martial Status : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenemaritalstatus" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Religion : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenereligion" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbeneidentityproof" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbeneidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenealtidentityproof" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProofValue : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenealtidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">


                                                    <input type="text" readonly="true" name="name" value="@item.altbeneaddress1" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbeneaddress2" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbeneaddress3" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenecity" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenestate" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.altbenepin" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>

                                        }
                                    }

                                </div>
                            </div>
                            <div id="tabe-5" class="container tab-pane fade">
                                <center> <a href="@Url.Action("EditBeneficiaryMappingIndex","EditBeneficiaryMapping")"><input type="button" class="btn btn-primary" name="name" value="Edit Beneficiary Mapping" /></a></center>
                               
                                <div class="row">
                                    @if (ViewBag.BeneficiaryMapping != null)
                                    {
                                        foreach (var item in ViewBag.BeneficiaryMapping)
                                        {

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Asset Type : </label>

                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.bmassettype" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Asset Category: </label>
                                                <div class="form-group">


                                                    <input type="text" readonly="true" value="@item.bmassetcat" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Scheme Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.bmschemename" name="name" class="form-control" />
                                                </div>
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Instrument Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.bminstrumentname" name="name" class="form-control" />
                                                </div>

                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Proportion : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.bmproportion" name="name" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>
                                            <div class="col-sm-6">


                                            </div>
                                           


                                        }

                                    }





                                </div>
                                        </div>
                            <div id="tabe-6" class="container tab-pane fade">
                                <center><a href="@Url.Action("EditNomineeIndex","EditNominee")"><input type="button" class="btn btn-primary" name="name" value="Edit Nominee" /></a></center>
                                
                                <div class="row">
                                    @if (ViewBag.nominee != null)
                                    {
                                        foreach (var item in ViewBag.nominee)
                                        {
                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomfirstname" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Last Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomlastname" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nommiddlename" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> DOB : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomdob" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Mobile : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nommobile" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> RelationShip : </label>
                                                <div class="form-group">

                                                    <input type="text"  readonly="true" name="name" value="@item.nomrelationship" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Martial Status : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nommaritalstatus" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Religion : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomreligion" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomidentityproof" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity Proof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomaltidentityproof" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt IdentityProofValue : </label>
                                                <div class="form-group">

                                                    <input type="text" name="name" value="@item.nomaltidentityproofvalue" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomaddress1" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomaddress2" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomaddress3" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomcity" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nomstate" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" name="name" value="@item.nompin" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>
                                        }

                                    }





                                </div>
                            </div>
                            <div id="tabe-7" class="container tab-pane fade">
                                <center><a href="@Url.Action("EditAppointeesIndex","EditAppointees")"><input type="button" class="btn btn-primary" name="name" value="Edit Appointees" /></a></center>
                                <div class="row">
                                    @if (ViewBag.appointees != null)
                                    {
                                        foreach (var item in ViewBag.appointees)
                                        {
                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Type : </label>

                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesType" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Subtype : </label>
                                                <div class="form-group">


                                                    <input type="text" readonly="true" value="@item.appointeesSubtype" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesName" name="name" class="form-control" />
                                                </div>
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Middle Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesmiddle" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Surname : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeessurname" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identityproof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesidentityproof" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identityproof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesIdentityproofvalue" name="name" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identityproof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesaltidentityproof" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identityproofvalue : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesaltidentityproofvalue" name="name" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> DOB : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesDOB" name="name" class="form-control" />
                                                </div>
                                            </div>






                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Gender : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesGender" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Occupation : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesOccupation" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Relationship: </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesrelationship" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesaddress1" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2 : </label>
                                                <div class="form-group">

                                                    <input type="text"  readonly="true" value="@item.appointeesaddress2" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesaddress3" name="name" class="form-control" />
                                                </div>
                                            </div>





                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeescity" name="name" class="form-control" />
                                                </div>
                                            </div>




                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeesstate" name="name" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.appointeespin" name="name" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>

                                        }


                                    }


                                </div>
                            </div>
                            <div id="tabe-8" class="container tab-pane fade">
                                <center><a href="@Url.Action("EditAlternateAppointeesIndex","EditAlternateAppointees")"><input type="button" class="btn btn-primary" name="name" value="Edit Alternate Appointees" /></a></center>
                                
                                <div class="row">
                                    @if (ViewBag.altappointment != null)
                                    {
                                        foreach (var item in ViewBag.altappointment)
                                        {
                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Name : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappname" name="name" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> MiddleName : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappmiddlename" name="name" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> SirName : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappsurname" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity proof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappidentityproof" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Identity proof value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappidentityproofvalue" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identityproof : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaltidentityproof" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Alt Identityproof Value : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaltidentityproofvalue" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Dob : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappdob" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Gender : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappgender" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Occupation : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappoccupation" name="name" class="form-control" />
                                                </div>
                                            </div>



                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> RelationShip : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altapprelationship" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 1 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaddress1" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 2: </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaddress2" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Address 3 : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaddress3" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> City : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappcity" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> State : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappstate" name="name" class="form-control" />
                                                </div>
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Pin : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altapppin" name="name" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>


                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Guardian : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaltguardian" name="name" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="input-1" style="line-height:38px"> Executor : </label>
                                                <div class="form-group">

                                                    <input type="text" readonly="true" value="@item.altappaltexec" name="name" class="form-control" />
                                                </div>
                                                <hr style="border-top: 1px dotted black;" />
                                            </div>
                                        }

                                    }



                                </div>
                            </div>
                                <div class="form-group">
                                    @if (Convert.ToInt32(Session["uuid"]) != 1)
                                    {
                                        <center><button type="button" id="btnwilldetails" class="btn btn-danger shadow-primary px-5"><i class="icon-lock"></i> Send For Verification</button></center>
                                    }
                                    else
                                    {

                                        <center><button type="button" id="btnwilldetails" class="btn btn-success shadow-primary px-5"><i class="icon-lock"></i>Approve Details</button></center>

                                    }
                                    <button type="button" id="btnsenddocument" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                                    <button type="button" id="btnRoleformsubmitCHECK" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div><!--End Row-->





    </div>
</div>



@*end*@
<script>

    $("#btnwilldetails").click(function () {

         var data =  $("#txtVerifyId").val();

           $.ajax({

            type: "POST",
            url: "@Url.Action("GetTidForVerification", "WillDetails")",
               data: { "send":""+data+""},
            success: function (data) {
                $("#btnsenddocument").on("click", function () { });

                $("#btnsenddocument").click(); //trigger event after listening to it.
            }
        });

    });

</script>


