﻿﻿@model WillAssure.Models.AssetMappingModel
@{
    ViewBag.Title = "AddAssetMappingPageContent";
}

<style>

    ul#menu li {
        display: inline;
    }
</style>

@if (Session["Type"] == null || Session["Type"].ToString() == "" || Session["doctype"] == null || Session["doctype"].ToString() == "")
{
    <script>
        var NestId = data
        var url = "/LoginPage/ViewLogout/";
        window.location.href = url;
    </script>

}
@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <div class="col-sm-3">
                <div class="btn-group float-sm-right">
                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RoleForm" }))
        {

            @Html.HiddenFor(m => m.Beneficiaryid, new { id = "Beneficiaryid" })
            @Html.HiddenFor(m => m.Beneficiarytxt, new { id = "Beneficiarytxt" })

            @Html.HiddenFor(m => m.InstrumentId, new { id = "InstrumentId" })
            @Html.HiddenFor(m => m.Instrumenttxt, new { id = "Instrumenttxt" })
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">


                            @if (Session["doctype"] != null)
                            {
                                if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                {
                                    <h5>
                                        <ul id="menu" style="font-weight:bold;">
                                            <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:black;">Donor ></li></a>
                                            <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black">Donee ></li></a>
                                            <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li style="color:black">Gift ></li></a>
                                            <a href="@Url.Action("AddAssetMappingIndex","AddAssetMapping")">
                                                <li style="color:">Asset Mapping ></li>
                                            </a>
                                            <li style="color:#e1e1e1">Witness Appointment ></li>
                                            <li style="color:#e1e1e1">Document</li>

                                        </ul>
                                    </h5>
                                }
                                else
                                {
                                    if (Session["Type"].ToString() != "Testator")
                                    {
                                        <h5>
                                            <ul id="menu" style="font-weight:bold;">

                                                <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                                <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                                <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                                <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li style="color:black;">AssetInformation ></li></a>
                                                <a href="@Url.Action("AddLiabilitiesIndex","AddLiabilities")"><li style="color:black;">Liabilites></li></a>
                                                <a href="@Url.Action("AddPetCareIndex","AddPetCare")"><li style="color:black;">PetCare ></li></a>
                                                <a href="@Url.Action("AddAssetMappingIndex","AddAssetMapping")"><li style="">Mapping ></li></a>
                                                <li style="color:#e1e1e1">Nominee ></li>
                                                <li style="color:#e1e1e1">Appointees > </li>
                                                <li style="color:#e1e1e1">Document</li>
                                            </ul>
                                        </h5>
                                    }
                                    else
                                    {
                                        <h5>
                                            <ul id="menu" style="font-weight:bold;">

                                                <a href="@Url.Action("UpdateTestatorsIndex","UpdateTestators" , new { NestId = Convert.ToInt32(Session["uuid"]) })"><li style="color:black;">Testator></li></a>
                                                <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><li style="color:black;">Testator Family ></li></a>
                                                <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><li style="color:black;">Beneficiary ></li></a>
                                                <a href="@Url.Action("AddMainAssetsIndex","AddMainAssets")"><li style="color:black;">AssetInformation ></li></a>
                                                <a href="@Url.Action("AddLiabilitiesIndex","AddLiabilities")"><li style="color:black;">Liabilites></li></a>
                                                <a href="@Url.Action("AddPetCareIndex","AddPetCare")"><li style="color:black;">PetCare ></li></a>
                                                <a href="@Url.Action("AddAssetMappingIndex","AddAssetMapping")"><li style="">Mapping ></li></a>
                                                <li style="color:#e1e1e1">Nominee ></li>
                                                <li style="color:#e1e1e1">Appointees > </li>
                                                <li style="color:#e1e1e1">Document</li>
                                            </ul>
                                        </h5>
                                    }

                                }
                            }
                            else
                            {
                                <script>
                                    var NestId = data
                                    var url = "/LoginPage/LoginPageIndex/";
                                    window.location.href = url;
                                </script>
                            }
                            <br>
                            <div class="col-12 12">
                                <div class="card bg-transparent shadow-none border border-light-3">
                                    <div class="card-header text-white border-light-3" style="background: #199d4b">
                                        Instructions

                                    </div>
                                    <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-title text-primary">Asset Mapping</div>
                            <div class="row">
                                <div class='col-sm-1'><label for='input-1' style="line-height:40px;">Testator <span id='errproportion' style='color:red;display:;'>(*)</span></label></div>
                                <div class="col-sm-3">

                                    @if (Session["Type"] != null)
                                    {
                                        if (Session["Type"].ToString() == "DistributorAdmin" || Session["Type"].ToString() == "SuperAdmin")
                                        {
                                            if (Session["disttestator"] != null || Session["distid"] != null)
                                            {
                                                <input type="text" readonly="true" name="ddltestatorname" class="form-control" value="@Session["disttestator"].ToString()" />
                                                <input type="hidden" id="tid" name="ddltid" value="@Session["distid"].ToString()" />
                                            }

                                        }
                                        else
                                        {
                                            <select id='DDLTestator' onchange="getDDLTestator(value)" name="contentList" class='form-control input-shadow validate[required]'></select>
                                            @Html.HiddenFor(m => m.ddltid, new { id = "ddltid", @name = "ddlTid" })
                                            @Html.HiddenFor(m => m.ddltestatorname, new { id = "ddltestatorname" })
                                        }

                                    }
                                    else
                                    {
                                        <script>
                                            var NestId = data
                                            var url = "/LoginPage/LoginPageIndex/";
                                            window.location.href = url;
                                        </script>
                                    }


                                    <input type="hidden" id="txtcount" name="name" value="" />
                                </div>

                            </div>

                            @*<div class="row">






            <input type="hidden" id="txtcheck" value="" name="name" />

            <div class='col-sm-6'>
                <div class='form-group'>
                    <label for='input-1'>Assets Type</label>
                    <select id='ddlassettype' name="contentList" onChange='getassettypeid(this.value)' class='form-control'></select>
                    @Html.HiddenFor(m => m.assettypeid, new { id = "assettypeid" })
                    @Html.HiddenFor(m => m.assettypetext, new { id = "assettypetext" })
                </div>
            </div>

            <div class='col-sm-6'>
                <div class='form-group'>
                    <label for='input-1'>Assets Category</label>
                    <select id='ddlassetcat' name="contentList" onChange='getassetcatid(this.value)' class='form-control'><option value="">--Select--</option></select>
                    @Html.HiddenFor(m => m.assetcatid, new { id = "assetcatid" })
                    @Html.HiddenFor(m => m.assetcattext, new { id = "assetcattext" })
                </div>
            </div>
        </div>*@
                            @*<div class='col-sm-3' id="type" style="display:none;">
            <div class='form-group'>
                <label for='input-1'>Type</label>
                <br />
                <form>
                    <label class="radio-inline">
                        <input type="radio" onchange="getvalone(this.value)" name="optradio" value="Single" checked>Single
                    </label>
                    <label class="radio-inline">
                        <input type="radio" onchange="getvaltwo(this.value)" name="optradio" value="Multiple">Multiple
                    </label>
                </form>
            </div>
        </div>*@
                            <hr>
                            <input type='hidden' id='txttotalval' name='name' value='100' />


                            <input type='hidden' id='assettypeidforliablities' name='name' value='@Session["assettypeidforliablities"]' />
                            <input type='hidden' id='assetcategoryidforliablities' name='name' value='@Session["assetcategoryidforliablities"]' />
                            <input type='hidden' id='totalliablities' name='name' value='@Session["totalliablities"]' />

                            <input type='hidden' id='assettypeidforpetcare' name='name' value='@Session["assettypeidforpetcare"]' />
                            <input type='hidden' id='assetcategoryidforpetcare' name='name' value='@Session["assetcategoryidforpetcare"]' />
                            <input type='hidden' id='totalpetcare' name='name' value='@Session["totalpetcare"]' />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="accordion8">






                                    </div>



                                </div>
                            </div>





                            @if (Session["doctype"] != null)
                            {
                                if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                {
                                    <div class="form-group" style="float:right">

                                        <a href="@Url.Action("AddAppointeesIndex","AddAppointees")"><button type="button" style="display:;" id="btnnext" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group" style="float:right">
                                        <a href="@Url.Action("AddNomineeIndex","AddNominee")"><button type="button" style="display:;" id="btnnext" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                            }
                            else
                            {
                                <script>
                                    var NestId = data
                                    var url = "/LoginPage/LoginPageIndex/";
                                    window.location.href = url;
                                </script>
                            }


                            }


                            @*<div class="card-body" id="fetchdata">
            <div class='col-sm-3' id="type">
                <div class='form-group'>
                    <label for='input-1'>Type</label>
                    <br />
                    <form>
                        <label class="radio-inline">
                            <input type="radio" onchange="getvalone(this.value)" name="optradio" value="Single" checked>Single
                        </label>
                        <label class="radio-inline">
                            <input type="radio" onchange="getvaltwo(this.value)" name="optradio" value="Multiple">Multiple
                        </label>
                    </form>
                </div>
            </div>
            <div id="parentdiv">
                <div class="row rowdiv" id="beneficiarydetails" style="display:;">


                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <label for='input-1'>Beneficiary</label>
                            <select id='ddlbeneficiary1' onchange="checkbeneficiaryduplicate(this.id)" name="contentList" class='form-control beneficiaryclass'></select>
                            @Html.HiddenFor(m => m.Beneficiaryid, new { id = "Beneficiaryid" })
                            @Html.HiddenFor(m => m.Beneficiarytxt, new { id = "Beneficiarytxt" })

                            <input type="text" class="form-control" style="display:none" id="ddlbeneficiarytxt" name="name" value="" />
                        </div>
                    </div>
                    <div class='col-sm-2'><div class='form-group' id="getidentifier"></div></div>
                    <div class='col-sm-3'>
                        <label for='input-1'>Instruments</label>
                        <select id='DDLAssetColumn1' onchange="getDDLAssetColumn(this.id)" name="contentList" class='form-control instrumentclass'></select>
                        @Html.HiddenFor(m => m.InstrumentId, new { id = "InstrumentId" })
                        @Html.HiddenFor(m => m.Instrumenttxt, new { id = "Instrumenttxt" })
                    </div>
                    <div class='col-sm-2 grandparent'>
                        <div class='form-group parent'>
                            <label for='input-1'>Proportion</label>
                            <input type='text' class='form-control proportioninput' onkeypress="return isNumberKey(event)" onchange="gettxtproportion(this.value)" name="rank" id="txtproportion" />
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group start'>
                            <label for='input-1'>Total</label>
                            <input type='text' id="txttotal" class='form-control totalinput' readonly />
                            <input type="hidden" id="txttotalval" name="name" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="btnmappingsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit</button>
                <button type="button" id="btnadd" style="display:none;" class="btn btn-danger shadow-primary px-5"><i class="icon-lock"></i>Add</button>


            </div>

        </div>*@


                            <textarea id="query" style="display:none;" class="form-control">
                               
                           </textarea>
                        </div>
                    </div>
                </div>
            </div>


        }
        <button type="button" id="btnmainassetsuccess" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" id="btncheckExists" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" style="display:none" id="confirmtestatorfamily"></button>
    </div>
    @*end*@

    <script>
        $(document).ready(function () {
            $("#RoleForm").validationEngine();


        });
    </script>
    <script>



        $(document).ready(function () {





                 $.ajax({

                type: "POST",

                 url: "@Url.Action("bindassetcatDDL", "AddAssetMapping")",

                     success: function (response1) {
                         //console.log(JSON.stringify(data));
                         var totalval = 100;
                         var response = groupArrayMain(response1, "atId", "AssetsType");
                      //   console.log(JSON.stringify(response));
                        //return false;
                         for (var j = 0; j < response.length; j++) {
                             var assettypeid = response[j].atId;
                             var AssetsType = response[j].atId_group[0].AssetsType;
                             var atId_group = response[j].atId_group[0].AssetsType_group;
                             var data = atId_group;



                             //   console.log(JSON.stringify(atId_group));
                             var assettypehtmlelem = "<h6 class='text-uppercase'>" + AssetsType + "</h6><hr>";
                             $("#accordion8").append(assettypehtmlelem);
                             for (var i = 0; i < atId_group.length; i++) {

                                 var liability_proportion = petcare_proportion = total_liability_petcare_proportion =0;
                                 if (parseInt($("#assetcategoryidforliablities").val()) == parseInt(data[i].assetcatid)) {

                                     var liabilitiesid = $("#totalliablities").val();

                                     //var cal = parseInt(totalval) - parseInt(liabilitiesid);
                                     var cal = parseInt(liabilitiesid);
                                     liability_proportion = cal;
                                     // $("#tempone").val(cal);

                                 }
                                 if ($("#assetcategoryidforliablities").val() == "") {
                                     liability_proportion = totalval;
                                     // $("#tempone").val(totalval);

                                 }


                                 if (parseInt($("#assetcategoryidforpetcare").val()) == parseInt(data[i].assetcatid)) {
                                     var petcareid = $("#totalpetcare").val();

                                     //var cal = parseInt(totalval) - parseInt(petcareid);
                                     var cal = parseInt(petcareid);
                                     petcare_proportion = cal;
                                 }
                                 if ($("#assetcategoryidforpetcare").val() == "") {

                                     petcare_proportion = totalval;

                                 }

                                 if (parseInt(liability_proportion) == 0 && parseInt(petcare_proportion) == 0) {
                                     total_liability_petcare_proportion = 0;
                                 } else {
                                     total_liability_petcare_proportion = parseInt(totalval) - (parseInt(liability_proportion) + parseInt(petcare_proportion));   // (parseInt(liability_proportion) + parseInt(petcare_proportion));
                                 }

                                 var res = "";
                                 res += "<div class='card mb-2 border border-danger' id='accparent'>";

                                 res += "<div class='card-header'>";
                                 res += "<button type='button' class='btn btn-link shadow-none text-danger collapsed' data-toggle='collapse' data-target='#accordio" + data[i].assetcatid + "' aria-expanded='false' aria-controls='collapse-23'>";
                                 res += data[i].AssetsCategory + data[i].assetcatid;
                                 res += "</button>";
                                 res += "</div>";
                                 res += "<div id='accordio" + data[i].assetcatid + "' class='collapse  accordiondiv' data-parent='#accordion8'";
                                 //res +="<div id='test'></div>";
                                 res += "<div class='card-body'>";
                                 res += "<input type='hidden' id='liability_proportion_" + data[i].assetcatid + " ' name='name' value='" + liability_proportion + "' />";
                                 res += "<input type='hidden' id='petcare_proportion_" + data[i].assetcatid + "' name='name' value='" + petcare_proportion + "' />";
                                 res += "<input type='hidden' class='total_liability_petcare_proportion' id='total_liability_petcare_proportion_" + data[i].assetcatid + "' name='name' value='" + total_liability_petcare_proportion + "' />";
                                 res += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class='col-sm-3' id='type'>";
                                 res += "<div class='form-group'>";
                                 res += "<label for='input-1'>Type</label>";
                                 res += "<br />";
                                 res += "<form>";
                                 res += "<label class='radio-inline'>";
                                 res += "<input type='radio' id='getvalone' class=" + data[i].assetcatid + " name='optradio' value='Single' checked>Single";
                                 res += "</label>";
                                 res += "<label class='radio-inline'>";
                                 res += "<input type='radio' id='getvaltwo' class=" + data[i].assetcatid + " name='optradio' value='Multiple'>Multiple";
                                 res += "</label>";
                                 res += "</form>";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "<div id='parentdiv" + data[i].assetcatid + "'  class='test'>";
                                 res += "<div class='row rowdiv' id='beneficiarydetails' >";
                                 res += "&nbsp;&nbsp;&nbsp;&nbsp;";
                                 res += "<div class='col-sm-2'>";
                                 res += "<div class='form-group'>";
                                 res += "<label for='input-1'>Beneficiary</label><span id='errbene'  style='color:red; display:;'>(*)</span>";
                                 res += "<select id='ddlbeneficiary" + data[i].assetcatid + "' onchange='checkbeneficiaryduplicate(this.id)' name='contentList' class='form-control beneficiaryclass validate[required]'></select>";
                                 res += "<input type='text' class='form-control' style='display: none' id='ddlbeneficiarytxt' name='name' value='' />";
                                 res += "</div>";
                                 res += "</div>";   // new
                                 res += "<div class='col-sm-2'>";
                                 res += "<div class='form-group'>";
                                 res += "<label for='input-1'>SchemeName<span id='errscheme' style='color:red;display:;' >(*)</span></label>";
                                 res += "<select id='schemename" + data[i].assetcatid + "' onchange='getschemename(this.id)' name='contentList' class='form-control schemenameclass validate[required]'></select>";
                                 res += "<input type='text' class='form-control' style='display: none' id='ddlbeneficiarytxt' name='name' value='' />";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "<div class='col-sm-3'>";
                                 res += "<label for='input-1'>Instruments</label><span id='errinstrument' style='color:red;display:;'>(*)</span>";
                                 res += "<select id='DDLAssetColumn" + data[i].assetcatid + "' onchange='getDDLAssetColumn(this.id)' name='contentList' class='form-control instrumentclass validate[required]'></select>";
                                 res += "</div>";
                                 res += "<div class='col-sm-2 grandparent'>";
                                 res += "<div class='form-group parent'>";
                                 res += "<label for='input-1'>Proportion</label><span id='errproportion' style='color:red;display:;'>(*)</span>";
                                 res += "<input type='text' autocomplete='off' class='form-control proportioninput validate[required]' onkeypress='return isNumberKey(event)' onchange='gettxtproportion(this.value)' name='rank' id='txtproportion" + data[i].assetcatid + "' />";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "<div class='col-sm-2'>";
                                 res += "<div class='form-group start'>";
                                 res += "<label for='input-1'>Total</label>";
                                 res += "<input type='text' id='txttotal" + data[i].assetcatid + "'  class='form-control totalinput validate[required]' readonly />";
                                 res += "<button type='button' id='btnremove' style='position:relative; top:-39px; right:-198px;'  value='" + data[i].assetcatid + "' style='display:;'    class='btn btn-danger  btnremove'><i class='icon-trash'></i></button>";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "</div>";
                                 res += "<div class='form-group'>";
                                 res += "&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' id='btnmappingsubmit' value=" + data[i].assetcatid + "  class='btn btn-primary shadow-primary px-5 btn" + data[i].assetcatid + "'><i class='icon-lock'></i>Submit</button>";
                                 res += "<button type='button' id='btnadd'    value='" + data[i].assetcatid + "' style='display:none;'    class='btn btn-success shadow-primary px-5 btnadd " + data[i].assetcatid + "'><i class='icon-lock'></i>Add Multiple</button>";
                                 res += " </div>";
                                 res += " </div>";
                                 res += " </div>";
                                 res += " </div>";


                                 /*var res = "<div class='card mb-2 border border - success'>";
                                 res += "<div class='card-header'>";
                                 res += "<button type='button' class='btn btn-link shadow-none text-success' data-toggle='collapse' data-target='#collapse-" + data[i].assetcatid +"' aria-expanded='true' aria-controls='collapse-22'>";
                                 res += "Accordion Group Item #1";
                                 res += "</button>";
                                 res += "</div>";

                                 res += "<div id='collapse-" + data[i].assetcatid +"' class='collapse show' data-parent='#accordion8'>";
                                 res += " <div class='card-body'>";
                                 res += data[i].assetcatid +" Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably havent heard of them accusamus labore sustainable VHS.";
                                 res += " </div>";
                                 res += "   </div>";
                                 res +="</div >"; */

                                 //  var res = '<div class="card mb-2 border border-success"> <div class="card-header"> <button class="btn btn-link shadow-none text-success" data-toggle="collapse" data-target="#collapse-22" aria-expanded="true" aria-controls="collapse-22"> Accordion Group Item #1 </button> </div><div id="collapse-22" class="collapse show" data-parent="#accordion8"> <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven heard of them accusamus labore sustainable VHS. </div ></div ></div >';

                                 //  console.log(res);

                                 $("#accordion8").append(res);
                             }
                         }






                }
            });






            // schemename

                $.ajax({

                type: "POST",

                 url: "@Url.Action("getassetcolumndata", "AddAssetMapping")",
                //data: { "send": "" + value + "" },
                success: function (data) {

                    var response = data;
                    var md = response.split("~")[0];
                    var count = response.split("~")[1];
                    for (var i = 0; i < count; i++) {

                        $("#schemename"+i+"").append(data);


                    }
                    //var r = data;
                    //var str = data;
                    //var res = str.replace("<label for='input-1'>Scheme</label> <input type='text' class='form-control' id='schemename'  value=", "").replace("/>", "");


                }
            });











            //end







            $.ajax({

                type: "POST",

                url: "@Url.Action("BindBeneficiaryDDL", "AddAssetMapping")",
                success: function (data) {

                    var response = data;
                    var md = data.split("~")[0];
                    var count = data.split("~")[1];
                    $("#txtcount").val(count);
                    for (var i = 1; i < count; i++) {
                        $("#ddlbeneficiary" + i + "").append(md);
                    }


                }
            });




            $.ajax({

                type: "POST",

                 url: "@Url.Action("BindAssetTypeDDL", "AddAssetMapping")",
                success: function (data) {
                    $("#ddlassettype").append(data);
                }
            });



            $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "AddAssetMapping")",
                  success: function (data) {
                      var splitted = data.split("~");
                      $("#DDLTestator").append(splitted[0]);
                      $("#ddltid").val(splitted[1]);
                      var pop = splitted[2];
                      //$('#DDLTestator').append(data);
                      if (pop == "true") {

                          $("#confirmtestatorfamily").on("click", function () { });

                          $("#confirmtestatorfamily").click(); //trigger event after listening to it.
                      }





            }
          });


            $.ajax({
                type: "POST",

                 url: "@Url.Action("ddlassetname", "AddAssetMapping")",
                //data: { "send": "" + value + "" },
                success: function (data) {

                    var response = data;
                    var md = data.split("~")[0];
                    var count = data.split("~")[1];
                    for (var i = 0; i < count; i++) {
                        $("#DDLAssetColumn"+i+"").append(md);
                    }

                }
            });







               var val = $("#tid").val();

        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddAssetMapping")",
                 data: { value: val, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {

                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click();

                    $("#btnnext").show();

                }







            }
        });









        });











        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        $(document).on('keyup', '.proportioninput', function () {
            var $rowdiv = $(this).closest('.rowdiv');
            var $prevdiv = $rowdiv.prev('.rowdiv');

            var rr = $(this).attr('id');
            var f = rr.replace('txtproportion', '');
            // var temp = $("#txttotalval").val();
            var temp = $(this).closest('.accordiondiv').find('.total_liability_petcare_proportion').val();


            var prevtotalinputval = $prevdiv.find('.totalinput').val();
            if (typeof prevtotalinputval === "undefined") {

                prevtotalinputval = temp;
            }
            var proportionvalue = $(this).val();

            var t = $("#txttotalval").val();
            var result = "";



           // if ($rowdiv.find('.totalinput').val() == "") {

                $rowdiv.find('.totalinput').val(temp - proportionvalue);

                if (temp != "100") {
                   // alert('1st');
                    var x = prevtotalinputval - proportionvalue;
                    $rowdiv.find('.totalinput').val(x);
                }


                if (temp == "100") {
                 // alert('2nd');
                    var x = parseInt(temp) - proportionvalue;
                    $rowdiv.find('.totalinput').val(x);
                }


               /* var x = prevtotalinputval - proportionvalue;
                $rowdiv.find('.totalinput').val(x);*/
        //    }




            //if ($rowdiv.find('.totalinput').val() != "") {
            //    alert('deduct');
            //    $rowdiv.find('.totalinput').val(prevtotalinputval - proportionvalue);
            //}



            //        result = prevtotalinputval - proportionvalue;

            //$(this).parent().
            //var parentdivclassname = $(this).parent('div').parent('div').parent('div').parent('div').attr('id');

            //proportionvalue = + proportionvalue;
            //if (proportionvalue <= parseInt(100)) {



            //    if (t == '') {

            //        $rowdiv.find('.totalinput').val(parseInt(100) - proportionvalue);
            //        result = prevtotalinputval - proportionvalue;



            //    }




            //} else {
            //    $(this).val('');
            //    $rowdiv.find('.totalinput').val('100');

            //}

        //    if ($prevdiv.length > 0) {
        //        var prevtotalinputval = $prevdiv.find('.totalinput').val();

        //}
        });






        function getassettypeid(value) {




            $.ajax({

                type: "POST",

                 url: "@Url.Action("bindassetcatDDL", "AddAssetMapping")",
                data: { "send": "" + value + "" },
                success: function (data) {
                    $("#ddlassetcat").empty().append(data);


                }
            });





        }



        //function getassetcatid(value) {


        //    $("#beneficiarydetails").show();
        //    $("#type").show();






        //}


        /* $(document).on("change", "#ddlbeneficiary", function () {
             var value = $(this).children(":selected").attr("value");
             var text = $("#ddlbeneficiary option:selected").html();


             var parent = $(this).closest(".rowdiv").find("#ddlbeneficiary").val();

             alert(parent);


             $("#Beneficiarytxt").val(value).attr("disabled", "disabled");


             $("#query").append(value + ",");

         });*/





        function checkbeneficiaryduplicate(id) {

            var dt = '';
            var lang_name = $('#' + id).val();
            var selectedtext = $("#" + id + " option:selected").text();
            var check = 'active';
            $(".beneficiaryclass").each(function () {
                var myid = $(this).attr('id');
                var myval = $('#' + myid).val();
                if (id != myid) {
                    if (lang_name == myval && lang_name != '') {
                        alert(selectedtext + ' already exists');
                        $("#" + id).val('0');
                        check = 'inactive'
                    }

                }


            });





            if (check == 'active') {
                var v1 = id;
                var v2 = v1.replace("ddlbeneficiary", "");



                $("#Beneficiarytxt").val(id).attr("disabled", "disabled");


                $("#query").append(v2 + ",");

            }



        }




        function getDDLAssetColumn(id) {

            var conceptName = $("#"+id+"").find(":selected").text();


            //var dt = '';
            //var lang_name = $('#' + id).val();
            //var selectedtext = $("#" + id + " option:selected").text();
            //var check = 'active';
            //$(".instrumentclass").each(function () {
            //    var myid = $(this).attr('id');
            //    var myval = $('#' + myid).val();
            //    if (id != myid) {
            //        if (lang_name == myval && lang_name != '') {
            //            alert(selectedtext + ' already exists');
            //            $("#" + id).val('0');
            //            check = 'inactive'
            //        }

            //    }


            //});


            //if (check == 'active') {
                //var value = $(this).children(":selected").attr("value");
                //var text = $("#DDLAssetColumn1 option:selected").html();

                //$("#Instrumenttxt").val(text);
                //$("#Instrumenttxt").val(id);
                $("#query").append("'" + conceptName + "'" + ",");
            //}


        };




        $("#ddlassettype").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlassettype option:selected").html();

            $("#assettypeid").val(text);
            $("#assettypetxt").val(value);


        });



        $("#ddlassetcat").change(function () {

            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlassetcat option:selected").html();

            $("#assetcatid").val(text);
            $("#assetcattxt").val(value);


        });


        $(document).on("change", "#getvalone", function () {
            var myClass = $(this).attr("class");

            $("#appendselection").empty().append("<input type='text' class='form-control' placeholder='Certificate No.' /> ");

            $("."+myClass).hide();
        });

        $(document).on("change", "#getvaltwo", function () {
            var myClass = $(this).attr("class");

            $("."+myClass).show();
        });

        $(document).on("click", "#btnremove", function () {


            var btnnum = $(this).val();






            $("#parentdiv" + btnnum + "").find('.rowdiv:last').remove();

        });

        $(document).on("click", "#btnadd", function () {


            var btnnum = $(this).val();

            //get parentdiv last div element whose class name is rowdiv

            $("#txttotalval").val("");


            var $clone = $("#parentdiv"+btnnum+"").find('.rowdiv:last').clone();




            // for beneficiary ddl id auto generate  getidentifier

            $clone.find('.beneficiaryclass').each(function () {
                var el = $(this);

                var id = el.attr('id') || null;

                if (id) {

                    //  var i = id.substr(id.length - 1);

                    //code for geting only number from alphanumer string
                    number = id.replace(/\D/g, ''); // a string of only digits, or the empty string
                    var i = parseInt(number, 10); // now it's a numeric value

                    //code for getting only alpha character from alphanumer string
                    var prefix = id.replace(/[^a-zA-Z]/g, '');
                    //var prefix = id.substr(0, (id.length - 1));

                    el.attr('id', prefix + (+i + 1));

                }
            });

            // end





            // for scheme ddl id auto generate

            $clone.find('.schemenameclass').each(function () {
                var el = $(this);
                var id = el.attr('id') || null;


                if (id) {

                    //  var i = id.substr(id.length - 1);

                    //code for geting only number from alphanumer string
                    number = id.replace(/\D/g, ''); // a string of only digits, or the empty string
                    var i = parseInt(number, 10); // now it's a numeric value

                    //code for getting only alpha character from alphanumer string
                    var prefix = id.replace(/[^a-zA-Z]/g, '');
                    //var prefix = id.substr(0, (id.length - 1));

                    el.attr('id', prefix + (+i + 1));

                }
            });

            // end




            // instument ddl


            $clone.find('.instrumentclass').each(function () {
                var el = $(this);
                var id = el.attr('id') || null;


                if (id) {

                    //  var i = id.substr(id.length - 1);

                    //code for geting only number from alphanumer string
                    number = id.replace(/\D/g, ''); // a string of only digits, or the empty string
                    var i = parseInt(number, 10); // now it's a numeric value

                    //code for getting only alpha character from alphanumer string
                    var prefix = id.replace(/[^a-zA-Z]/g, '');
                    //var prefix = id.substr(0, (id.length - 1));

                    el.attr('id', prefix + (+i + 1));

                }
            });





            //





            $clone.find('.proportioninput').val('');
            $clone.find('.totalinput').val('');
            $clone.appendTo("#parentdiv"+btnnum+"");


            var assettype = $("#ddlassettype").val();
            var assetcat = $("#ddlassetcat").val();
            var beneficiary = $("#ddlbeneficiary1").val();
            var schemename = $("#schemename1").val();
            var instrument = $("#DDLAssetColumn1 option:selected").html();
            var proportion = $("#txtproportion").val();


            //$("#query").append( "(" + assettype +","+ assetcat + "," + beneficiary + "," + schemename + "," + instrument + "," + proportion + ")" + "~")


        });


        function gettxtproportion(value) {
            $("#query").append(value + "~");
        }

        function calculatefun(value) {

            var row = $(this).closest(".grandparent");
            var input = $(row).find("input").val();


            var total = $("#txttotal").val()


            var f = total - value;
            $("#txttotal").val(f);




        }


        $(document).on("click", "#btnmappingsubmit", function () {

            var btnidentify = $(this).val();

            var radioValue = $("input[class="+btnidentify+"]:checked").val();

            var assettype = $("#ddlassettype").val();
            var assetcat = $("#ddlassetcat").val();
            var beneficiary = $("#ddlbeneficiary" + btnidentify + "").find(":selected").val();
            var schemename = $("#schemename" + btnidentify + "").find(":selected").text();
            var instrument = $("#DDLAssetColumn" + btnidentify + "").find(":selected").text();
            var proportion = $("#txtproportion" + btnidentify + "").val();
            var tid = $("#ddltid").val();



            if (radioValue == "Single") {

                var assettype = $("#ddlassettype").val();
                var assetcat = $("#ddlassetcat").val();




                if ($("#ddlbeneficiary" + btnidentify + "").find(":selected").val() == "" || $("#schemename" + btnidentify + "").find(":selected").text() == "" || $("#DDLAssetColumn" + btnidentify + "").find(":selected").text() == "" || $("#txtproportion" + btnidentify + "").val() == "" || $("#ddltid").val() == "") {



                    alert('Please Fill Out Manadatory Field');
                }
                else {

                    var data = assettype + "~" + assetcat + "~" + beneficiary + "~" + schemename + "~" + instrument + "~" + proportion + "~" + tid + "~" + btnidentify;

                    $.ajax({

                        type: "POST",
                        url: "../AddAssetMapping/InsertSingleAssetMappeddata",
                        data: { "send": "" + data + "" },
                        success: function (data) {

                            $("#btnmainassetsuccess").on("click", function () { });

                            $("#btnmainassetsuccess").click();

                            $("#ddlassettype").val("");
                            $("#ddlassetcat").val("");
                            $("#ddlbeneficiary").val("");
                            $("#schemename").val("");
                            $("#DDLAssetColumn").val("");
                            $("#txtproportion").val("");
                        }
                    });

                }





            }
            if (radioValue == "Multiple") {

                if ($("#ddlbeneficiary" + btnidentify + "").find(":selected").val() == "" || $("#schemename" + btnidentify + "").find(":selected").text() == "" || $("#DDLAssetColumn" + btnidentify + "").find(":selected").text() == "" || $("#txtproportion" + btnidentify + "").val() == "" || $("#ddltid").val() == "") {



                    alert('Please Fill Out Manadatory Field');
                }
                else {

                    var data = $("#query").val();

                    $.ajax({

                        type: "POST",
                        url: "../AddAssetMapping/InsertMultipleAssetMappeddata",
                        data: { data: data, assettype: assettype, assetcat: assetcat, tid: tid, btnidentify: btnidentify },
                        success: function (data) {
                            $("#btnmainassetsuccess").on("click", function () { });

                            $("#btnmainassetsuccess").click();



                            $("#ddlassettype").val("");
                            $("#ddlassetcat").val("");
                            $("#ddlbeneficiary").val("");
                            $("#schemename").val("");
                            $("#DDLAssetColumn").val("");
                            $("#txtproportion").val("");



                        }
                    });
                }




            }





        });


        function getschemename(id) {

            var conceptName = $("#"+id+"").find(":selected").text();

            //var dt = '';
            //var lang_name = $('#' + id).val();
            //var selectedtext = $("#" + id + " option:selected").text();
            //var check = 'active';
            //$(".schemenameclass").each(function () {
            //    var myid = $(this).attr('id');
            //    var myval = $('#' + myid).val();
            //    if (id != myid) {
            //        if (lang_name == myval && lang_name != '') {
            //            alert(selectedtext + ' already exists');
            //            $("#" + id).val('0');
            //            check = "inactive";
            //        }
            //    }


            //});


            //if (check == 'active') {
            //    var v1 = id;
            //    var v2 = v1.replace("schemename", "");
            //    var text = $("#schemename option:selected").html();


            $("#query").append("'" + conceptName + "'" + ",");
            //}



        }

    </script>

    @if (ViewBag.Message == "Verified")
    {
        <script>

            $(document).ready(function () {


                $("#btnmainassetsuccess").on("click", function () { });

                $("#btnmainassetsuccess").click(); //trigger event after listening to it.




            });
        </script>

    }

    <script>





function getDDLTestator(value) {

        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus = $("#txtcheck").val();


              $.ajax({

            type: "POST",
            url:"@Url.Action("CheckTestatorUsers", "AddAssetMapping")",
            data: { value: value, checkstatus: checkstatus },
            success: function (data) {

                if (data == 2) {
                    $("#confirmtestatorfamily").on("click", function () { });

                    $("#confirmtestatorfamily").click(); //trigger event after listening to it.



                }







            }
    });




     };



        $('.checkbox1').on('change', function () {
            if (!$(this).is(':checked')) {
                $('.checkbox1').prop('checked', false);
                $("#txtcheck").val("false");

            } else {
                $('.checkbox1').prop('checked', true);
                $("#txtcheck").val("true");
            }
        });









    </script>
    <script>
        $("#confirmtestatorfamily").click(function () {
            $("#btnnext").show();
            swal({

                text: 'Testator Data Already Exists Do You Want To Add More!',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
                buttons: ['No', 'Yes']
            })
                .then((willDelete) => {
                    if (willDelete) {



                    } else {





                        var url = "/AddNominee/AddNomineeIndex/";
                        window.location.href = url;




                    }
                });

        });

        /* for grouping json data */


        function getItemByKey(arr, key, value) {
            // here we look for existing group item in the result array
            return arr.reduce(function (prev, cur) {
                if (prev == null && cur[key] == value) {
                    return cur;
                }
                return prev;
            }, null);
        }

        function checkPropForGroup(prop, key) {
            // here we check which columns should stay in the group,
            // and which should go down to group items.
            return prop == key || prop == key.replace("_id", "_name");
        }

        function cloneSuperItem(src, key) {
            // create super item by copying only group related fields
            var item = {};
            for (prop in src) {
                if (checkPropForGroup(prop, key)) {
                    item[prop] = src[prop];
                }
            }
            item[key + '_group'] = [];
            return item;
        }

        function cloneSubItem(src, key) {
            // create sub-item by copying all but group related fields
            var item = {};
            for (prop in src) {
                if (!checkPropForGroup(prop, key)) {
                    item[prop] = src[prop];
                }
            }
            return item;
        }

        function groupArray(arr, args, lvl) {
            var key = args[lvl];
            var result = [];
            arr.forEach(function (item, ind, a) {
                // find or create super item for group and then create sub item and push it there
                var keyItem = getItemByKey(result, key, item[key]);
                if (!keyItem) {
                    keyItem = cloneSuperItem(item, key);
                    result.push(keyItem);
                }
                subItem = cloneSubItem(item, key);
                keyItem[key + '_group'].push(subItem);
            });
            if (args[lvl + 1]) {
                // recursively make grouping on lower level
                for (var i = 0; i < result.length; i++) {
                    result[i][key + '_group'] = groupArray(result[i][key + '_group'], args, lvl + 1);
                }
            }
            return result;
        }

        function groupArrayMain(arr, keysArray) {
            // keys should be simply listed as parameters in order from top group to lower
            return groupArray(arr, arguments, 1)
        }



    </script>


    @*@if (Session["assettypeidforpetcare"] != null || Session["assetcategoryidforpetcare"] != null)
        {
            <script>

                document.ready(function () {

                    $


                });


            </script>
        }*@

    @*@if (Session["assettypeidforliablities"] != null || Session["assetcategoryidforliablities"] != null)
        {
              <script>


                  document.ready(function () {



                  });


              </script>
        }*@





