@using System.Collections;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Will Assure</title>

    <style>
        #footer {
            position: fixed;
            bottom: 0;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />


    @*validation css*@
    <link href="~/css_Validation/customMessages.css" rel="stylesheet" />

    <link href="~/css_Validation/validationEngine.jquery.css" rel="stylesheet" />
    @*end*@




    @*Master Style Links*@

    <script src="~/assets/js/jquery.min.js"></script>
    <!--Sweet Alerts -->
    <script src="~/assets/plugins/alerts-boxes/js/sweetalert.min.js"></script>
    <script src="~/assets/plugins/alerts-boxes/js/sweet-alert-script.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <!--Data Tables -->
    <link href="~/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    @*Master end*@



    <style>
        input::-webkit-datetime-edit {
            color: transparent;
        }

        input:focus::-webkit-datetime-edit {
            color: #000;
        }

        .flexcroll {
            width: 400px;
            height: auto;
            overflow: scroll;
        }

        .flexcroll {
            scrollbar-face-color: #367CD2;
            scrollbar-shadow-color: #FFFFFF;
            scrollbar-highlight-color: #FFFFFF;
            scrollbar-3dlight-color: #FFFFFF;
            scrollbar-darkshadow-color: #FFFFFF;
            scrollbar-track-color: #FFFFFF;
            scrollbar-arrow-color: #FFFFFF;
        }
            /* Let's get this party started */
            .flexcroll::-webkit-scrollbar {
                width: 12px;
            }
            /* Track */
            .flexcroll::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            /* Handle */
            .flexcroll::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: rgba(255,0,0,0.8);
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }
    </style>



</head>


@*@if (Session["Role"] == null)
    {
        <script>
            var url = "/LoginPage/LoginPageIndex/";
            window.location.href = url;
        </script>
    }


    @if (Session["Type"] == null)
    {
        <script>
            var url = "/LoginPage/LoginPageIndex/";
            window.location.href = url;
        </script>

    }


    @if (Session["doctype"] == null)
    {
        <script>
            var url = "/LoginPage/LoginPageIndex/";
            window.location.href = url;
        </script>

    }*@

<body class="">
    <!--Start topbar header-->
    <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top bg-dark border-bottom border-light-3">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link toggle-menu" href="javascript:void();">
                        <img src="~/assets/images/logo-icon.png" style="width:200px;" class="logo-icon" alt="logo icon">  <i class="icon-menu menu-icon text-white"></i>
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav align-items-center right-nav-link">
                <li class="nav-item dropdown-lg">

                    <i class=""></i><span class="" style="color:white">(@Session["Role"])</span>


                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="assets/images/avatars/avatar-5.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">Jhon Deo</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            <small>Today, 4:10 PM</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="assets/images/avatars/avatar-6.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">Sara Jen</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            <small>Yesterday, 8:30 AM</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="assets/images/avatars/avatar-7.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">Dannish Josh</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            <small>5/11/2018, 2:50 PM</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="assets/images/avatars/avatar-8.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet.</p>
                                            <small>1/11/2018, 2:50 PM</small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item"><a href="javaScript:void();">See All Messages</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown-lg">

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                You have 14 Notifications
                                <span class="badge badge-info">14</span>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <i class="zmdi zmdi-accounts fa-2x mr-3 text-primary"></i>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">New Registered Users</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <i class="zmdi zmdi-coffee fa-2x mr-3 text-success"></i>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">New Received Orders</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-secondary"></i>
                                        <div class="media-body">
                                            <h6 class="mt-0 msg-title">New Updates</h6>
                                            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item"><a href="javaScript:void();">See All Notifications</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="~/assets/images/avatars/avatar-13.png" class="img-circle" alt="user avatar"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item user-details">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3" src="~/assets/images/avatars/avatar-13.png" alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-2 user-title">Katrina Mccoy</h6>
                                        <p class="user-subtitle">mccoy@example.com</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"> <a href="@Url.Action("Logout", "LoginPage")"><i class="icon-power mr-2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!--End topbar header-->
    <!-- Start wrapper-->





    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true" class="shadow-none">
            <div class="brand-logo">
                <a href="#">
                    <img src="~/assets/images/logo-icon.png" style="width:200px;" class="logo-icon" alt="logo icon">
                    @*<h5 class="logo-text">Will Assure</h5>*@

                </a>
            </div>


            @if (ViewBag.cod == "true")
            {
                <ul class="flexcroll sidebar-menu do-nicescrol">
                    <li class="sidebar-header">MAIN NAVIGATION</li>
                    <li>
                        <a href=@Url.Action("DashBoardIndex", "DashBoard") class="waves-effect">
                            <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>

                    </li>
                
                </ul>



            }



            @if (ViewBag.enablelivingwill == "true")
            {
                <ul class="flexcroll sidebar-menu do-nicescrol">
                    <li class="sidebar-header">MAIN NAVIGATION</li>
                    <li>
                        <a href=@Url.Action("DashBoardIndex", "DashBoard") class="waves-effect">
                            <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>

                    </li>
                    <li>
                        <a href="javaScript:void();" class="waves-effect">
                            <i class="zmdi zmdi-format-list-bulleted"></i> <span>Appointees</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a href="/AddAppointees/AddAppointeesIndex"><i class="zmdi zmdi-star-outline"></i>Add Appointees</a></li>
                        </ul>
                        <ul class="sidebar-submenu">
                            <li><a href="/EditAppointees/EditAppointeesIndex"><i class="zmdi zmdi-star-outline"></i>View Appointees</a></li>

                        </ul>
                    </li>
                </ul>




            }


                <ul class="flexcroll sidebar-menu do-nicescrol" style="display:none;" id="documentlink">
                    @if (ViewBag.showtitle == "true")
                    {
                        <li class="sidebar-header">Document Creation</li>
                    }
                    @*<li>
            <a href=@Url.Action("DashBoardIndex", "DashBoard") class="waves-effect">
                <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
            </a>

        </li>*@






                    @*<li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-email"></i>
                <span>Mailbox</span>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="#"><i class="zmdi zmdi-star-outline"></i> Inbox</a></li>
                <li><a href="#"><i class="zmdi zmdi-star-outline"></i> Compose</a></li>
                <li><a href="#"><i class="zmdi zmdi-star-outline"></i> Read Mail</a></li>
            </ul>
        </li>*@
                    @*Super admin roles Links*@



                    @if (Session["Type"].ToString() != "Testator")
                    {

                        <li>
                            <a href=@Url.Action("DashBoardIndex", "DashBoard") class="waves-effect">
                                <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>

                        </li>
                        <li>
                            <a href="javaScript:void();" class="waves-effect">
                                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Create Document</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "Will" })"><i class="zmdi zmdi-star-outline"></i>Create Will</a></li>
                                <li><a href="@Url.Action("CodocilIndex","Codocil")"><i class="zmdi zmdi-star-outline"></i>Create Codocil</a></li>
                                <li><a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "POA" } )"><i class="zmdi zmdi-star-outline"></i>POA</a></li>
                                <li><a href="@Url.Action("EnableDocumentLinks","DashBoard", new { doctype = "GiftDeeds" })"><i class="zmdi zmdi-star-outline"></i>Gift Deeds</a></li>
                                <li><a href="@Url.Action("LivingWillIndex","LivingWill", new { doctype = "LivingWill" })"><i class="zmdi zmdi-star-outline"></i>Living Will</a></li>

                            </ul>
                        </li>

                    }
                    @if (ViewBag.showtitle == "true")
                    {
                        <li class="sidebar-header">Visitor Information</li>
                    }
                    @if (ViewBag.collapse != "true")
                    {
                        if (Session["Type"].ToString() != "Testator")
                        {
                            if (ViewBag.PageName != null)
                            {
                                foreach (var item in ViewBag.PageName)
                                {
                                    string navigation1 = item.Nav1;
                                    string navigation2 = item.Nav2;
                                    string Action = item.Action;
                                    ArrayList nav1 = new ArrayList(navigation1.Split('~'));



                                    ArrayList nav2 = new ArrayList(navigation2.Split('~'));

                                    ArrayList act = new ArrayList(Action.Split(','));


                                    if (item.PageStatus == "Active")
                                    {
                                        if (item.PageName == "Roles" && ViewBag.showtitle == "true")
                                        {
                                            <li class="sidebar-header">Master Menu</li>
                                        }



                                        <li>

                                            <a href="javaScript:void();" class="waves-effect">

                                                <i class="zmdi zmdi-format-list-bulleted"></i> <span>@item.PageName</span>
                                                <i class="fa fa-angle-left pull-right"></i>

                                            </a>

                                            @if (act[0].ToString() == "1")
                                            {

                                                string pagename = @nav1[0].ToString();



                                                <ul class="sidebar-submenu">

                                                    <li><a href=@Url.Action(nav1[1].ToString(), nav1[2].ToString())><i class="zmdi zmdi-star-outline"></i>@nav1[0].ToString()</a></li>
                                                    @if (item.PageName == "Distributor")
                                                    {



                                                        <li><a href="@Url.Action("EditUserFormIndex", "EditUserForm")"><i class="zmdi zmdi-star-outline"></i>View Individual Firm</a></li>

                                                        <li><a href="@Url.Action("EditCompanyDetailsIndex", "EditCompanyDetails")"><i class="zmdi zmdi-star-outline"></i>View Register Company</a></li>


                                                    }
                                                </ul>



                                            }

                                            <ul class="sidebar-submenu">
                                                @if (nav2[0].ToString() != "NULL")
                                                {
                                                    <li><a href=@Url.Action(nav2[1].ToString(), nav2[2].ToString())><i class="zmdi zmdi-star-outline"></i>@nav2[0].ToString()</a></li>
                                                }


                                            </ul>

                                        </li>

                                    }

                                }

                            }

                        }

                    }







                    @*FOR POA DOCUMENT*@
                    @if (Session["doctype"] != null)
                    {
                        if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                        {
                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Donor</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">

                                    <li><a href="/EditTestator/EditTestatorIndex"><i class="zmdi zmdi-star-outline"></i>View Donor</a></li>
                                </ul>
                            </li>



                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Donee</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">

                                    <li><a href="/EditBeneficiary/EditBeneficiaryIndex"><i class="zmdi zmdi-star-outline"></i> View Donee</a></li>
                                </ul>
                            </li>





                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Gift</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">

                                    <li><a href="/EditMainAssets/EditMainAssetsIndex"><i class="zmdi zmdi-star-outline"></i> View Gift</a></li>
                                </ul>
                            </li>



                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Asset Mapping</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">
                                    <li><a href="/AddAssetMapping/AddAssetMappingIndex"><i class="zmdi zmdi-star-outline"></i> Mapping </a></li>

                                </ul>
                            </li>



                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Witness Appointment</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">

                                    <li><a href="/EditAppointees/EditAppointeesIndex"><i class="zmdi zmdi-star-outline"></i> View Appointment</a></li>
                                </ul>
                            </li>



                            <li>
                                <a href="javaScript:void();" class="waves-effect">
                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Confirmation Page</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="sidebar-submenu">
                                    <li><a href="/ViewDocument/ViewDocumentIndex"><i class="zmdi zmdi-star-outline"></i>View Page</a></li>

                                </ul>
                            </li>


                        }
                    }






                    @*END*@





                    @*for will*@
                    @if (Session["doctype"] != null)
                    {
                        if (Session["doctype"].ToString() == "Will")
                        {


                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Testator</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditTestator/EditTestatorIndex"><i class="zmdi zmdi-star-outline"></i>View Testator</a></li>


                                </ul>

                            </li>


                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>TestatorsFamily</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditTestatorFamily/EditTestatorFamilyIndex"><i class="zmdi zmdi-star-outline"></i>View Testator Family</a></li>


                                </ul>

                            </li>
                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Beneficiary</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditBeneficiary/EditBeneficiaryIndex"><i class="zmdi zmdi-star-outline"></i>View Beneficiary</a></li>


                                </ul>

                            </li>
                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>AssetInformation</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditMainAssets/EditMainAssetsIndex"><i class="zmdi zmdi-star-outline"></i>View Assets</a></li>


                                </ul>

                            </li>
                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Mapping</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>

                                <ul class="sidebar-submenu">

                                    <li><a href="/AddAssetMapping/AddAssetMappingIndex"><i class="zmdi zmdi-star-outline"></i>Mapping</a></li>

                                </ul>

                                <ul class="sidebar-submenu"></ul>

                            </li>

                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Nominee</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditNominee/EditNomineeIndex"><i class="zmdi zmdi-star-outline"></i>View Nominee</a></li>


                                </ul>

                            </li>
                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Appointees</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>



                                <ul class="sidebar-submenu">
                                    <li><a href="/EditAppointees/EditAppointeesIndex"><i class="zmdi zmdi-star-outline"></i>View Appointees</a></li>


                                </ul>

                            </li>
                            <li>

                                <a href="javaScript:void();" class="waves-effect">

                                    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Document</span>
                                    <i class="fa fa-angle-left pull-right"></i>

                                </a>

                                <ul class="sidebar-submenu">

                                    <li><a href="/ViewDocument/ViewDocumentIndex"><i class="zmdi zmdi-star-outline"></i>View Document</a></li>

                                </ul>

                                <ul class="sidebar-submenu"></ul>

                            </li>



                        }
                    }

                    @*end*@







                    @*<li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Assign Roles</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddRoleAssignmentIndex","AddRoleAssignment")><i class="zmdi zmdi-star-outline"></i>Assign</a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditRoleIndex","EditRole")><i class="zmdi zmdi-star-outline"></i>Edit Roles</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Company</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddDistributorIndex", "AddDistributor")><i class="zmdi zmdi-star-outline"></i>Add Company </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditDistributorIndex", "EditDistributor")><i class="zmdi zmdi-star-outline"></i>Edit Company</a></li>

            </ul>

        </li>


        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Distributor</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("UsersFormIndex","UsersForm")><i class="zmdi zmdi-star-outline"></i>Add Distributor</a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditUserFormIndex","EditUserForm")><i class="zmdi zmdi-star-outline"></i>Edit Distributor</a></li>

            </ul>

        </li>
















        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Testators</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddTestatorsFormIndex", "AddTestatorsForm")><i class="zmdi zmdi-star-outline"></i>Add Testators </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditTestatorIndex", "EditTestator")><i class="zmdi zmdi-star-outline"></i>Edit Testators</a></li>

            </ul>

        </li>

        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Testator Family</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")><i class="zmdi zmdi-star-outline"></i>Add Testator Family </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditTestatorFamilyIndex","EditTestatorFamily")><i class="zmdi zmdi-star-outline"></i>Edit Testator Family</a></li>

            </ul>

        </li>

        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Asset Type</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AssetTypeIndex","AssetType")><i class="zmdi zmdi-star-outline"></i>Add Asset Type </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAssetTypeIndex","EditAssetType")><i class="zmdi zmdi-star-outline"></i>Edit Asset Type</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Asset Category</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddAssetCategoryIndex","AddAssetCategory")><i class="zmdi zmdi-star-outline"></i>Add Category</a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAssetCategoryIndex","EditAssetCategory")><i class="zmdi zmdi-star-outline"></i>Edit Category</a></li>

            </ul>

        </li>





        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Asset Control Mapping</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>






            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddAssetsIndex","AddAssets")><i class="zmdi zmdi-star-outline"></i>Add Assets Controls</a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAssetsIndex","EditAssets")><i class="zmdi zmdi-star-outline"></i>Edit Assets Controls</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Assets Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>






            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddMainAssetsIndex","AddMainAssets")><i class="zmdi zmdi-star-outline"></i>Add Assets</a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditMainAssetsIndex","EditMainAssets")><i class="zmdi zmdi-star-outline"></i>Edit Assets</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Relation</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddRelationIndex","AddRelation")><i class="zmdi zmdi-star-outline"></i>Add Relation </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditRelationIndex","EditRelation")><i class="zmdi zmdi-star-outline"></i>Edit Relation</a></li>

            </ul>

        </li>







        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Beneficiary</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddBeneficiaryIndex","AddBeneficiary")><i class="zmdi zmdi-star-outline"></i>Add Beneficiary </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditBeneficiaryIndex","EditBeneficiary")><i class="zmdi zmdi-star-outline"></i>Edit Beneficiary</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Alternate Beneficiary</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AlternateBeneficiaryIndex","AlternateBeneficiary")><i class="zmdi zmdi-star-outline"></i>Add Alt Beneficiary </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAlternateBeneficiaryIndex","EditAlternateBeneficiary")><i class="zmdi zmdi-star-outline"></i>Edit Alt Beneficiary</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Nominee</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddNomineeIndex","AddNominee")><i class="zmdi zmdi-star-outline"></i>Add Nominee </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditNomineeIndex","EditNominee")><i class="zmdi zmdi-star-outline"></i>Edit Nominee</a></li>

            </ul>

        </li>



        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Appointees</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddAppointeesIndex","AddAppointees")><i class="zmdi zmdi-star-outline"></i>Add Appointees </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAppointeesIndex","EditAppointees")><i class="zmdi zmdi-star-outline"></i>Edit Appointees</a></li>

            </ul>

        </li>


        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Alternate Appointees</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddAlternateAppointeesIndex","AddAlternateAppointees")><i class="zmdi zmdi-star-outline"></i>Add Alternate Appointees </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditAlternateAppointeesIndex","EditAlternateAppointees")><i class="zmdi zmdi-star-outline"></i>Edit Alternate Appointees</a></li>

            </ul>

        </li>




        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Create Coupons</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddCouponsIndex","AddCoupons")><i class="zmdi zmdi-star-outline"></i>Add Coupons </a></li>

            </ul>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("EditCouponsIndex","EditCoupons")><i class="zmdi zmdi-star-outline"></i>Edit Coupons</a></li>

            </ul>

        </li>




        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Mapping</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">

                <li><a href=@Url.Action("AddAssetMappingIndex","AddAssetMapping")><i class="zmdi zmdi-star-outline"></i>Mapping </a></li>

            </ul>


        </li>




        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="zmdi zmdi-format-list-bulleted"></i> <span>Document</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">



                <li><a href=@Url.Action("Report.aspx","page")><i class="zmdi zmdi-star-outline"></i>View Document</a></li>

            </ul>


        </li>*@














                    @*end*@










                </ul>

        </div>
        <!--End sidebar-wrapper-->
        @RenderBody()


        @if (ViewBag.enabledocumentlink == "true")
        {

            <script>

                $("#documentlink").removeAttr("style");

            </script>

        }


        @if (ViewBag.documentlink == "true")
        {

            <script>

                $("#documentlink").show();

            </script>

        }






        <!--Start footer-->
        <footer class="footer bg-dark border-light-3" id="footer" style="position:fixed; bottom:0px;">
            <div class="container">
                <div class="text-center text-white">
                    Copyright © 2019 Will Assure
                </div>
            </div>
        </footer>
        <!--End footer-->
    </div>

</body>


@{

    if (Session["Type"].ToString() == "Testator")
    {
        <script>

            $("#wrapper").addClass("toggled");


        </script>
    }


    if (ViewBag.collapse == "true")
    {
        <script>

            $("#wrapper").addClass("toggled");


        </script>
    }


}

@*Master Scripts Links*@
<!-- Bootstrap core JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- simplebar js -->
<script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
<!-- waves effect js -->
<script src="~/assets/js/waves.js"></script>
<!-- sidebar-menu js -->
<script src="~/assets/js/sidebar-menu.js"></script>
<!-- Custom scripts -->
<script src="~/assets/js/app-script.js"></script>
<!-- Chart js -->
<script src="~/assets/plugins/Chart.js/Chart.min.js"></script>
<!--Peity Chart -->
<script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
<!-- Index js -->
<script src="~/assets/js/index3.js"></script>
<!--Data Tables js-->
<script src="~/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
<script src="~/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>




@*Master Scripts Link End*@


<script src="~/Script_Validation/jquery.validationEngine-en.js"></script>

<script src="~/Script_Validation/jquery.validationEngine.js"></script>



@*all datatable script*@

<script>
    $(document).ready(function () {
        //Default data table
        $('#default-datatable').DataTable();
    });





</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "dd/MM/yy",

            endDate: '+0d',


        });
    });

</script>





@*end*@


</html>