<!DOCTYPE html>

<html>
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Willassure</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/animate.css">

    <!-- Animation headline Style -->
    <link rel="stylesheet" type="text/css" href="~/FEstylesheets/headline.css">

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="~/FErevolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/FErevolution/css/settings.css">


    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <div class="boxed">

        <div class="top style4 background-661 padding-none">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="wrap-top margin-top9 margin-left_2 clearfix">
                            <ul class="flat-information style2 float-left">
                                <li><i class="fa fa-envelope"></i><a href="#">info@willassure.com</a></li>
                                <li><i class="fa fa-phone"></i><a href="#">+91 1234567890</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-7 -->
                    <div class="col-md-5">
                        <div class="wrap-top reponsive-none767 clearfix">
                            <aside class="widget float-right reponsive-none margin-left29">
                                <!--<div class="btn-click style2">
                                <a href="/LoginPage/LoginPageIndex" class="flat-button">Login</a>
                            </div>-->


                            </aside>
                            <ul class="social-links color-white float-right margin-left25 margin-top14 flat-top">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>

                            </ul>
                            <div class="flat-top flat-language">

                                <ul class="unstyled">

                                    <li class="current">
                                        @if (ViewBag.enableMultipleSelect != "true")
                                        {
                                            <button class="btn-click style2"><a href="/LoginPage/LoginPageIndex/" style="color:black;">Login</a></button>
                                        }
                                        else
                                        {
                                            <button class="btn-click style2"><a href="@Url.Action("LogoutFrontend","LoginPage")" style="color:black;">(@Session["displayname"].ToString()) Logout</a></button>
                                        }





                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.top -->
        <div class="flat-header-wrap">
            <!-- Header -->
            <header id="header" class="header header-style2 box-shadow1 bg-white header-classic">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div id="logo" class="logo">
                                <a href="" rel="home">
                                    <img src="~/FEimages/logo1.png" alt="image">
                                </a>
                            </div><!-- /.logo -->
                        </div>
                        <div class="col-lg-9">
                            <div class="flat-wrap-header">
                                <div class="nav-wrap clearfix">
                                    <nav id="mainnav" class="mainnav style2 color-661 float-right">
                                        <ul class="menu">
                                            <li class="active"><a href="@Url.Action("Index","Frontend")">Home</a></li>
                                            <li><a href="@Url.Action("AboutUsIndex","Frontend")">About Us</a></li>
                                            <li><a href="@Url.Action("HowweworkIndex","Frontend")">How we work</a></li>
                                            <li><a href="@Url.Action("ServicesIndex","Frontend")">Services</a> </li>

                                            @if (ViewBag.enableMultipleSelect != "true")
                                            {
                                                <li>

                                                    <a href="@Url.Action("RegnIndex","Frontend")">Register</a>
                                                </li>
                                            }
                                            else
                                            {
                                                // id='btncreate' data-toggle='modal' data-target='.primarymodal'
                                                <li style="white-space:nowrap;">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Document<b class="caret"></b></a>
                                                    <ul class="dropdown-menu multi-level">
                                                        
                                                        <li><a href="@Url.Action("checkpaymentstatus","Frontend")">Create Document</a></li>
                                                        <li><a href="#">Completed Document</a></li>
                                                        <li><a href="@Url.Action("DashBoardIndex","DashBoard" , new {NestId = Convert.ToInt32(Session["uuid"]) } )">Incompleted Document</a></li>

                                                    </ul>
                                                </li>
                                            }










                                            <li><a href="@Url.Action("FaqIndex","Frontend")">FAQ</a> </li>
                                            <li><a href="@Url.Action("FaqIndex","Frontend")">Blogs</a> </li>
                                            <li><a href="@Url.Action("ContactUsIndex","Frontend")">Contact</a></li>
                                        </ul><!-- /.menu -->
                                    </nav><!-- /.mainnav -->


                                    <div class="btn-menu">
                                        <span></span>
                                    </div><!-- //mobile menu button -->
                                </div><!-- /.nav-wrap -->

                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div>
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="footer widget-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 reponsive-mb30">
                        <div class="widget-logo">
                            <div id="logo-footer" class="logo">
                                <a href="" rel="home">
                                    <img src="~/FEimages/logofooter3.png" alt="image">
                                </a>
                            </div>
                            <ul class="flat-information">
                                <li><i class="fa fa-map-marker"></i><a href="#">Address line, address line, addressline</a></li>
                                <li><i class="fa fa-phone"></i><a href="#">+911234567890</a></li>
                                <li><i class="fa fa-envelope"></i><a href="#">info@will.com</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-3 -->

                    <div class="col-lg-6 col-sm-6 reponsive-mb30">
                        <div class="widget widget-out-link clearfix">
                            <h5 class="widget-title">Our Links</h5>
                            <ul class="one-half">

                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="how-we-work.html">How we work</a></li>
                                <li><a href="services.html">Services</a> </li>
                                <li><a href="">Products</a> </li>


                            </ul>
                            <ul class="one-half">
                                <li><a href="faq.html">FAQ</a> </li>
                                <li><a href="">Blogs</a> </li>
                                <li><a href="contact">Contact</a> </li>
                                <li><a href="privacy-policy.html">Privacy policy</a></li>
                                <li><a href="">terms and conditions</a></li>
                                <li><a href="disclaimer.html">Disclaimer</a></li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-3 -->




                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>
                                2018 <a href="">Will Assure</a>. All rights reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="social-links style2 text-right">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- bottom -->
        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

    </div>

    <!-- Javascript -->
    <script src="~/FEjavascript/jquery.min.js"></script>
    <script src="~/FEjavascript/tether.min.js"></script>
    <script src="~/FEjavascript/bootstrap.min.js"></script>
    <script src="~/FEjavascript/jquery.easing.js"></script>
    <script src="~/FEjavascript/jquery-waypoints.js"></script>
    <script src="~/FEjavascript/jquery-validate.js"></script>
    <script src="~/FEjavascript/jquery.cookie.js"></script>
    <script src="~/FEjavascript/owl.carousel.js"></script>
    <script src="~/FEjavascript/jquery-countTo.js"></script>
    <script src="~/FEjavascript/jquery.flexslider-min.js"></script>
    <script src="~/FEjavascript/parallax.js"></script>
    <script src="~/FEjavascript/modern.custom.js"></script>
    <script src="~/FEjavascript/jquery.hoverdir.js"></script>
    <script src="~/FEjavascript/jquery.fancybox.js"></script>
    <script src="~/FEjavascript/smoothscroll.js"></script>
    <script src="~/FEjavascript/headline.js"></script>
    <script src="~/FEjavascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="~/FErevolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/FErevolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/FErevolution/js/slider.js"></script>

    <script src="javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtwK1Hd3iMGyF6ffJSRK7I_STNEXxPdcQ&amp;region=GB"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/FErevolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/FErevolution/js/extensions/revolution.extension.slideanims.min.js"></script>
</body>
</html>
