@model WillAssure.Models.TestatorFormModel


@{
    /**/

    ViewBag.Title = "AddTestatorPageContent";
}
<style>
    ul#menu li {
        display: inline;
    }
</style>


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">




                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {
                                <h5>
                                    <ul id="menu" style="font-weight:bold;">

                                        <a href="@Url.Action("AddTestatorsFormIndex","AddTestatorsForm")"><li style="color:#5e72e4">Donor ></li></a>
                                        <li style="color:#e1e1e1">Donee ></li>
                                        <li style="color:#e1e1e1">Gift ></li>
                                        <li style="color:#e1e1e1">Asset Mapping ></li>
                                        <li style="color:#e1e1e1">Witness Appointment ></li>





                                    </ul>
                                </h5>
                            }
                            else
                            {
                                <h5>
                                    <ul id="menu" style="font-weight:bold;">

                                        <li style="color:#5e72e4">Testator  ></li>
                                        <li style="color:#e1e1e1">Testator Family ></li>
                                        <li style="color:#e1e1e1">Beneficiary ></li>
                                        <li style="color:#e1e1e1">AssetInformation ></li>
                                        <li style="color:#e1e1e1">Liabilites></li>
                                        <li style="color:#e1e1e1">PetCare ></li>
                                        <li style="color:#e1e1e1">Mapping ></li>
                                        <li style="color:#e1e1e1">Nominee ></li>
                                        <li style="color:#e1e1e1">Appointees </li>


                                    </ul>
                                </h5>
                            }
                        }
                        else
                        {
                            <h5>
                                <ul id="menu" style="font-weight:bold;">

                                    <li style="color:#5e72e4">Testator ></li>
                                    <li style="color:#e1e1e1">Testator Family ></li>
                                    <li style="color:#e1e1e1">Beneficiary ></li>
                                    <li style="color:#e1e1e1">AssetInformation ></li>
                                    <li style="color:#e1e1e1">Mapping ></li>
                                    <li style="color:#e1e1e1">Nominee ></li>
                                    <li style="color:#e1e1e1">Appointees </li>


                                </ul>
                            </h5>
                        }





                        <br />
                        <div class="col-12 12">
                            <div class="card bg-transparent shadow-none border border-light-3">
                                <div class="card-header text-white border-light-3" style="background: #199d4b">
                                    Instructions

                                </div>
                                <div class="card-body" style="background: #fff; border:1px solid #199d4b">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        @if (Session["doctype"] != null)
                        {
                            if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                            {

                                <div class="card-title text-primary">Add Donor Details</div>
                            }
                            else
                            {
                                <div class="card-title text-primary">Add Testators Details</div>
                            }
                        }






                        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "PopUp", id = "TestatorForm" }))
                        {

                            <div class="row">
                                <div class='col-sm-2'><label for='input-1' style="line-height:40px;">Distributor</label></div>
                                <div class='col-sm-3'>
                                    <select id="ddlDistributor" class="form-control validate[required]">
                                        <option value="">--Select Distributor--</option>
                                    </select>

                                </div>
                            </div>
                            <hr>
                            @Html.HiddenFor(m => m.distributor_id, new { id = "distributor_id" })
                            @Html.HiddenFor(m => m.distributor_txt, new { id = "distributor_txt" })
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">First Name</label>

                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control validate[required] text-input", @id = "txtFirstName", @placeholder = "Enter First Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Last Name</label>

                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control validate[required] text-input", @id = "txtLastName", @placeholder = "Enter Last Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>

                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control validate[required] text-input", @id = "txtmiddlename", @placeholder = "Enter Middle Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">Date Of Birth</label>

                                        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input class="form-control validate[required]" type="text" id="DOB" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Occupation</label>

                                        @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control validate[required] text-input", @id = "txtoccupation", @placeholder = "Enter Occupation", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Mobile</label>

                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control validate[required,custom[Mobile],maxSize[10]]text - input", @id = "txtmobile", @onchange = "gettxtmobile(this.value)", @placeholder = "Enter Mobile Number", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Email</label>

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control validate[required,custom[email]] text-input", @id = "txtEmail", @onchange = "gettxtemail(this.value)", @placeholder = "Enter Email", @autocomplete = "off" })
                                    </div>
                                </div>

                                @if (Session["Type"].ToString() != "Testator")
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="input-3">Marital Status</label>
                                            @Html.DropDownListFor(x => x.material_status_txt, new SelectListItem[]{
                                            new SelectListItem() {Text = "--Select--", Value=""},
                                           new SelectListItem() {Text = "Married", Value="Married"},
                                           new SelectListItem() {Text = "UnMarried", Value="UnMarried"}}, new { @class = "form-control validate[required]", @id = "ddlmaritalstatus" })

                                            @Html.HiddenFor(m => m.material_status_id, new { id = "material_status_id" })
                                            @Html.HiddenFor(m => m.material_status_txt, new { id = "material_status_txt" })

                                        </div>
                                    </div>
                                }


                                    @*<div class="col-sm-6">
                <div class="form-group">
                    <label for="input-3">Relationship</label>
                    <select id="ddlrelation" class="form-control validate[required]">
                        <option value="">--Select--</option>
                    </select>
                    @Html.HiddenFor(m => m.RelationshipId, new { id = "relationid" })
                    @Html.HiddenFor(m => m.RelationshipTxt, new { id = "relationtext" })
                </div>
            </div>*@



                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Religion</label>
                                        @Html.DropDownListFor(x => x.Religiontext, new SelectListItem[]{
                                 new SelectListItem() {Text = "--Select--", Value=""},
                                 new SelectListItem() {Text = "Buddhism", Value="Buddhism"},
                                 new SelectListItem() {Text = "Christians", Value="Christians"},
                                 new SelectListItem() {Text = "Hinduism", Value="Hinduism"},
                                 new SelectListItem() {Text = "Islam", Value="Islam"},
                                 new SelectListItem() {Text = "Jainism", Value="Jainism"},
                                 new SelectListItem() {Text = "Sikhism", Value="Sikhism"},

                                 new SelectListItem() {Text = "Zoroastrian", Value="Zoroastrian"}}, new { @class = "form-control validate[required]" , @id="ddlreligion" })

                                        @Html.HiddenFor(m => m.ReligionId, new { id = "ReligionId" })
                                        @Html.HiddenFor(m => m.Religiontext, new { id = "Religiontext" })


                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="1"},
                                   new SelectListItem() {Text = "Passport", Value="2"},
                                   new SelectListItem() {Text = "Driving Licences", Value="3"},
                                   new SelectListItem() {Text = "Pan Card", Value="4"}} , new { @class= "form-control validate[required]", @id="ddlidentityproof" , @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @Html.HiddenFor(m => m.Identity_Proof_txt, new { id = "Identity_Proof_txt" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof Number</label>
                                        <div id="appendtxt">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alt Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_Proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="1"},
                                   new SelectListItem() {Text = "Passport", Value="2"},
                                   new SelectListItem() {Text = "Driving Licences", Value="3"},
                                   new SelectListItem() {Text = "Pan Card", Value="4"}} , new { @class= "form-control validate[required]", @id="ddlidentityproof" , @onchange= "getAltIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @Html.HiddenFor(m => m.Alt_Identity_Proof, new { id = "Alt_Identity_Proof" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alt Identity ProofNumber</label>
                                        <div id="appendtxt2">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Gender</label>

                                        <select class="form-control validate[required]" name="Gendertext" id="ddlgender">
                                            <option value="">--Select--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="TransGender">TransGender</option>
                                        </select>

                                        @Html.HiddenFor(m => m.GenderId, new { id = "GenderId" })
                                        @Html.HiddenFor(m => m.Gendertext, new { id = "Gendertext" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address 1</label>

                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control validate[required] text-input", @id = "txtaddress1", @placeholder = "Enter Address 1", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address 2</label>

                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control  text-input", @id = "txtaddress2", @placeholder = "Enter Address 2", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Address 3</label>

                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control  text-input", @id = "txtaddress3", @placeholder = "Enter Address 3", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Country</label>
                                        <select id="ddlcountry" class="form-control validate[required]">
                                            <option value="">--Select Country--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.countryid, new { id = "countryid" })
                                        @Html.HiddenFor(m => m.countrytext, new { id = "countrytext" })

                                    </div>

                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">State</label>

                                        <select id="ddlstate" class="form-control validate[required]">
                                            <option value="">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.stateid, new { id = "stateid" })
                                        @Html.HiddenFor(m => m.statetext, new { id = "statetext" })
                                    </div>
                                </div>




                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" onchange="ddlcity(value)" class="form-control validate[required]">
                                            <option value="">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.cityid, new { id = "cityid" })
                                        @Html.HiddenFor(m => m.citytext, new { id = "citytext" })

                                    </div>

                                </div>







                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">Pin</label>

                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control validate[required,custom[PinCode]] text-input", @id = "txtComanyName", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-3">Status</label>
                                        @Html.DropDownListFor(x => x.active, new SelectListItem[]{
                                       new SelectListItem() {Text = "--Select--", Value=""},
                                       new SelectListItem() {Text = "Active", Value="Active"},
                                       new SelectListItem() {Text = "Inactive", Value="2"}}, new { @class = "form-control validate[required]" })
                                    </div>
                                </div>











                            </div>
                            <hr>


                            if (Session["doctype"] != null)
                            {
                                if (Session["doctype"].ToString() == "POA" || Session["doctype"].ToString() == "GiftDeeds")
                                {
                                    <div class="form-group">
                                        <button type="submit" id="alert-success" formaction="InsertTestatorFormData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Donor</button>
                                        <a href="@Url.Action("AddBeneficiaryIndex","AddBeneficiary")"><button type="button" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <button type="submit" id="alert-success" formaction="InsertTestatorFormData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Testator</button>
                                        <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><button type="button" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="form-group">
                                    <button type="submit" id="alert-success" formaction="InsertTestatorFormData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Add Testator</button>
                                    <a href="@Url.Action("AddTestatorFamilyIndex","AddTestatorFamily")"><button type="button" class="btn btn-danger shadow-primary px-5">Next&nbsp;&nbsp;<i class="icon-arrow-right-circle"></i></button></a>
                                </div>
                            }










                        }
                    </div>
                </div>
            </div>


        </div>
        <button type='button' id='btncreate' style="display:none;" class='btn btn-success' data-toggle='modal' data-target='.primarymodal'>Create Document</button>
        <button style="display:none;" type="button" id="emailchk"></button>
        <button style="display:none;" type="button" id="mobilechk"></button>
        <button type="button" style="display:none;" id="ADDTestatorFormData" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" style="display:none;" id="testatorlinkcheck" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>


    </div>


</div>
@*end*@



@*document popup*@

<div class="modal fade primarymodal">
    <div class="modal-dialog">
        <div class="modal-content border-primary" style="width:196%; position:relative; right:38%">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Create Document</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "PopUp", id = "testatordocument" }))
            {
                <textarea id="documenttype" name="documenttype" style="display:none;"></textarea>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.tId, new { @id = "tId" })

                    @Html.HiddenFor(m => m.documentcategory, new { @id = "documentcategory" })
                    <div class="row">

                        <div class="col-sm-3">
                            <label style="line-height:41px;">Document Type</label>

                        </div>
                        <div class="col-sm-3">
                            <span style="line-height:36px;">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="checkone" value="Will">Will
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="checktwo" value="Codocil">Codocil
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="checkthree" value="POA">POA
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="checkfour" value="Giftdeeds">Giftdeeds
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="checkfive" value="LivingWill">Living Will
                                </label>
                            </span>
                            @Html.HiddenFor(m => m.Document_Created_By_ID, new { id = "Document_Created_By_ID" })
                            @Html.HiddenFor(m => m.Document_Created_By_txt, new { id = "Document_Created_By_txt" })
                        </div>


                        <div class="col-sm-3">
                            <label style="line-height:41px;">Category</label>

                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(x => x.documentcategory, new SelectListItem[]{
                            new SelectListItem() {Text = "--Select--", Value=""},
                            new SelectListItem() {Text = "Quick", Value="Quick"},
                            new SelectListItem() {Text = "Detailed", Value="Detailed"}}, new { @class = "form-control validate[required]", id = "DDLAmtPaidBY2", @disabled = "disabled" })


                        </div>





                    </div>
                    <hr>

                    <div class="row">


                        <div class="col-sm-3">
                            <label style="line-height:41px;">Document Created By</label>

                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(x => x.Document_Created_By, new SelectListItem[]{
                             new SelectListItem() {Text = "--Select--", Value=""},
                             new SelectListItem() {Text = "Distributor", Value="Distributor"},
                             new SelectListItem() {Text = "Testator", Value="Testator"}}, new { @class = "form-control validate[required]", @id = "ddldocumentcreatedby1" })
                            @Html.HiddenFor(m => m.Document_Created_By_ID, new { id = "Document_Created_By_ID" })
                            @Html.HiddenFor(m => m.Document_Created_By_txt, new { id = "Document_Created_By_txt" })

                        </div>

                        <div class="col-sm-3">
                            <label style="line-height:41px;">Amount Paid By</label>

                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(x => x.Amt_Paid_By, new SelectListItem[]{
                            new SelectListItem() {Text = "--Select--", Value=""},
                            new SelectListItem() {Text = "Distributor", Value="Distributor"},
                            new SelectListItem() {Text = "Testator", Value="Testator"}}, new { @class = "form-control validate[required]", id = "DDLAmtPaidBY3" })
                            @Html.HiddenFor(m => m.Amt_Paid_By_By_ID, new { id = "Amt_Paid_By_By_ID" })
                            @Html.HiddenFor(m => m.Amt_Paid_By_txt, new { id = "Amt_Paid_By_txt" })

                        </div>




                    </div>
                    <hr>

                    <div class="row">

                        <div class="col-sm-3">
                            <label for="input-1">Enter Coupon Number</label>

                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.txtCoupon, new { @class = "form-control  text-input", @onblur = "blurFunction()", @id = "txtcoupon", @onchange = "checkcoupon(this.value)", @placeholder = "Enter Coupon Number", @autocomplete = "off" })
                            <span style="color:red; display:none" id="lblerrmsg">Invalid Coupon Number</span>
                            <span style="color:green; display:none" id="lblerrsuccess">Coupon Number Applied</span>
                            <span style="color:red; display:none" id="lblerr">Numbers Only</span>
                            <span style="color:red; display:none" id="lblexpire">Coupon Number Has Been Expired</span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" id="alert-success" formaction="insertDocumentDetails" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Submit</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>




@*end*@


@if (ViewBag.Type == "create")
{

    <script>
        $(document).one('ready', function () {

            clickbtn();


        });


        function clickbtn() {

            $("#btncreate").on("click", function () { });

            $("#btncreate").click(); //trigger event after listening to it.
            $('#btncreate').dialog('close');
            return false;

        }





    </script>

}

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
@*for Country dropdown*@
@if (ViewBag.Message == "Verified")
{
    <script>

        $(document).ready(function () {
            $("#ADDTestatorFormData").on("click", function () { });

            $("#ADDTestatorFormData").click(); //trigger event after listening to it.

        });
    </script>

}


@if (ViewBag.Message == "link")
{
    <script>

        $(document).ready(function () {
            $("#testatorlinkcheck").on("click", function () { });

            $("#testatorlinkcheck").click(); //trigger event after listening to it.

        });
    </script>

}






<script>




    function gettxtemail(value) {
        $.ajax({

            type: "POST",
            url:"@Url.Action("onchangeemailtxt", "AddTestatorsForm")",
            success: function (data) {

                if (data == "true") {
                    $("#emailchk").on("click", function () { });

                    $("#emailchk").click(); //trigger event after listening to it.

                    $("#txtEmail").val("");
                }
            }
        });
    }




        function gettxtmobile(value) {
        $.ajax({

            type: "POST",
            url:"@Url.Action("onchangemobiletxt", "AddTestatorsForm")",
            success: function (data) {

                if (data == "true") {
                    $("#mobilechk").on("click", function () { });

                    $("#mobilechk").click(); //trigger event after listening to it.

                    $("#txtmobile").val("");
                }
            }
        });
    }



    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindCountryDDL", "AddTestatorsForm")",
            success: function (data) {
                $('#ddlcountry').empty().append(data);
            }
        });


    });


</script>

<script>




    $("#ddlcountry").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcountry option:selected").html();

        $("#countrytext").val(text);
        $("#countryid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindState", "AddTestatorsForm")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlstate').empty().append(data);
            }



        });



    });






    $("#ddlgender").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlgender option:selected").html();

        $("#Gendertext").val(text);
        $("#GenderId").val(value);






    });




    $("#ddlreligion").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlreligion option:selected").html();

        $("#Religiontext").val(text);
        $("#ReligionId").val(value);






    });


    $("#ddlmaritalstatus").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlmaritalstatus option:selected").html();

        $("#material_status_txt").val(text);
        $("#material_status_id").val(value);






    });



</script>
@*end*@




@*for State dropdown*@

@*<script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",
                url:"@Url.Action("BindStateDDL", "AddTestatorsForm")",
                success: function (data) {
                    $('#ddlstate').append(data);
                }
            });


        });


    </script>*@

<script>
    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);



        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddTestatorsForm")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').empty().append(data);
            }



        });





    });
</script>
@*end*@







@*for city dropdown*@

@*<script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",
                url:"@Url.Action("BindCityDDL", "AddTestatorsForm")",
                success: function (data) {
                    $('#ddlcity').append(data);
                }
            });


        });


    </script>*@

<script>
    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlcity option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);
    });
</script>
@*end*@


<script>
    $("#ddldocumentcreatedby1").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddldocumentcreatedby1 option:selected").html();

        $("#Document_Created_By_txt").val(text);
        $("#Document_Created_By_ID").val(value);




    });



    $("#ddldocumenttype").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddldocumenttype option:selected").html();

        $("#documenttype").val(text);
        $("#documenttype").val(value);




    });




    $("#Identity_Proof").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#Identity_Proof option:selected").html();

        $("#Identity_Proof_txt").val(text);
        $("#Identity_Proof_ID").val(value);




    });



</script>


<script>
    $("#DDLAmtPaidBY3").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#DDLAmtPaidBY3 option:selected").html();

        $("#Amt_Paid_By_txt").val(text);
        $("#Amt_Paid_By_ID").val(value);



    });
</script>


<script type="text/javascript">
    function updateParent() {
        document.forms["PopUp"].submit();
        window.opener.location.reload();
        window.close();
    }
</script>


<script>
    $(document).ready(function () {
        $("#TestatorForm").validationEngine();
    });
</script>




@*validation script*@
<script>
    function getIdentityselection(id) {

        $("#Identity_Proof_txt").val(id);


        if (id == "Aadhaar Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[adharCard]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[Passport]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[carnumber]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[pannumber]] text-input' id='Identity_Proof_Value' name='Identity_Proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>

<script>
    function getAltIdentityselection(id) {

        $("#Alt_Identity_Proof").val(id);


        if (id == "Aadhaar Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control validate[custom[adharCard]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control validate[custom[Passport]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control validate[custom[carnumber]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt2").empty().append("<input type='text' class='form-control validate[custom[pannumber]] text-input' id='Alt_Identity_proof_Value' name='Alt_Identity_proof_Value' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>

@*end*@


<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddTestatorsForm")",
            success: function (data) {
                $('#ddlrelation').empty().append(data);
            }
        });


    });


        $("#ddlrelation").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlrelation option:selected").html();

            $("#relationtext").val(text);
            $("#relationid").val(value);


        });

</script>



<script>

    	$(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindDistributorDDL", "AddTestatorsForm")",
            success: function (data) {
                $('#ddlDistributor').empty().append(data);
            }
        });


    });


    $("#ddlDistributor").change(function () {
            var value = $(this).children(":selected").attr("value");
        var text = $("#ddlDistributor option:selected").html();

        $("#distributor_txt").val(text);
        $("#distributor_id").val(value);


    });

</script>



<script>



    $("#checkone").click(function () {

        if ($("#checkone").is(":checked")) {
            var x = $("#checkone").val();
            $("#documenttype").append(x);

            $('#DDLAmtPaidBY2').prop('disabled', false);
        }
        else {

            $('#DDLAmtPaidBY2').prop('disabled', true);
        }



    });




    $("#checktwo").click(function () {



        if ($("#checktwo").is(":checked")) {
            var x = $("#checktwo").val();
            $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
        }



    });



    $("#checkthree").click(function () {

        if ($("#checkthree").is(":checked")) {
            var x = $("#checkthree").val();
            $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
        }




    });

    $("#checkfour").click(function () {

        if ($("#checkfour").is(":checked")) {
            var x = $("#checkfour").val();
            $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
        }




    });


    $("#checkfive").click(function () {

        if ($("#checkfive").is(":checked")) {
            var x = $("#checkfive").val();
            $("#documenttype").append(x);
            $('#DDLAmtPaidBY2').prop('disabled', false);
        }




    });







</script>






