@model WillAssure.Models.AppointeesModel
@{
    ViewBag.Title = "EditAppointeesPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-table"></i>Appointees Data</div>
                    <div class="card-body">

                        <div class="col-sm-3">
                            <select id='DDLTestator' onchange="getDDLTestator(this.value)" name="contentList" class='form-control validate[required]'></select>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table id="default-datatable" class="table table-bordered">
                                <thead>
                                    <tr class="ui-widget-header">
                                        <th>Id</th>
                                        <th>documentId</th>
                                        <th>Type</th>
                                        <th>subType</th>
                                        <th>Name</th>
                                        <th>middleName</th>
                                        <th>Surname</th>
                                        <th>Identity Proof</th>
                                        <th>Identity Proof Value</th>
                                        <th>Alt Identity Proof</th>
                                        <th>Alt Identity Proof Value</th>
                                        <th>DOB</th>
                                        <th>Gender</th>
                                        <th>Occupation</th>
                                        <th>Relationship</th>
                                        <th>Address1</th>
                                        <th>Address2</th>
                                        <th>Address3</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Pin</th>
                                        <th>dateCreated</th>
                                        <th>Rid</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody id="AppointeesData"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Row-->


      <input type="button" style="display:none;" id="btnappointeesdelete" name="name" value="" />
    </div>


</div>









@*end*@





<script>

    $(document).ready(function () {

        @*$.ajax({

            type: "POST",
            url:"@Url.Action("BindAppointeesFormData", "EditAppointees")",
            success: function (data) {
                $('#AppointeesData').empty().append(data);
            }
        });*@



        $.ajax({

            type: "POST",
            url:"@Url.Action("BindTestatorDDL", "EditAppointees")",
                  success: function (data) {

                      $('#DDLTestator').append(data);
                      



                
            }
          });


    });




</script>

<script>


    function Edit(id) {


        var id = id;



            $.ajax({

            type: "POST",
            url: "@Url.Action("UpdateAppointees", "EditAppointees")",
            data: {  "send": "" + id + ""   },
            success: function (data) {


                var NestId = data
                var url = "/UpdateAppointees/UpdateAppointeesIndex?NestId=" + NestId;
                window.location.href = url;


            }



        });

    }




      $(document).on('click', '.deletenotification', function () {

        var $tr = $(this).closest('tr');
        var id = $(this).attr('id');
    
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this record!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(name => {
                if (!name) throw null;

                  $.ajax({

            type: "POST",
            url: "@Url.Action("DeleteAppointeesRecords", "EditAppointees")",
            data: {  "send": "" + id + ""   },
            success: function (data) {
                $("#btnappointeesdelete").on("click", function () { });

                $("#btnappointeesdelete").click(); //trigger event after listening to it.

                $('#AppointeesData').empty().append(data).reload();
               }
                 });
            })
            .then(results => {
                return results.json();
            })
            .then(json => {
                const message = json.message;
                const response = json.response;
                if (response == 0) {
                    $tr.fadeOut();
                    swal({
                        title: 'Deleted',
                        text: message,
                        icon: "success",
                    })
                        .then(willDelete => {

                        })
                }
            })
            //.catch(err => {
            //    if (err) {
            //        swal("Oh noes!", "The AJAX request failed!", "error");
            //    } else {
            //        swal.stopLoading();
            //        swal.close();
            //    }
            //});
    });



    function getDDLTestator(value) {
        //var value = $(this).children(":selected").attr("value");
        var text = $("#DDLTestator option:selected").html();





        $("#ddltestatorname").val(text);
        $("#ddltid").val(value);
        var checkstatus =  $("#txtcheck").val();

             $.ajax({

            type: "POST",
            url:"@Url.Action("BindAppointeesFormData", "EditAppointees")",
                 data: { value: value },
            success: function (data) {
                
         
                $('#AppointeesData').empty().append(data);
                      



                
            }
        });





    };



   

</script>





