@model WillAssure.Models.RoleAssignModel
@{
    ViewBag.Title = "AddRoleAssignmentPageContent";
}


@*Main Content*@
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="card-title text-primary">Role Assignment</div>
                        <hr>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RoleAssignForm" }))
                        {

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Role</label>
                                        <select id="ddlrole" class="form-control validate[required]">
                                            <option value="">--Select Role--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.ddlroleid, new { id = "ddlroleid" })
                                        @Html.HiddenFor(m => m.ddlroletxt, new { id = "ddlroletxt" })
                                    </div>
                                </div>



                            </div>

                            <div class="row" style="display:none;" id="pagedata">
                                <div class="col-sm-6">
                                    <input type="checkbox" id="checkAll">Check All
                                    <hr />
                                    <table class="table assigntbl">

                                        <tbody>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Roles">Roles</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="RolesAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="RolesEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="RolesDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="AssignRoles">RoleAssign</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AssignRolesAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AssignRolesEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AssignRolesDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Distributor">Distributor</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="DistributorAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="DistributorEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="DistributorDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="WillEmployee">WillEmployee</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="WillEmployeeAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="WillEmployeeEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="WillEmployeeDelete">Delete</label></td>
                                            </tr>


                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="DistributorEmployee">DistributorEmployee</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="DistributorEmployeeAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="DistributorEmployeeEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="DistributorEmployeeDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Testators">Testators</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="TestatorsAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="TestatorsEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="TestatorsDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="TestatorsFamily">Testators Family</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="TestatorsFamilyAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="TestatorsFamilyEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="TestatorsFamilyDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="AssetType">Asset Type</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AssetTypeAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AssetTypeEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AssetTypeDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="AssetCategory">Asset Category</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AssetCategoryAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AssetCategoryEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AssetCategoryDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="AssetControlsMapping">Asset Controls Mapping</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AssetControlsMappingAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AssetControlsMappingEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AssetControlsMappingDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="AssetInformation">Asset Information</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AssetInformationAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AssetInformationEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AssetInformationDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Relation">Relation</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="RelationAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="RelationEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="RelationDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Beneficiary">Beneficiary</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="BeneficiaryAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="BeneficiaryEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="BeneficiaryDelete">Delete</label></td>
                                            </tr>
                                            @*<tr>
                                    <td style="font-weight:bolder"><input type="checkbox" id="AlternateBeneficiary">Alternate Beneficiary</td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateBeneficiaryAdd">Add</label></td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateBeneficiaryEdit">Edit</label></td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateBeneficiaryDelete">Delete</label></td>
                                </tr>*@

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Nominee">Nominee</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="NomineeAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="NomineeEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="NomineeDelete">Delete</label></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Appointees">Appointees</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="AppointeesAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="AppointeesEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="AppointeesDelete">Delete</label></td>
                                            </tr>
                                            @*<tr>
                                    <td style="font-weight:bolder"><input type="checkbox" id="AlternateAppointees">Alternate Appointees</td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateAppointeesAdd">Add</label></td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateAppointeesEdit">Edit</label></td>
                                    <td><label class="checkbox-inline"><input type="checkbox" id="AlternateAppointeesDelete">Delete</label></td>
                                </tr>*@


                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="CreateCoupons">CreateCoupons</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="CreateCouponsAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="CreateCouponsEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="CreateCouponsDelete">Delete</label></td>
                                            </tr>



                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Mapping">Mapping</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="MappingAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="MappingEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="MappingDelete">Delete</label></td>
                                            </tr>






                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Document">Document</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="DocumentAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="DocumentEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="DocumentDelete">Delete</label></td>
                                            </tr>


                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="DocumentAllotment">Document Allotment</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="DocumentAllotmentAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="DocumentAllotmentEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="DocumentAllotmentDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="CouponAllotment">Coupon Allotment</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="CouponAllotmentAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="CouponAllotmentEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="CouponAllotmentDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Setting">Setting</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="SettingAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="SettingEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="SettingDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Liabilities">Liabilities</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="LiabilitiesAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="LiabilitiesEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="LiabilitiesDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="PetCare">PetCare</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="PetCareAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="PetCareEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="PetCareDelete">Delete</label></td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bolder"><input type="checkbox" id="Visitor">Visitor</td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="insert" id="VisitorAdd">Add</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="update" id="VisitorEdit">Edit</label></td>
                                                <td><label class="checkbox-inline"><input type="checkbox" class="delete" id="VisitorDelete">Delete</label></td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">

                                <button type="button" id="btnRoleAssignmentformsubmit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i>Assign Roles</button>
                            </div>

                        }
                    </div>

                    <input type="hidden" id="1" value="" />
                    <input type="hidden" id="2" value="" />
                    <input type="hidden" id="3" value="" />
                    <input type="hidden" id="4" value="" />
                    <input type="hidden" id="5" value="" />
                    <input type="hidden" id="6" value="" />
                    <input type="hidden" id="7" value="" />
                    <input type="hidden" id="8" value="" />
                    <input type="hidden" id="9" value="" />
                    <input type="hidden" id="10" value="" />
                    <input type="hidden" id="11" value="" />
                    <input type="hidden" id="12" value="" />
                    <input type="hidden" id="13" value="" />
                    <input type="hidden" id="14" value="" />
                    <input type="hidden" id="15" value="" />
                    <input type="hidden" id="16" value="" />
                    <input type="hidden" id="17" value="" />
                    <input type="hidden" id="18" value="" />
                    <input type="hidden" id="19" value="" />
                    <input type="hidden" id="20" value="" />
                    <input type="hidden" id="21" value="" />
                    <input type="hidden" id="22" value="" />
                    <input type="hidden" id="23" value="" />
                    <input type="hidden" id="24" value="" />
                    <input type="hidden" id="25" value="" />
                    <input type="hidden" id="26" value="" />
                    <input type="hidden" id="27" value="" />

                </div>
            </div>


        </div>

        <button type="button" id="btnRoleAssignmentCHECK" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" id="btnRoleformsubmitCHECK" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
        <button type="button" id="btnassignpagecheck" style="display:none;" class="btnpopup btn btn-primary shadow-primary px-5"><i class="icon-lock"></i></button>
    </div>


</div>
@*end*@



<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRoleddl", "AddRoleAssignment")",
            success: function (data) {
                $('#ddlrole').append(data);
            }
        });


    });



    


    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

        $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindPageDDl", "AddRoleAssignment")",
            success: function (data) {
                $('#ddlpage').append(data);
            }
        });


    });




    $("#ddlrole").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlrole option:selected").html();

        $("#ddlroletxt").val(text);
        $("#ddlroleid").val(value);

        $("#Roles").prop("checked", false);
        $("#AssignRoles").prop("checked", false);
        $("#Distributor").prop("checked", false);
        $("#WillEmployee").prop("checked", false);
        $("#DistributorEmployee").prop("checked", false);
        $("#Testators").prop("checked", false);
        $("#TestatorsFamily").prop("checked", false);
        $("#AssetType").prop("checked", false);
        $("#AssetCategory").prop("checked", false);
        $("#AssetControlsMapping").prop("checked", false);
        $("#AssetInformation").prop("checked", false);
        $("#Relation").prop("checked", false);
        $("#Beneficiary").prop("checked", false);
        $("#Nominee").prop("checked", false);
        $("#Appointees").prop("checked", false);
        $("#CreateCoupons").prop("checked", false);
        $("#Mapping").prop("checked", false);
        $("#Document").prop("checked", false);
        $("#Payment").prop("checked", false);
        $("#CouponAllotment").prop("checked", false);
        $("#Setting").prop("checked", false);
        $("#Liabilities").prop("checked", false);
        $("#PetCare").prop("checked", false);
        $("#Visitor").prop("checked", false);



        $("#RolesAdd").prop("checked", false);
        $("#AssignRolesAdd").prop("checked", false);
        $("#DistributorAdd").prop("checked", false);
        $("#WillEmployeeAdd").prop("checked", false);
        $("#DistributorEmployeeAdd").prop("checked", false);
        $("#TestatorsAdd").prop("checked", false);
        $("#TestatorsFamilyAdd").prop("checked", false);
        $("#AssetTypeAdd").prop("checked", false);
        $("#AssetCategoryAdd").prop("checked", false);
        $("#AssetControlsMappingAdd").prop("checked", false);
        $("#AssetInformationAdd").prop("checked", false);
        $("#RelationAdd").prop("checked", false);
        $("#BeneficiaryAdd").prop("checked", false);
        $("#NomineeAdd").prop("checked", false);
        $("#AppointeesAdd").prop("checked", false);
        $("#CreateCouponsAdd").prop("checked", false);
        $("#MappingAdd").prop("checked", false);
        $("#DocumentAdd").prop("checked", false);
        $("#PaymentAdd").prop("checked", false);
        $("#CouponAllotmentAdd").prop("checked", false);
        $("#SettingAdd").prop("checked", false);
        $("#LiabilitiesAdd").prop("checked", false); 
        $("#PetCareAdd").prop("checked", false);
        $("#VisitorAdd").prop("checked", false);


         $("#RolesEdit").prop("checked", false);
        $("#AssignRolesEdit").prop("checked", false);
        $("#DistributorEdit").prop("checked", false);
        $("#WillEmployeeEdit").prop("checked", false);
        $("#DistributorEmployeeEdit").prop("checked", false);
        $("#TestatorsEdit").prop("checked", false);
        $("#TestatorsFamilyEdit").prop("checked", false);
        $("#AssetTypeEdit").prop("checked", false);
        $("#AssetCategoryEdit").prop("checked", false);
        $("#AssetControlsMappingEdit").prop("checked", false);
        $("#AssetInformationEdit").prop("checked", false);
        $("#RelationEdit").prop("checked", false);
        $("#BeneficiaryEdit").prop("checked", false);
        $("#NomineeEdit").prop("checked", false);
        $("#AppointeesEdit").prop("checked", false);
        $("#CreateCouponsEdit").prop("checked", false);
        $("#MappingEdit").prop("checked", false);
        $("#DocumentEdit").prop("checked", false);
        $("#PaymentEdit").prop("checked", false);
        $("#CouponAllotmentEdit").prop("checked", false);
        $("#SettingEdit").prop("checked", false);
        $("#LiabilitiesEdit").prop("checked", false); 
        $("#PetCareEdit").prop("checked", false);
        $("#VisitorEdit").prop("checked", false);

        $("#RolesDelete").prop("checked", false);
        $("#AssignRolesDelete").prop("checked", false);
        $("#DistributorDelete").prop("checked", false);
        $("#WillEmployeeDelete").prop("checked", false);
        $("#DistributorEmployeeDelete").prop("checked", false);
        $("#TestatorsDelete").prop("checked", false);
        $("#TestatorsFamilyDelete").prop("checked", false);
        $("#AssetTypeDelete").prop("checked", false);
        $("#AssetCategoryDelete").prop("checked", false);
        $("#AssetControlsMappingDelete").prop("checked", false);
        $("#AssetInformationDelete").prop("checked", false);
        $("#RelationDelete").prop("checked", false);
        $("#BeneficiaryDelete").prop("checked", false);
        $("#NomineeDelete").prop("checked", false);
        $("#AppointeesDelete").prop("checked", false);
        $("#CreateCouponsDelete").prop("checked", false);
        $("#MappingDelete").prop("checked", false);
        $("#DocumentDelete").prop("checked", false);
        $("#PaymentDelete").prop("checked", false);
        $("#CouponAllotmentDelete").prop("checked", false);
        $("#SettingDelete").prop("checked", false);
        $("#LiabilitiesDelete").prop("checked", false); 
        $("#PetCareDelete").prop("checked", false);
        $("#VisitorDelete").prop("checked", false);

          $.ajax({

            type: "POST",
            url:"@Url.Action("CheckRoleId", "AddRoleAssignment")",
              data: {"send":""+value+""},
              success: function (data) {

                 
                  //if (data == "") {
                  //    $('input:checkbox').prop('checked', false);

                  //}

                  for (var i = 0; i < data.length; i++) {

                      //$("input[id=""]").not(this).prop('checked', this.checked);
                      
                      $("#" + data[i].PageName + "").prop("checked", true);

                      if (data[i].actinsert == "1") {

                          $("#" + data[i].PageName + "Add" + "").prop("checked", true);
                      }

                      if (data[i].actupdate == "2") {
                          $("#" + data[i].PageName + "Edit" + "").prop("checked", true);
                      }

                      if (data[i].actdelete == "3") {
                          $("#" + data[i].PageName + "Delete" + "").prop("checked", true);
                      }
                     

                      
                      //alert(data[i].actupdate);
                      //alert(data[i].actdelete);


                  }
                  
                  
                  //if (data == "0") {
                      //$("#pagedata").css("display", "none");
                      //$("#btnassignpagecheck").on("click", function () { });

                      //$("#btnassignpagecheck").click(); //trigger event after listening to it.
                  //}
            }
        });




        if (value == "") {
            $("#pagedata").css("display", "none");
        }
        else {


            $("#pagedata").css("display", "block");
        }





     

    });





 



    $("#btnRoleAssignmentformsubmit").click(function () {
     
        var roleid  = $("#ddlroleid").val();
        var add = "";
        var edit = "";
        var del = "";

        var status1 = "";
        var data1 = "";

        var status2 = "";
        var data2 = "";

        var status3 = "";
        var data3 = "";

        var status4 = "";
        var data4 = "";

        var status5 = "";
        var data5 = "";

        var status6 = "";
        var data6 = "";

        var status7 = "";
        var data7 = "";

        var status8 = "";
        var data8 = "";

        var status9 = "";
        var data9 = "";

        var status10 = "";
        var data10 = "";

        var status11 = "";
        var data11 = "";

        var status12 = "";
        var data12 = "";

        var status13 = "";
        var data13 = "";

        var status14 = "";
        var data14 = "";

        var status15 = "";
        var data15 = "";

        var status16 = "";
        var data16 = "";

        var status17 = "";
        var data17 = "";


        var status18 = "";
        var data18 = "";


        var status19 = "";
        var data19 = "";

        var status20 = "";
        var data20 = "";


        var status21 = "";
        var data21 = "";


        var status22 = "";
        var data22 = "";


        var status23 = "";
        var data23 = "";

        var status24 = "";
        var data24 = "";


        var status25 = "";
        var data25 = "";

        var status26 = "";
        var data26 = "";

        var status27 = "";
        var data27 = "";
       

        // for role
        if ($("#Roles").is(':checked')) {
            status1 = status1 + "Active";
        }
        else {
            status1 = status1 + "Inactive";
        }

        if ($("#RolesAdd").is(':checked')) {
            data1 = data1 + "1,";
        }
        else {
            data1 = data1 + "0,";
        }
        if ($("#RolesEdit").is(':checked')) {
            data1 = data1 + "2,";
        }
        else {
            data1 = data1 + "0,";
        }
        if ($("#RolesDelete").is(':checked')) {
            data1 = data1 + "3";
        }
        else {
            data1 = data1 + "0";
        }

     
        $("#1").val("update Assignment_Roles set  PageStatus= '" + status1 +"'  , Action = '"+data1+"' where PageName = 'Roles' and RoleId = "+roleid+" ");

        //end



  








        // for Company
        //if ($("#Company").is(':checked')) {
        //    status2 = status2 + "Active";
        //}
        //else {
        //    status2 = status2 + "Inactive";
        //}

        //if ($("#CompanyAdd").is(':checked')) {
        //    data2 = data2 + "1,";
        //}
        //else {
        //    data2 = data2 + "0,";
        //}
        //if ($("#CompanyEdit").is(':checked')) {
        //    data2 = data2 + "2,";
        //}
        //else {
        //    data2 = data2 + "0,";
        //}
        //if ($("#CompanyDelete").is(':checked')) {
        //    data2 = data2 + "3";
        //}
        //else {
        //    data2 = data2 + "0";
        //}

      
        //$("#2").val("update Assignment_Roles set  PageStatus= '" + status2 + "'  , Action = '" + data2 + "' where PageName = 'Company' and RoleId = " + roleid +"");

        //end





        // for Distributor
        if ($("#Distributor").is(':checked')) {
            status3 = status3 + "Active";
        }
        else {
            status3 = status3 + "Inactive";
        }

        if ($("#DistributorAdd").is(':checked')) {
            data3 = data3 + "1,";
        }
        else {
            data3 = data3 + "0,";
        }
        if ($("#DistributorEdit").is(':checked')) {
            data3 = data3 + "2,";
        }
        else {
            data3 = data3 + "0,";
        }
        if ($("#DistributorDelete").is(':checked')) {
            data3 = data3 + "3";
        }
        else {
            data3 = data3 + "0";
        }

    
        $("#3").val("update Assignment_Roles set  PageStatus= '" + status3 + "'  , Action = '" + data3 + "' where PageName = 'Distributor' and RoleId = " + roleid +"");

        //end





        // for Testators
        if ($("#Testators").is(':checked')) {
            status4 = status4 + "Active";
        }
        else {
            status4 = status4 + "Inactive";
        }

        if ($("#TestatorsAdd").is(':checked')) {
            data4 = data4 + "1,";
        }
        else {
            data4 = data4 + "0,";
        }
        if ($("#TestatorsEdit").is(':checked')) {
            data4 = data4 + "2,";
        }
        else {
            data4 = data4 + "0,";
        }
        if ($("#TestatorsDelete").is(':checked')) {
            data4 = data4 + "3";
        }
        else {
            data4 = data4 + "0";
        }

     
        $("#4").val("update Assignment_Roles set  PageStatus= '" + status4 + "'  , Action = '" + data4 + "' where PageName = 'Testators' and RoleId = " + roleid +"");

        //end





        // for TestatorsFamily
        if ($("#TestatorsFamily").is(':checked')) {
            status5 = status5 + "Active";
        }
        else {
            status5 = status5 + "Inactive";
        }

        if ($("#TestatorsFamilyAdd").is(':checked')) {
            data5 = data5 + "1,";
        }
        else {
            data5 = data5 + "0,";
        }
        if ($("#TestatorsFamilyEdit").is(':checked')) {
            data5 = data5 + "2,";
        }
        else {
            data5 = data5 + "0,";
        }
        if ($("#TestatorsFamilyDelete").is(':checked')) {
            data5 = data5 + "3";
        }
        else {
            data5 = data5 + "0";
        }

     
        $("#5").val("update Assignment_Roles set  PageStatus= '" + status5 + "'  , Action = '" + data5 + "' where PageName = 'TestatorsFamily' and RoleId = "+roleid+"");

        //end





        // for AssetType
        if ($("#AssetType").is(':checked')) {
            status6 = status6 + "Active";
        }
        else {
            status6 = status6 + "Inactive";
        }

        if ($("#AssetTypeAdd").is(':checked')) {
            data6 = data6 + "1,";
        }
        else {
            data6 = data6 + "0,";
        }
        if ($("#AssetTypeEdit").is(':checked')) {
            data6 = data6 + "2,";
        }
        else {
            data6 = data6 + "0,";
        }
        if ($("#AssetTypeDelete").is(':checked')) {
            data6 = data6 + "3";
        }
        else {
            data6 = data6 + "0";
        }

     
        $("#6").val("update Assignment_Roles set  PageStatus= '" + status6 + "'  , Action = '" + data6 + "' where PageName = 'AssetType' and RoleId = " + roleid +"");

        //end





        // for AssetCategory
        if ($("#AssetCategory").is(':checked')) {
            status7 = status7 + "Active";
        }
        else {
            status7 = status7 + "Inactive";
        }

        if ($("#AssetCategoryAdd").is(':checked')) {
            data7 = data7 + "1,";
        }
        else {
            data7 = data7 + "0,";
        }
        if ($("#AssetCategoryEdit").is(':checked')) {
            data7 = data7 + "2,";
        }
        else {
            data7 = data7 + "0,";
        }
        if ($("#AssetCategoryDelete").is(':checked')) {
            data7 = data7 + "3";
        }
        else {
            data7 = data7 + "0";
        }

      
        $("#7").val("update Assignment_Roles set  PageStatus= '" + status7 + "'  , Action = '" + data7 + "' where PageName = 'AssetCategory' and RoleId = " + roleid +"");

        //end




        // for AssetControlsMapping
        if ($("#AssetControlsMapping").is(':checked')) {
            status8 = status8 + "Active";
        }
        else {
            status8 = status8 + "Inactive";
        }

        if ($("#AssetControlsMappingAdd").is(':checked')) {
            data8 = data8 + "1,";
        }
        else {
            data8 = data8 + "0,";
        }
        if ($("#AssetControlsMappingEdit").is(':checked')) {
            data8 = data8 + "2,";
        }
        else {
            data8 = data8 + "0,";
        }
        if ($("#AssetControlsMappingDelete").is(':checked')) {
            data8 = data8 + "3";
        }
        else {
            data8 = data8 + "0";
        }

  
        $("#8").val("update Assignment_Roles set  PageStatus= '" + status8 + "'  , Action = '" + data8 + "' where PageName = 'AssetControlsMapping' and RoleId = " + roleid +"");

        //end




        // for AssetInformation
        if ($("#AssetInformation").is(':checked')) {
            status9 = status9 + "Active";
        }
        else {
            status9 = status9 + "Inactive";
        }

        if ($("#AssetInformationAdd").is(':checked')) {
            data9 = data9 + "1,";
        }
        else {
            data9 = data9 + "0,";
        }
        if ($("#AssetInformationEdit").is(':checked')) {
            data9 = data9 + "2,";
        }
        else {
            data9 = data9 + "0,";
        }
        if ($("#AssetInformationDelete").is(':checked')) {
            data9 = data9 + "3";
        }
        else {
            data9 = data9 + "0";
        }

     
        $("#9").val("update Assignment_Roles set  PageStatus= '" + status9 + "'  , Action = '" + data9 + "' where PageName = 'AssetInformation' and RoleId = " + roleid +"");

        //end




        // for Relation
        if ($("#Relation").is(':checked')) {
            status10 = status10 + "Active";
        }
        else {
            status10 = status10 + "Inactive";
        }

        if ($("#RelationAdd").is(':checked')) {
            data10 = data10 + "1,";
        }
        else {
            data10 = data10 + "0,";
        }
        if ($("#RelationEdit").is(':checked')) {
            data10 = data10 + "2,";
        }
        else {
            data10 = data10 + "0,";
        }
        if ($("#RelationDelete").is(':checked')) {
            data10 = data10 + "3";
        }
        else {
            data10 = data10 + "0";
        }

       
        $("#10").val("update Assignment_Roles set  PageStatus= '" + status10 + "'  , Action = '" + data10 + "' where PageName = 'Relation' and RoleId = " + roleid +"");

        //end



        // for Beneficiary
        if ($("#Beneficiary").is(':checked')) {
            status11 = status11 + "Active";
        }
        else {
            status11 = status11 + "Inactive";
        }

        if ($("#BeneficiaryAdd").is(':checked')) {
            data11 = data11 + "1,";
        }
        else {
            data11 = data11 + "0,";
        }
        if ($("#BeneficiaryEdit").is(':checked')) {
            data11 = data11 + "2,";
        }
        else {
            data11 = data11 + "0,";
        }
        if ($("#BeneficiaryDelete").is(':checked')) {
            data11 = data11 + "3";
        }
        else {
            data11 = data11 + "0";
        }

      
        $("#11").val("update Assignment_Roles set  PageStatus= '" + status11 + "'  , Action = '" + data11 + "' where PageName = 'Beneficiary' and RoleId = " + roleid +"");

        //end




        // for AlternateBeneficiary
        if ($("#AlternateBeneficiary").is(':checked')) {
            status12 = status12 + "Active";
        }
        else {
            status12 = status12 + "Inactive";
        }

        if ($("#AlternateBeneficiaryAdd").is(':checked')) {
            data12 = data12 + "1,";
        }
        else {
            data12 = data12 + "0,";
        }
        if ($("#AlternateBeneficiaryEdit").is(':checked')) {
            data12 = data12 + "2,";
        }
        else {
            data12 = data12 + "0,";
        }
        if ($("#AlternateBeneficiaryDelete").is(':checked')) {
            data12 = data12 + "3";
        }
        else {
            data12 = data12 + "0";
        }

       
        $("#12").val("update Assignment_Roles set  PageStatus= '" + status12 + "'  , Action = '" + data12 + "' where PageName = 'AlternateBeneficiary' and RoleId = " + roleid +"");

        //end




        // for Nominee
        if ($("#Nominee").is(':checked')) {
            status13 = status13 + "Active";
        }
        else {
            status13 = status13 + "Inactive";
        }

        if ($("#NomineeAdd").is(':checked')) {
            data13 = data13 + "1,";
        }
        else {
            data13 = data13 + "0,";
        }
        if ($("#NomineeEdit").is(':checked')) {
            data13 = data13 + "2,";
        }
        else {
            data13 = data13 + "0,";
        }
        if ($("#NomineeDelete").is(':checked')) {
            data13 = data13 + "3";
        }
        else {
            data13 = data13 + "0";
        }

     
        $("#13").val("update Assignment_Roles set  PageStatus= '" + status13 + "'  , Action = '" + data13 + "' where PageName = 'Nominee' and RoleId = " + roleid +"");

        //end




        // for Appointees
        if ($("#Appointees").is(':checked')) {
            status14 = status14 + "Active";
        }
        else {
            status14 = status14 + "Inactive";
        }

        if ($("#AppointeesAdd").is(':checked')) {
            data14 = data14 + "1,";
        }
        else {
            data14 = data14 + "0,";
        }
        if ($("#AppointeesEdit").is(':checked')) {
            data14 = data14 + "2,";
        }
        else {
            data14 = data14 + "0,";
        }
        if ($("#AppointeesDelete").is(':checked')) {
            data14 = data14 + "3";
        }
        else {
            data14 = data14 + "0";
        }


        $("#14").val("update Assignment_Roles set  PageStatus= '" + status14 + "'  , Action = '" + data14 + "' where PageName = 'Appointees' and RoleId = " + roleid +"");

        //end





        // for AlternateAppointees
        if ($("#AlternateAppointees").is(':checked')) {
            status15 = status15 + "Active";
        }
        else {
            status15 = status15 + "Inactive";
        }

        if ($("#AlternateAppointeesAdd").is(':checked')) {
            data15 = data15 + "1,";
        }
        else {
            data15 = data15 + "0,";
        }
        if ($("#AlternateAppointeesEdit").is(':checked')) {
            data15 = data15 + "2,";
        }
        else {
            data15 = data15 + "0,";
        }
        if ($("#AlternateAppointeesDelete").is(':checked')) {
            data15 = data15 + "3";
        }
        else {
            data15 = data15 + "0";
        }

      
        $("#15").val("update Assignment_Roles set  PageStatus= '" + status15 + "'  , Action = '" + data15 + "' where PageName = 'AlternateAppointees' and RoleId = " + roleid +"");

        //end





        // for roleassignment
        if ($("#AssignRoles").is(':checked')) {
            status16 = status16 + "Active";
        }
        else {
            status16 = status16 + "Inactive";
        }

        if ($("#AssignRolesAdd").is(':checked')) {
            data16 = data16 + "1,";
        }
        else {
            data16 = data16 + "0,";
        }
        if ($("#AssignRolesEdit").is(':checked')) {
            data16 = data16 + "2,";
        }
        else {
            data16 = data16 + "0,";
        }
        if ($("#AssignRolesDelete").is(':checked')) {
            data16 = data16 + "3";
        }
        else {
            data16 = data16 + "0";
        }


        $("#16").val("update Assignment_Roles set  PageStatus= '" + status16 + "'  , Action = '" + data16 + "' where PageName = 'AssignRoles' and RoleId = " + roleid + " ");

        //end







        // for CreateCoupons
        if ($("#CreateCoupons").is(':checked')) {
            status17 = status17 + "Active";
        }
        else {
            status17 = status17 + "Inactive";
        }

        if ($("#CreateCouponsAdd").is(':checked')) {
            data17 = data17 + "1,";
        }
        else {
            data17 = data17 + "0,";
        }
        if ($("#CreateCouponsEdit").is(':checked')) {
            data17 = data17 + "2,";
        }
        else {
            data17 = data17 + "0,";
        }
        if ($("#CreateCouponsDelete").is(':checked')) {
            data17 = data17 + "3";
        }
        else {
            data17 = data17 + "0";
        }


        $("#17").val("update Assignment_Roles set  PageStatus= '" + status17 + "'  , Action = '" + data17 + "' where PageName = 'CreateCoupons' and RoleId = " + roleid + " ");

        //end


        // for Mapping
        if ($("#Mapping").is(':checked')) {
            status18 = status18 + "Active";
        }
        else {
            status18 = status18 + "Inactive";
        }

        if ($("#MappingAdd").is(':checked')) {
            data18 = data18 + "1,";
        }
        else {
            data18 = data18 + "0,";
        }
        if ($("#MappingEdit").is(':checked')) {
            data18 = data18 + "2,";
        }
        else {
            data18 = data18 + "0,";
        }
        if ($("#MappingDelete").is(':checked')) {
            data18 = data18 + "3";
        }
        else {
            data18 = data18 + "0";
        }


        $("#18").val("update Assignment_Roles set  PageStatus= '" + status18 + "'  , Action = '" + data18 + "' where PageName = 'Mapping' and RoleId = " + roleid + " ");

        //end



        // for Document
        if ($("#Document").is(':checked')) {
            status19 = status19 + "Active";
        }
        else {
            status19 = status19 + "Inactive";
        }

        if ($("#DocumentAdd").is(':checked')) {
            data19 = data19 + "1,";
        }
        else {
            data19 = data19 + "0,";
        }
        if ($("#DocumentEdit").is(':checked')) {
            data19 = data19 + "2,";
        }
        else {
            data19 = data19 + "0,";
        }
        if ($("#DocumentDelete").is(':checked')) {
            data19 = data19 + "3";
        }
        else {
            data19 = data19 + "0";
        }


        $("#19").val("update Assignment_Roles set  PageStatus= '" + status19 + "'  , Action = '" + data19 + "' where PageName = 'Document' and RoleId = " + roleid + " ");

        //end




        // for WillEmployee
        if ($("#WillEmployee").is(':checked')) {
            status20 = status20 + "Active";
        }
        else {
            status20 = status20 + "Inactive";
        }

        if ($("#WillEmployeeAdd").is(':checked')) {
            data20 = data20 + "1,";
        }
        else {
            data20 = data20 + "0,";
        }
        if ($("#WillEmployeeEdit").is(':checked')) {
            data20 = data20 + "2,";
        }
        else {
            data20 = data20 + "0,";
        }
        if ($("#WillEmployeeDelete").is(':checked')) {
            data20 = data20 + "3";
        }
        else {
            data20 = data20 + "0";
        }


        $("#20").val("update Assignment_Roles set  PageStatus= '" + status20 + "'  , Action = '" + data20 + "' where PageName = 'WillEmployee' and RoleId = " + roleid + " ");

        //end






        // for WillEmployee
        if ($("#DistributorEmployee").is(':checked')) {
            status21 = status21 + "Active";
        }
        else {
            status21 = status21 + "Inactive";
        }

        if ($("#DistributorEmployeeAdd").is(':checked')) {
            data21 = data21 + "1,";
        }
        else {
            data21 = data21 + "0,";
        }
        if ($("#DistributorEmployeeEdit").is(':checked')) {
            data21 = data21 + "2,";
        }
        else {
            data21 = data21 + "0,";
        }
        if ($("#DistributorEmployeeDelete").is(':checked')) {
            data21 = data21 + "3";
        }
        else {
            data21 = data21 + "0";
        }


        $("#21").val("update Assignment_Roles set  PageStatus= '" + status21 + "'  , Action = '" + data21 + "' where PageName = 'DistributorEmployee' and RoleId = " + roleid + " ");

        //end






        // for Payment
        if ($("#DocumentAllotment").is(':checked')) {
            status22 = status22 + "Active";
        }
        else {
            status22 = status22 + "Inactive";
        }

        if ($("#DocumentAllotmentAdd").is(':checked')) {
            data22 = data22 + "1,";
        }
        else {
            data22 = data22 + "0,";
        }
        if ($("#DocumentAllotmentEdit").is(':checked')) {
            data22 = data22 + "2,";
        }
        else {
            data22 = data22 + "0,";
        }
        if ($("#DocumentAllotmentDelete").is(':checked')) {
            data22 = data22 + "3";
        }
        else {
            data22 = data22 + "0";
        }


        $("#22").val("update Assignment_Roles set  PageStatus= '" + status22 + "'  , Action = '" + data22 + "' where PageName = 'DocumentAllotment' and RoleId = " + roleid + " ");

        //end




        // for coupon allotement
        if ($("#CouponAllotment").is(':checked')) {
            status23 = status23 + "Active";
        }
        else {
            
            status23 = status23 + "Inactive";
        }

        if ($("#CouponAllotmentAdd").is(':checked')) {
            data23 = data23 + "1,";
        }
        else {
            data23 = data23 + "0,";
        }
        if ($("#CouponAllotmentEdit").is(':checked')) {
            data23 = data23 + "2,";
        }
        else {
            data23 = data23 + "0,";
        }
        if ($("#CouponAllotmentDelete").is(':checked')) {
            data23 = data23 + "3";
        }
        else {
            data23 = data23 + "0";
        }


        $("#23").val("update Assignment_Roles set  PageStatus= '" + status23 + "'  , Action = '" + data23 + "' where PageName = 'CouponAllotment' and RoleId = " + roleid + " ");

        //end



        // for setting
        if ($("#Setting").is(':checked')) {
            status24 = status24 + "Active";
        }
        else {

            status24 = status24 + "Inactive";
        }

        if ($("#SettingAdd").is(':checked')) {
            data24 = data24 + "1,";
        }
        else {
            data24 = data24 + "0,";
        }
        if ($("#SettingEdit").is(':checked')) {
            data24 = data24 + "2,";
        }
        else {
            data24 = data24 + "0,";
        }
        if ($("#SettingDelete").is(':checked')) {
            data24 = data24 + "3";
        }
        else {
            data24 = data24 + "0";
        }


        $("#24").val("update Assignment_Roles set  PageStatus= '" + status24 + "'  , Action = '" + data24 + "' where PageName = 'Settings' and RoleId = " + roleid + " ");

        //end




        // for Liabilities
        if ($("#Liabilities").is(':checked')) {
            status25 = status25 + "Active";
        }
        else {

            status25 = status25 + "Inactive";
        }

        if ($("#LiabilitiesAdd").is(':checked')) {
            data25 = data25 + "1,";
        }
        else {
            data25 = data25 + "0,";
        }
        if ($("#LiabilitiesEdit").is(':checked')) {
            data25 = data25 + "2,";
        }
        else {
            data25 = data25 + "0,";
        }
        if ($("#LiabilitiesDelete").is(':checked')) {
            data25 = data25 + "3";
        }
        else {
            data25 = data25 + "0";
        }


        $("#25").val("update Assignment_Roles set  PageStatus= '" + status25 + "'  , Action = '" + data25 + "' where PageName = 'Liabilities' and RoleId = " + roleid + " ");

        //end


        // for PetCare
        if ($("#PetCare").is(':checked')) {
            status26 = status26 + "Active";
        }
        else {

            status26 = status26 + "Inactive";
        }

        if ($("#PetCareAdd").is(':checked')) {
            data26 = data26 + "1,";
        }
        else {
            data26 = data26 + "0,";
        }
        if ($("#PetCareEdit").is(':checked')) {
            data26 = data26 + "2,";
        }
        else {
            data26 = data26 + "0,";
        }
        if ($("#PetCareDelete").is(':checked')) {
            data26 = data26 + "3";
        }
        else {
            data26 = data26 + "0";
        }


        $("#26").val("update Assignment_Roles set  PageStatus= '" + status26 + "'  , Action = '" + data26 + "' where PageName = 'PetCare' and RoleId = " + roleid + " ");

        //end



        // for Visitor
        if ($("#Visitor").is(':checked')) {
            status27 = status27 + "Active";
        }
        else {

            status27 = status27 + "Inactive";
        }

        if ($("#VisitorAdd").is(':checked')) {
            data27 = data27 + "1,";
        }
        else {
            data27 = data27 + "0,";
        }
        if ($("#VisitorEdit").is(':checked')) {
            data27 = data27 + "2,";
        }
        else {
            data27 = data27 + "0,";
        }
        if ($("#VisitorDelete").is(':checked')) {
            data27 = data27 + "3";
        }
        else {
            data27 = data27 + "0";
        }


        $("#27").val("update Assignment_Roles set  PageStatus= '" + status27 + "'  , Action = '" + data27 + "' where PageName = 'Visitor' and RoleId = " + roleid + " ");

        //end





      //  + $("#2").val() + "~"
        var AllData = $("#1").val() + "~" + $("#3").val() + "~" + $("#4").val() + "~" + $("#5").val() + "~" + $("#6").val() + "~" + $("#7").val() + "~" + $("#8").val() + "~" + $("#9").val() + "~" + $("#10").val() + "~" + $("#11").val() + "~" + $("#12").val() + "~" + $("#13").val() + "~" + $("#14").val() + "~" + $("#15").val() + "~" + $("#16").val() + "~" + $("#17").val() + "~" + $("#18").val() + "~" + $("#19").val() + "~" + $("#20").val() + "~" + $("#21").val() + "~" + $("#22").val() + "~" + $("#23").val() + "~" + $("#24").val() + "~" + $("#25").val() + "~" + $("#26").val() + "~" + $("#27").val(); 


          $.ajax({

            type: "POST",
              data: { data: AllData, roleid: roleid },
            url:"@Url.Action("GetAssignRoles", "AddRoleAssignment")",
              success: function (data) {
                 
                  $("#btnRoleAssignmentCHECK").on("click", function () { });

                  $("#btnRoleAssignmentCHECK").click(); //trigger event after listening to it.

                  $("#btnRoleAssignmentformsubmit").on("click", function () { });

                  $("#btnRoleAssignmentformsubmit").click();
                  
                  $("#pagedata").css("display", "block");
                  location.reload();
                
            }
        });

        


    });







    $("#Roles").click(function () {
        $("input[id='RolesAdd']").not(this).prop('checked', this.checked);
        $("input[id='RolesEdit']").not(this).prop('checked', this.checked);
        $("input[id='RolesDelete']").not(this).prop('checked', this.checked);
    });


    $("#AssignRoles").click(function () {
        $("input[id='AssignRolesAdd']").not(this).prop('checked', this.checked);
        $("input[id='AssignRolesEdit']").not(this).prop('checked', this.checked);
        $("input[id='AssignRolesDelete']").not(this).prop('checked', this.checked);
    });



    $("#Distributor").click(function () {
        $("input[id='DistributorAdd']").not(this).prop('checked', this.checked);
        $("input[id='DistributorEdit']").not(this).prop('checked', this.checked);
        $("input[id='DistributorDelete']").not(this).prop('checked', this.checked);
    });



    $("#WillEmployee").click(function () {
        $("input[id='WillEmployeeAdd']").not(this).prop('checked', this.checked);
        $("input[id='WillEmployeeEdit']").not(this).prop('checked', this.checked);
        $("input[id='WillEmployeeDelete']").not(this).prop('checked', this.checked);
    });



    $("#DistributorEmployee").click(function () {
        $("input[id='DistributorEmployeeAdd']").not(this).prop('checked', this.checked);
        $("input[id='DistributorEmployeeEdit']").not(this).prop('checked', this.checked);
        $("input[id='DistributorEmployeeDelete']").not(this).prop('checked', this.checked);
    });



    $("#Testators").click(function () {
        $("input[id='TestatorsAdd']").not(this).prop('checked', this.checked);
        $("input[id='TestatorsEdit']").not(this).prop('checked', this.checked);
        $("input[id='TestatorsDelete']").not(this).prop('checked', this.checked);
    });



    $("#TestatorsFamily").click(function () {
        $("input[id='TestatorsFamilyAdd']").not(this).prop('checked', this.checked);
        $("input[id='TestatorsFamilyEdit']").not(this).prop('checked', this.checked);
        $("input[id='TestatorsFamilyDelete']").not(this).prop('checked', this.checked);
    });



    $("#AssetType").click(function () {
        $("input[id='AssetTypeAdd']").not(this).prop('checked', this.checked);
        $("input[id='AssetTypeEdit']").not(this).prop('checked', this.checked);
        $("input[id='AssetTypeDelete']").not(this).prop('checked', this.checked);
    });



    $("#AssetCategory").click(function () {
        $("input[id='AssetCategoryAdd']").not(this).prop('checked', this.checked);
        $("input[id='AssetCategoryEdit']").not(this).prop('checked', this.checked);
        $("input[id='AssetCategoryDelete']").not(this).prop('checked', this.checked);
    });


    $("#AssetControlsMapping").click(function () {
        $("input[id='AssetControlsMappingAdd']").not(this).prop('checked', this.checked);
        $("input[id='AssetControlsMappingEdit']").not(this).prop('checked', this.checked);
        $("input[id='AssetControlsMappingDelete']").not(this).prop('checked', this.checked);
    });



    $("#AssetInformation").click(function () {
        $("input[id='AssetInformationAdd']").not(this).prop('checked', this.checked);
        $("input[id='AssetInformationEdit']").not(this).prop('checked', this.checked);
        $("input[id='AssetInformationDelete']").not(this).prop('checked', this.checked);
    });



    $("#Relation").click(function () {
        $("input[id='RelationAdd']").not(this).prop('checked', this.checked);
        $("input[id='RelationEdit']").not(this).prop('checked', this.checked);
        $("input[id='RelationDelete']").not(this).prop('checked', this.checked);
    });



    $("#Beneficiary").click(function () {
        $("input[id='BeneficiaryAdd']").not(this).prop('checked', this.checked);
        $("input[id='BeneficiaryEdit']").not(this).prop('checked', this.checked);
        $("input[id='BeneficiaryDelete']").not(this).prop('checked', this.checked);
    });



    $("#Nominee").click(function () {
        $("input[id='NomineeAdd']").not(this).prop('checked', this.checked);
        $("input[id='NomineeEdit']").not(this).prop('checked', this.checked);
        $("input[id='NomineeDelete']").not(this).prop('checked', this.checked);
    });



    $("#Appointees").click(function () {
        $("input[id='AppointeesAdd']").not(this).prop('checked', this.checked);
        $("input[id='AppointeesEdit']").not(this).prop('checked', this.checked);
        $("input[id='AppointeesDelete']").not(this).prop('checked', this.checked);
    });



    $("#CreateCoupons").click(function () {
        $("input[id='CreateCouponsAdd']").not(this).prop('checked', this.checked);
        $("input[id='CreateCouponsEdit']").not(this).prop('checked', this.checked);
        $("input[id='CreateCouponsDelete']").not(this).prop('checked', this.checked);
    });



    $("#Mapping").click(function () {
        $("input[id='MappingAdd']").not(this).prop('checked', this.checked);
        $("input[id='MappingEdit']").not(this).prop('checked', this.checked);
        $("input[id='MappingDelete']").not(this).prop('checked', this.checked);
    });



    $("#Document").click(function () {
        $("input[id='DocumentAdd']").not(this).prop('checked', this.checked);
        $("input[id='DocumentEdit']").not(this).prop('checked', this.checked);
        $("input[id='DocumentDelete']").not(this).prop('checked', this.checked);
    });



    $("#Payment").click(function () {
        $("input[id='PaymentAdd']").not(this).prop('checked', this.checked);
        $("input[id='PaymentEdit']").not(this).prop('checked', this.checked);
        $("input[id='PaymentDelete']").not(this).prop('checked', this.checked);
    });


    $("#CouponAllotment").click(function () {
        $("input[id='CouponAllotmentAdd']").not(this).prop('checked', this.checked);
        $("input[id='CouponAllotmentEdit']").not(this).prop('checked', this.checked);
        $("input[id='CouponAllotmentDelete']").not(this).prop('checked', this.checked);
    });


    $("#Setting").click(function () {
        $("input[id='SettingAdd']").not(this).prop('checked', this.checked);
        $("input[id='SettingEdit']").not(this).prop('checked', this.checked);
        $("input[id='SettingDelete']").not(this).prop('checked', this.checked);
    }); 

    $("#Liabilities").click(function () {
        $("input[id='LiabilitiesAdd']").not(this).prop('checked', this.checked);
        $("input[id='LiabilitiesEdit']").not(this).prop('checked', this.checked);
        $("input[id='LiabilitiesDelete']").not(this).prop('checked', this.checked);
    }); 


    $("#PetCare").click(function () {
        $("input[id='PetCareAdd']").not(this).prop('checked', this.checked);
        $("input[id='PetCareEdit']").not(this).prop('checked', this.checked);
        $("input[id='PetCareDelete']").not(this).prop('checked', this.checked);
    });
</script>





   






