@model WillAssure.Models.BeneficiaryModel
@{
    /**/

    ViewBag.Title = "UpdateBeneficiary";
}


<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row pt-2 pb-2">

            <div class="col-sm-3">
                <div class="btn-group float-sm-right">

                    <div class="dropdown-menu">
                        <a href="javaScript:void();" class="dropdown-item">Action</a>
                        <a href="javaScript:void();" class="dropdown-item">Another action</a>
                        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="card-title text-primary">Add Beneficiary</div>



                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "BeneficiaryForm" }))
                        {
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">First Name</label>
                                        @Html.HiddenFor(m => m.bpId)
                                        @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control validate[required] text-input", @id = "txtFirst_Name", @placeholder = "Enter First Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Last Name</label>

                                        @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control validate[required] text-input", @id = "txtLast_Name", @placeholder = "Enter Last Name", @autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-1">Middle Name</label>
                                        @Html.TextBoxFor(m => m.Middle_Name, new { @class = "form-control validate[required] text-input", @id = "txtMiddle_Name", @placeholder = "Enter Middle Name", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-3">

                                    <div class="form-group">
                                        <label for="input-1">Date Of Birth</label>

                                        <div id="datepicker" class="input-group date" data-date-format="yyyy-dd-mm">
                                            <input class="form-control validate[required]" type="text" id="DOB" name="DOB" autocomplete="off" placeholder="Select Date Of Birth" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Mobile</label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control validate[required,custom[Mobile],maxSize[10]] text-input", @id = "txtMobile", @placeholder = "Enter Mobile", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Relationship</label>
                                        <select id="ddlrelation" class="form-control validate[required]">
                                            <option value="">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.RelationshipId, new { id = "relationid" })
                                        @Html.HiddenFor(m => m.RelationshipTxt, new { id = "relationtext" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Marital Status</label>
                                        @Html.DropDownListFor(x => x.Marital_Status, new SelectListItem[]{
                                        new SelectListItem() {Text = "--Select--", Value=""},
                                        new SelectListItem() {Text = "Married", Value="Married"},
                                        new SelectListItem() {Text = "UnMarried", Value="UnMarried"}} , new { @class= "form-control validate[required]", @id = "ddlMarital_Status" })
                                        @Html.HiddenFor(m => m.Marital_Status_TXT, new { @id = "Marital_Status_TXT" })
                                        @Html.HiddenFor(m => m.Marital_Status_ID, new { @id = "Marital_Status_ID" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Religion</label>
                                        @Html.DropDownListFor(x => x.Religion, new SelectListItem[]{
                                 new SelectListItem() {Text = "--Select--", Value=""},
                                 new SelectListItem() {Text = "Buddhism", Value="Buddhism"},
                                 new SelectListItem() {Text = "Christians", Value="Christians"},
                                 new SelectListItem() {Text = "Hinduism", Value="Hinduism"},
                                 new SelectListItem() {Text = "Islam", Value="Islam"},
                                 new SelectListItem() {Text = "Jainism", Value="Jainism"},
                                 new SelectListItem() {Text = "Sikhism", Value="Sikhism"},
                                 new SelectListItem() {Text = "Zoroastrian", Value="Zoroastrian"},
                                 new SelectListItem() {Text = "Guru Nanak Dev", Value="Guru Nanak Dev"},
                                 new SelectListItem() {Text = "Lord Mahavira", Value="Lord Mahavira"},
                                 new SelectListItem() {Text = "Adi Shankaracharya", Value="Adi Shankaracharya"}}, new { @class = "form-control validate[required]", @id = "ddlReligion" })
                                        @Html.HiddenFor(m => m.Religion_txt, new { @id = "Religion_txt" })
                                        @Html.HiddenFor(m => m.Religion_id, new { @id = "Religion_id" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof</label>
                                        @Html.DropDownListFor(x => x.Identity_proof, new SelectListItem[]{
                                   new SelectListItem() {Text = "--Select Identity Proof--", Value=""},
                                   new SelectListItem() {Text = "Aadhaar Card", Value="Aadhaar Card"},
                                   new SelectListItem() {Text = "Passport", Value="Passport"},
                                   new SelectListItem() {Text = "Driving Licences", Value="Driving Licences"},
                                   new SelectListItem() {Text = "Pan Card", Value="Pan Card"}} , new { @class= "form-control validate[required]", @id="ddlidentityproof" , @onchange= "getIdentityselection(this.options[this.selectedIndex].innerHTML)" })

                                        @Html.HiddenFor(m => m.Identity_proof, new { id = "Identity_Proof_txt" })
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Identity Proof Number</label>
                                        <div id="appendtxt">  </div>

                                        @*@Html.TextBoxFor(m => m.Identity_Proof_Value, new { @class = "form-control validate[required] text-input", @id = "txtIdentityProofValue", @placeholder = "Enter Identity Proof Value", @autocomplete = "off" })*@
                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alt Identity proof</label>
                                        @Html.TextBoxFor(m => m.Alt_Identity_proof, new { @class = "form-control validate[required] text-input", @id = "txtAlt_Identity_proof", @placeholder = "Enter Alt Identity proof", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Alt Identity proof value</label>
                                        @Html.TextBoxFor(m => m.Alt_Identity_proof_value, new { @class = "form-control validate[required] text-input", @id = "txtAlt_Identity_proof_value", @placeholder = "Enter Alt Identity proof value", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address1</label>
                                        @Html.TextAreaFor(m => m.Address1, new { @class = "form-control validate[required] text-input", @id = "txtAddress1", @placeholder = "Enter Your Address 1", @autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address2</label>
                                        @Html.TextAreaFor(m => m.Address2, new { @class = "form-control validate[required] text-input", @id = "txtAddress2", @placeholder = "Enter Address 2", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Address 3</label>
                                        @Html.TextAreaFor(m => m.Address3, new { @class = "form-control validate[required] text-input", @id = "txtAddress3", @placeholder = "Enter Address 3", @autocomplete = "off" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">State</label>

                                        <select id="ddlstate" class="form-control validate[required]">
                                            <option value="">--Select State--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.State_id, new { id = "stateid" })
                                        @Html.HiddenFor(m => m.State_txt, new { id = "statetext" })
                                    </div>
                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="input-1">City</label>
                                        <select id="ddlcity" class="form-control validate[required]">
                                            <option value="">--Select City--</option>
                                        </select>
                                        @Html.HiddenFor(m => m.City_id, new { id = "cityid" })
                                        @Html.HiddenFor(m => m.City_txt, new { id = "citytext" })

                                    </div>

                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">Pin</label>
                                        @Html.TextBoxFor(m => m.Pin, new { @class = "form-control validate[required,custom[integer],maxSize[6]] text-input", @id = "txtPin", @placeholder = "Enter Pin", @autocomplete = "off" })
                                    </div>
                                </div>




                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-3">beneficiary type</label>
                                        @Html.DropDownListFor(x => x.beneficiary_type, new SelectListItem[]{
                                          new SelectListItem() {Text = "--Select--", Value=""},
                                          new SelectListItem() {Text = " Will Beneficiary ", Value=" Will Beneficiary"},
                                           new SelectListItem() {Text = " POA Agent", Value=" POA Agent"},
                                            new SelectListItem() {Text = "  POA Revocation Agent", Value="  POA Revocation Agent"},
                                             new SelectListItem() {Text = "  Gift Deed Donee", Value="  Gift Deed Donee"},
                                               new SelectListItem() {Text = " Living Will Executor", Value="  Living Will Executor"},
                                          new SelectListItem() {Text = "POA Health Care Agent", Value="POA Health Care Agent"}}, new { @class = "form-control validate[required]", @id= "ddlbeneficiary_type" })

                                        @Html.HiddenFor(m => m.beneficiary_type_id, new { id = "beneficiary_type_id" })
                                        @Html.HiddenFor(m => m.beneficiary_type_txt, new { id = "beneficiary_type_txt" })
                                    </div>
                                </div>

























                            </div>



















                            <div class="form-group">
                                <button type="submit" id="btnBeneficiaryformsubmit" formaction="UpdatingBeneficiaryData" class="btn btn-success shadow-success px-5"><i class="icon-lock"></i>Update Beneficiary</button>
                                <button id="btnBeneficiaryupdated" style="display:none;"></button>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>
@*end*@



<script>
        $("#ddlMarital_Status").change(function () {
        var value = $(this).children(":selected").attr("value");
            var text = $("#ddlMarital_Status option:selected").html();

            $("#Marital_Status_TXT").val(text);
            $("#Marital_Status_ID").val(value);
        });



        $("#ddlReligion").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlReligion option:selected").html();

            $("#Religion_txt").val(text);
            $("#Religion_id").val(value);
        });




        $("#DDLIdentity_proof").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#DDLIdentity_proof option:selected").html();

            $("#Identity_proof_txt").val(text);
            $("#Identity_proof_id").val(value);
        });




    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindStateDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlstate').append(data);
            }
        });


    });



    $("#ddlstate").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#statetext").val(text);
        $("#stateid").val(value);


        $.ajax({

            type: "POST",
            url: "@Url.Action("OnChangeBindCity", "AddBeneficiary")",
            data: { "send": "" + value+  ""},
            success: function (data) {

                $('#ddlcity').append(data);
            }



        });



    });




    $("#ddlcity").change(function () {
        var value = $(this).children(":selected").attr("value");
        var text = $("#ddlstate option:selected").html();

        $("#citytext").val(text);
        $("#cityid").val(value);


    });

</script>


<script>
    $(document).ready(function () {
        $("#BeneficiaryForm").validationEngine();
    });
</script>



@if (ViewBag.Message == "RecordsInsert")
{
    <script>

        $(document).ready(function () {
            $("#btnBeneficiarySUCESS").on("click", function () { });

            $("#btnBeneficiarySUCESS").click(); //trigger event after listening to it.

        });
    </script>

}

<script>

    $(document).ready(function () {

        $.ajax({

            type: "POST",
            url:"@Url.Action("BindRelationDDL", "AddBeneficiary")",
            success: function (data) {
                $('#ddlrelation').empty().append(data);
            }
        });


    });


        $("#ddlrelation").change(function () {
            var value = $(this).children(":selected").attr("value");
            var text = $("#ddlrelation option:selected").html();

            $("#relationtext").val(text);
            $("#relationid").val(value);


        });

</script>



@*validation script*@
<script>
    function getIdentityselection(id) {

        $("#Identity_Proof_txt").val(id);


        if (id == "Aadhaar Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[adharCard]] text-input' id='Identity_proof' name='Identity_Proof_Value' placeholder='Enter Aadhaar Card' autocomplete='off'  />");
        }


        if (id == "Passport") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required,custom[Passport]] text-input' id='Identity_proof' name='Identity_Proof_Value'  placeholder='Enter Passport Number' autocomplete='off'  />");
        }



        if (id == "Driving Licences") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required] text-input' id='Identity_Proof_Value' name='Identity_proof' placeholder='Enter Driving Licences' autocomplete='off'  />");
        }



        if (id == "Pan Card") {
            $("#appendtxt").empty().append("<input type='text' class='form-control validate[required] text-input' id='Identity_Proof_Value' name='Identity_proof' placeholder='Enter Pan Card' autocomplete='off'  />");
        }


    }
</script>



@*end*@



